<div id="filter">
<div class="profile-wrapper">
  <div class="profile-wrapper-title">
    <h4><i class="ion-funnel"></i> Filters</h4>
    </div>
    <ul class="quick-links">
      <li><%= link_to("Followers", followers_user_path(@user)) %></li>
      <li><%= link_to("Following", followings_user_path(@user)) %></li>
      <li><%= link_to("Feedbacks", activities_user_path(@user, type: "feedbacks")) %></li>
      <li><%= link_to("Investments", activities_user_path(@user, type: "investments")) %></li>
    </ul>
  </div>
</div>