<div class="container">
    <div class="new-conversation-box col-md-8 auto-margin panel panel-default">
      <div class="conversation-box-header clearfix">
         <ul class="mailbox-nav margin-top">
          <li class="mailbox">
            <a href="/conversations"><i class="fa fa-chevron-left margin-right"></i> All conversations</a>
          </li>
        </ul>
        <%= link_to("Home", root_path, :class => "btn btn-primary pull-right") %>
      </div>
      <div class="form-box">
        <div class="new-conversation-form-header">
          <h5 class="bold">Send a Message</h5>
        </div>
        <%= render partial: 'form' %>
      </div>
    </div>
  </div>
