<span>
  <div class="thumbnail-wrapper d32 user-pic circular inline m-r-10">
    <% if activity.user.avatar_present? %>
      <%= image_tag(activity.user.get_avatar, data: {src: activity.user.get_avatar, src_retina: activity.user.get_avatar}) %>
    <% else %>
    <span class="placeholder no-padding bold text-white">
      <%= activity.user.name_badge %>
    </span>
    <% end %>
  </div>
  <strong class="inline text-black">
    <%= activity.user.name %>
  </strong>
  mentioned you in a <%= activity.trackable.mentioner_type.downcase %>
</span>