<div class="badges-box panel panel-default margin-bottom">
  <div class="profile-wrapper-title">
    <h4><i class="ion-trophy red-link"></i> Latest badges</h4>
    <% if @badges.length > 4 %>
      <a class="see-all" href="#">See all</a>
    <% end %>
  </div>
  <div class="idea-badges">
      <% @badges.take(6).each do |id, badge| %>
          <div class="user-badge">
          	<div class="badge-descript">
          		<div class="badge-image">
          			<img alt="" src="<%= badge.first.custom_fields[:image] %>" width="50px" />
          		</div>
          		<h2><%= badge.first.custom_fields[:name]  %></h2>
              <p class="textcenter"> <%= pluralize(badge.length, 'badge') %></p>
          	</div>
          </div>
      <% end %>
  </div>
</div>