<!-- Content
	================================================== -->
<div id="content">
	<div class="container">
		<div class="post-idea centering-box">
			<div class="profile-wrapper-title">
			<% if params[:getting_started] %>
				<h4><i class="ion-information-circled"></i> <%= current_user.name.split(" ").first %>, please read guidelines</h4>
			<% else %>
				<h4><i class="ion-briefcase"></i> <%= current_user.name.split(" ").first %>, post your idea idea</h4>
			<% end %>
			</div>
			<div class="post-your-idea">
			<% if params[:getting_started] %>
				<%= render 'getting_started' %>
			<% else %>
				<%= render 'form' %>
			<% end %>
			</div>
		</div>

	</div>
</div>
<!-- End content -->
