<div id="<%= controller_name %>_listing">
  <div class="versions-list">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2" class="no-padding p-b-20 bg-white p-t-20"><%= is_beta? ? 0 : pluralize(@versions.count, 'Update') %></th>
      </tr>
    </thead>
    <tbody>
      <% if @versions.any? %>
        <% @versions.each do |version| %>
          <% cache([version, "version"]) do %>
            <%= render partial: 'version', locals: {version: version} %>
          <% end %>
        <% end %>
      <% else %>
        <div class="no-content">No versions yet</div>
      <% end %>
    </tbody>
  </table>
  <div class="paging-container p-r-15">
    <%= will_paginate(@versions, class: 'displayblock padding-10 paging_bootstrap pull-right pagination clearfix') %>
  </div>
</div>
</div>