<div class="idea-collaboration-floating-panel">
<%= javascript_tag do %>
	var idea_collaboration_channel = pusher.subscribe("presence-idea-collaboration-<%= @idea.team_ids.join('') %>");
<% end %>

<%= react_component('OpenCollaborationBox') %>
<div id="live_message"></div>
<div class="quickview-wrapper" data-pages="quickview" id=
     "quickview">
     <ul class="nav nav-tabs no-padding bg-light-blue">
         <li class="active">
             <a><i class="fa fa-comment"></i> Team Chat</a>
         </li>
     </ul>
     <a class="btn-link quickview-toggle pg-close" data-toggle=
     "quickview"></a>
     <div class="tab-content">
         <div class="tab-pane fade in active no-padding" id=
         "quickview-chat">
             <div class="view-port clearfix" id="chat">
              <%= react_component('CollaborationBox', {form: {user_id: current_user.id, action:idea_idea_messages_path(@idea) }}.to_json) %>
             </div>
         </div>
     </div>
 </div>
</div>