<% cache([cache_key_for_ideas, params[:page]])  do %>
<div class="container p-t-40 p-b-80 xs-no-padding" id="<%= controller_name %>_listing">
  <div class="people-list">
    <div class="col-md-12 col-sm-12 sm-no-padding">
     <div class="view" id="<%= controller_name %>-list-view">
       <% if @ideas.empty? %>
         <div class="text-center fs-22 font-opensans text-master light p-t-40 p-b-40">
           <i class="fa fa-list"></i>
           <span class="clearfix">No Schools</span>
         </div>
       <% else %>
         <div class="list-view boreded no-top-border">
           <% @ideas.each do |idea| %>
            <%= render partial: 'ideas/idea', locals: {idea: idea} %>
           <% end %>
         </div>
       <% end %>
     </div>
    </div>
    <div class="paging-container p-r-15">
      <%= will_paginate(@ideas, class: 'displayblock padding-10 paging_bootstrap pull-right pagination clearfix', :"data-id" => "#{controller_name}_listing") %>
    </div>
  </div>
</div>
<% end %>