<% cache([cache_key_for_ideas, params[:page]])  do %>
  <div class="view bg-white box-shadow" id="<%= controller_name %>-list-view">
    <div class="list-view boreded no-top-border">
      <% if is_beta? %>
        <div class="no-content p-b-50">
          <div class="col-md-8 col-sm-10 auto-margin">
            <span class="fa fa-smile-o fs-50"></span>
            <h3>
              Thank you for signing up to our beta. Once we have a few ideas published you will be able to browse them here.
            </h3>
            <p class="text-center">In meantime, if you have a startup idea,
              <%= link_to("Click", new_idea_path(:intro), class: 'p-b-5 b-b b-grey text-green') %> to pitch
            </p>
          </div>
        </div>
      <% else %>
        <% @ideas.each do |idea| %>
          <ul class="no-style no-padding no-margin">
            <%= render partial: 'ideas/idea', locals: {idea: idea} %>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="paging-container p-r-15">
    <%= will_paginate(@ideas, class: 'displayblock padding-10 paging_bootstrap pull-right pagination clearfix', :"data-id" => "#{controller_name}_listing") %>
    </div>
  </div>
<% end %>