<div class="widget-16 panel no-margin no-border">
<div class="panel-heading m-b-20">
    <div class="panel-title b-b b-grey p-b-5">
      <i class="fa fa-dollar text-danger"></i> Investors
    </div>
</div>
<div class="panel-body">
    <ul class="list-unstyled">
      <%= react_component('ListingWidget', {listing: @idea.find_investors.take(16).map{|u| {name: u.name, name_badge: u.user_name_badge,  avatar: u.get_avatar,  url: profile_path(u)}}, count: @idea.investors_counter.value, path: investors_idea_path(@idea), type: "Investors" }.to_json) %>
    </ul>
    </div>
</div>