<div class="widget-16 panel no-margin widget-loader-circle">
<div class="panel-heading">
    <div class="panel-title b-b b-grey p-b-5">
      Investors
    </div>
</div>
<div class="panel-body">
    <ul class="list-unstyled">
      <% User.find(@idea.investors_ids.values).each do |investor| %>
        <li class="m-r-10">
            <div class="thumbnail-wrapper d32 circular b-white m-r-5 m-b-5 b-a b-white">
            <% if investor.avatar.present? %>
              <%= image_tag(investor.avatar.url(:avatar), :"data-src" => "#{investor.avatar.url(:avatar)}", :"data-src-retina" => "#{investor.avatar.url(:square)}", width: "35", height: "35") %>
            <% else %>
                <span class="placeholder bold text-white"><%= investor.first_name.first + investor.last_name.first %>
                </span>
            <% end %>
            </div>
        </li>
      <% end %>
      <% if @idea.investors_counter.value > 16 %>
        <li>
            <div class="thumbnail-wrapper d32 circular b-white">
                <div class="bg-master text-center text-white">
                    <span>+34</span>
                </div>
            </div>
        </li>
      <% end %>
    </ul>
    </div>
</div>