<div class="widget-11-2 panel bg-light-blue b-b b-light-grey no-margin p-b-20">
    <div class="panel-heading m-l-15">
     <div class="panel-title b-b b-grey p-b-5">
      Latest activities
      </div>
    </div>
    <div class="panel-body no-margin scrollable auto-overflow no-padding p-l-20 p-r-20">
     <div style="max-height:300px">
      <%= react_component('LatestFeed', {feed: @idea.latest_activities.revrange(0,100).paginate(:page => 1, :per_page => 10), idea_id: @idea.id, channel_name: "idea-feed-#{@idea.id}"}.to_json) %>
      </div>
    </div>
</div>