<div class="widget-16 panel no-margin no-border">
<div class="panel-heading bg-light-blue-lightest m-b-20">
    <div class="panel-title b-b b-grey p-b-5">
      <i class="fa fa-users text-danger"></i> Team Members
    </div>
</div>
<div class="panel-body">
    <ul class="list-unstyled">
      <% User.where(id: @idea.team_ids.push(@idea.user_id)).each do |member| %>
        <li class="m-r-10">
            <div class="thumbnail-wrapper d32 circular b-white m-r-5 m-b-5 b-a b-white">
            <% if member.avatar.present? %>
              <%= image_tag(member.avatar.url(:avatar), :"data-src" => "#{member.avatar.url(:avatar)}", :"data-src-retina" => "#{member.avatar.url(:square)}", width: "35", height: "35") %>
            <% else %>
                <span class="placeholder bold text-white"><%= member.first_name.first + member.last_name.first %>
                </span>
            <% end %>
            </div>
        </li>
      <% end %>
      <% if @idea.followers_counter.value > 16 %>
        <li>
            <div class="thumbnail-wrapper d32 circular b-white">
                <div class="bg-master text-center text-white">
                    <span>+34</span>
                </div>
            </div>
        </li>
      <% end %>
    </ul>
    </div>
</div>