<div class="widget-16 panel no-margin no-border">
  <div class="panel-heading bg-light-blue-lightest m-b-20">
      <div class="panel-title b-b b-grey p-b-5">
        <i class="fa fa-users text-danger"></i> Voters
      </div>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <%= react_component('ListingWidget', {listing: @idea.get_voters.take(16).map{|u| {name: u.name, name_badge: u.user_name_badge,  avatar: u.avatar.url(:avatar),  url: profile_path(u)}}, count: @idea.votes_counter.value, path: voters_idea_path(@idea), type: "followers" }.to_json) %>
    </ul>
  </div>
</div>