<div class="wrapper-small idea-bg-gradient">
  <div class="col-md-4 jumbrotron text-center auto-margin" data-pages="parallax" data-social="cover">
    <div class="hero-text inner">
      <h2 class="text-white">Browse ideas</h2>
      <h5 class="text-white">or, <%= link_to("Pitch", new_idea_path(:intro), class: 'text-white b-b b-white p-b-5') %> your own idea and share with others</h5>
    </div>
  </div>
</div>

<%= render partial: 'ideas/ideas', resource: @ideas %>


