<!-- Content
	================================================== -->
<div id="content">
	<div class="container">
			
			<% if params[:getting_started] %>
			<div class="post-idea centering-box">
				<%= render 'getting_started' %>
			</div>
			<% else %>
				<div class="post-idea centering-box">
					<div class="profile-wrapper-title">
					<h4><i class="ion-briefcase"></i> <%= current_user.name.split(" ").first %>, post your idea idea</h4>
					</div>
					<%= render 'form' %>
				</div>
			<% end %>
			</div>
		</div>

	</div>
</div>
<!-- End content -->
