<div class="register-container full-height sm-p-t-30">
	<div class="container-sm-height full-height">
	<div class="row row-sm-height">
	  <div class="col-sm-12 col-sm-height col-middle">
	   	<h1 class="bold">Join hungryhead as Student</h1>
	    <h3>Hungryhead helps you practically explore the path of <span>entrepreneurship <div class="fa fa-question-circle" data-toggle="modal" data-target="#entrepreneurShipModal">
                      </div></span></h3>
	    <p>
	      <small>Hey there, fill this form to create an account. <strong>Make sure you use your school email address.</strong></small>
	    </p>
	    <% data = {url: autocomplete_school_name_schools_path, school_namecsrf_param: request_forgery_protection_token, csrf_token: form_authenticity_token} %>
		<%= react_component('Register', {form: data}.to_json) %>
	  </div>
	</div>
	</div>
</div>

<div class="modal fade slide-right" id="entrepreneurShipModal" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content-wrapper">
	    <div class="modal-content table-block">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
	        <div class="modal-header">
	          <h1 class="text-left p-b-5"><span class="bold">Entrepreneurship</span></h1>
	        </div>
	        <div class="modal-body">
	            <div class="row">
	                <div class="col-md-12">
	                    <p class="fs-14">Entrepreneurship is the process of starting a business or other organization. The entrepreneur develops a business model, acquires the human and other required resources, and is fully responsible for its success or failure.</p>
	                </div>
	            </div>
	            <a class="text-right btn btn-primary pull-right">Read More</a>
	        </div>
	    </div>
	    </div>
	</div>
</div>

<div class="modal fade stick-up" id="addSchoolPopup" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		            <i class="pg-close"></i>
		        </button>
            <h5 class="text-left p-b-5 no-margin"><span class="semi-bold">Submit your</span> request</h5>
            <p class="text-left small">
            	We are sorry :( that we have not added your school into our database. Please enter your details using form below and we will get it added into our list as soon as possible.
            </p>
	        </div>
	        <div class="modal-body m-t-20">
	            <div class="row">
	                <div class="col-md-6">
		                <div class="form-group">
		                    <input type="text" placeholder="Your email address" class="form-control input-lg" id="icon-filter" name="user_request[email]" autofocus />
		                </div>
	                </div>
	                <div class="col-md-6">
	                	<div class="form-group">
	                    	<input type="text" placeholder="Your name" class="form-control input-lg" id="icon-filter" name="user_request[name]" />
	                   	</div>
	                </div>
	                <div class="col-md-6">
	                	<div class="form-group">
	                		<input type="text" placeholder="Your school name" class="form-control input-lg" id="icon-filter" name="user_request[school_name]" />
	                		<input type="hidden" name="user_request[user_type]" value="Student" />
	                	</div>
	                </div>

	                <div class="col-md-6 m-t-20 text-center pull-right">
	                    <button type="button" class="btn btn-green text-white pull-right fs-15">Submit</button>
	                    <small class="pull-right hinted-text p-t-20">We will get back to you in 24 hours.</small>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>