<div class="register-container full-height sm-p-t-30">
	<div class="container-sm-height full-height">
	<div class="row row-sm-height">
	  <div class="col-sm-12 col-sm-height col-middle">
	   	<h1 class="bold">Join hungryhead</h1>
	    <h3>Hungryhead helps you practically explore the path of <span>entrepreneurship <div class="fa fa-question-circle"data-toggle="tooltip" title="Entrepreneurship is the process of starting a business or other organization." data-init-plugin="tooltip" data-container="body">
                      </div></span></h3>
	    <p>
	      <small>Hey there, fill this form to create an account. <strong>Make sure you use your school email address.</strong></small>
	    </p>
	    <% data = {url: autocomplete_school_name_schools_path, school_namecsrf_param: request_forgery_protection_token, csrf_token: form_authenticity_token} %>
		<%= react_component('Register', {form: data}.to_json) %>
	  </div>
	</div>
	</div>
</div>