<%
  meta property: {
    robots: "nofollow",
    charset: "utf-8",
    google: "notranslate"
  }
%>

<%
  metamagic title: "Join now!",
     description: "Join hungryhead -  a collaborative online platform for students to start entrepreneurship",
     keywords: %w(join collaboration entrepreneurship universities schools colleges)
%>

<%
  meta twitter: {
    card: "summary_large_image",
    site: "@hungryhead_co",
    title: "Join now!",
    image: "#{image_url('Hungryhead_header.jpg')}",
    description: "Join hungryhead -  a collaborative online platform for students to start entrepreneurship",
  }
%>

<%
  meta og: {
    image: "#{image_url('Hungryhead_header.jpg')}",
    title: "Join now!",
    url: "#{request.original_url}",
    description: "Join hungryhead -  a collaborative online platform for students to start entrepreneurship",
    site_name: "Hungryhead",
    locale: "en_GB",
    type: "page"
  }
%>

<div class="register-container full-height sm-p-t-100 sm-p-b-100">
	<div class="container-sm-height full-height">
	<div class="row row-sm-height">
	  <div class="col-sm-8 col-xs-12 col-md-12 col-sm-height col-middle">
	   	<h1 class="bold b-b b-grey p-b-5 pull-left">Join</h1>
	    <h5 class="clearfix">Hungryhead is a new way to start
	    	<span class="bold inline" data-toggle="tooltip" title="Process of starting a company or business">entrepreneurship
       </span> for students
      </h5>
      <div class="student-registeration-form">
				<%= react_component('Register', {form: {url: autocomplete_school_name_schools_path}}.to_json) %>
			</div>
	  </div>
	</div>
	</div>
</div>

<div class="modal fade stick-up" id="addSchoolPopup" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
	        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
		            <i class="pg-close"></i>
		        </button>
            <h5 class="text-left p-b-5 no-margin"><span class="semi-bold">Submit your</span> request</h5>
            <p class="text-left small">
            	We are sorry :( that we have not added your school into our database. Please enter your details using form below and we will get it added into our list as soon as possible.
            </p>
	        </div>
	        <div class="modal-body m-t-20">
	            <div class="row">
	            	<div id="invite_form_2">
	            		<%= render partial: 'invite_requests/new_school' %>
	            	</div>
	            </div>
	        </div>
	    </div>
	</div>
</div>