<!-- Content 
================================================== -->
<div id="content">
<div class="signup-page">
    <div class="container">
	<div class="fill-form auto-margin panel panel-default text-center">
        <div class="profile-wrapper-title">
          <h4 class={header_class}><i class="ion-person-add red-link"></i> Signup using a social network to connect your friends</h4>
        </div>
        <ul class="social-buttons">
          <li id="facebook">
          <a class="main-button login button-facebook" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Logging in..." href="/users/auth/facebook?display=popup"> 
          <i class="fa fa-facebook"></i> Login with Facebook </a>
        </li>
          <li id="twitter">
            <a class="main-button login button-twitter" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Logging in..." href="/users/auth/twitter"> 
            <i class="fa fa-twitter"></i> Login with Twitter </a>
          </li>
          <li id="linkedin">
          <a class="main-button login button-linkedin" data-disable-with="<i class='fa fa-spinner fa-spin'></i> Logging in..." href="/users/auth/linkedin"> 
          <i class="fa fa-linkedin"></i>  Login with Linkedin </a></li>                
          
        </ul>
        <div class="signup-box-footer">
          <p>Or, <%= link_to('Signup using email', new_user_registration_path) %></a></p>
          <p>Already registered, <%= link_to('Login', new_user_session_path) %></a></p>
        </div>
         <p class="privacy-text"><strong>Privacy: </strong> We won’t share your data with your social accounts, or post anything to your feed, without your explicit permission.</p>
      </div>
    </div>
    </div>
  </div>
</div>
<!-- End content -->