<ul class="follow-list">
  <li>
    <i class="ion-person-stalker"></i> Followers
    <span><%= @user.followings.size %></span>
  </li>
  <li>
    <i class="ion-cash"></i> Coins
    <span><%= @user.balance %></span>
  </li>
  <li>
    <i class="ion-stats-bars"></i> Investments
    <span><%= @user.investments_count.blank? ? 0 : @user.investments_count %></span>
  </li>
</ul>