<span>
<div class="thumbnail-wrapper d32 user-pic circular inline m-r-10">
  <% if activity.user.avatar_present? %>
    <%= image_tag(activity.user.get_avatar, data: {src: activity.user.get_avatar, src_retina: activity.user.get_avatar}) %>
  <% else %>
  <span class="placeholder no-padding bold text-white">
    <%= activity.user.name_badge %>
  </span>
  <% end %>
</div>
<p class="overflow-hidden fs-13 no-margin">
  <strong class="inline text-black">
    <%= activity.user ==current_user ? 'You' : activity.user.name %>
  </strong>
  published an event - <%= activity.trackable.title %>
</p>
</span>