<table class="main" width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; border-radius: 3px; background: #fff; margin: 0; padding: 0; border: 1px solid #e9e9e9;">
		<tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
			<td class="content-wrap" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 20px;" valign="top">
				<table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">

        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
          <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top" align="center">
            <img src="<%= image_url('hungryhead.png')%>" alt="Hungryhead Logo" width="80px" />
          </td>
        </tr>

        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0; margin-top:20px;">
          <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
            <h3 style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 22px; line-height: 1.6; margin: 0; padding: 0;"> Hi <%= @user.name.split(' ').first %> ! </h3>
          </td>
        </tr>

        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
          <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
              Thank you for signing up to HungryHead. We are currently in beta and we will send you confirmation instructions on how to to login and other details after we have reveiwed your details.
            </p>
          </td>
        </tr>

        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
          <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0; margin-bottom: 20px;">
              Hungryhead is an online platform that simulates the real world of idea building into an online virtual environment. We bring together like-minded people for collaboration and mentoring. Here are some things you can do with hungryhead,
            </p>

            <ul class="no-style" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0; margin-left: 20px;">
              <li style="line-height: 1.6;">
                Pitch and share ideas with peers and mentors.
              </li>
              <li style="line-height: 1.6;">
                Raise virtual investments to check if your idea has some legs.
              </li>
              <li style="line-height: 1.6;">
                Get feedbacks from industry experts and peers.
              </li>
              <li style="line-height: 1.6;">
                Practically learn what it takes to be an entrepreneur.
              </li>
              <li style="line-height: 1.6;">
                Connect with relevant people from around the world.
              </li>
              <li style="line-height: 1.6;">
                Exclusive student community
              </li>
            </ul>

            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px;  line-height: 1.6; margin: 0; padding: 0; margin-top: 20px;">... Much more features coming soon!  </p>

          </td>
        </tr>

        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
          <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
          <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
           We're really happy to have you onboard, and hope you will have a good
           experience. Just send us an email if you ever have any
           questions!
          </p>

           <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px;  line-height: 1.6;margin: 0; padding: 0; margin-top: 20px;">Kind regards, </p>

          </td>
        </tr>

				<tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0;">
					<td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 20px;" valign="top">
							&mdash; Hungryhead Team
					</td>
				</tr>
				</table>
			</td>
		</tr>
</table>

