<table class="main" width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; border-radius: 3px; background: #fff; margin: 0; padding: 0; border: 1px solid #e9e9e9;">
		<tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
			<td class="content-wrap" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 20px;" valign="top">
				<table width="100%" cellpadding="0" cellspacing="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">

        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
          <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 20px 0 20px;" valign="top" align="center">
            <img src="<%= root_url %>/assets/hungryhead.png" alt="Hungryhead Logo" width="80px" />
          </td>
        </tr>

        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0; margin-top:20px;">
          <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 15px;" valign="top">
            <h3 style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 22px; line-height: 1.6; margin: 0; padding: 0;"> Hi <%= @user.name.split(' ').first %> ! </h3>
          </td>
        </tr>

        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
          <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 15px;" valign="top">
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
              Thank you for signing up to HungryHead! We are currently in beta and we will send you login instructions in next few days. In meantime, you can checkout our website and follow us on social media websites to receive latest updates.
            </p>
          </td>
        </tr>

        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
          <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 15px;" valign="top">
            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0; margin-bottom: 15px;">
              Hungryhead is an online platform that simulates the real world of idea building into an online virtual environment. We bring together like-minded people for validation and collaboration.
            </p>

            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0; margin-bottom: 15px;">
             Here is how hungryhead can help you :
            </p>

            <ul class="no-style" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0; margin-left: 20px;">
              <li style="line-height: 1.6;">
                Share startup ideas with peers and mentors.
              </li>
              <li style="line-height: 1.6;">
                Receive feedbacks from industry experts and peers.
              </li>
              <li style="line-height: 1.6;">
                Validate your idea, practically
              </li>
              <li style="line-height: 1.6;">
                Learn what it takes to be an entrepreneur.
              </li>
              <li style="line-height: 1.6;">
                Connect with like-minded people from around the world.
              </li>
              <li style="line-height: 1.6;">
                Exclusive student driven community
              </li>
            </ul>

            <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px;  line-height: 1.6; margin: 0; padding: 0; margin-top: 10px;">... and lastly it's supported by <a style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px;  line-height: 1.6; margin: 0; padding: 0; color: #51646b !important;" target="_blank" href="http://en.wikipedia.org/wiki/Gamification"> Gamification.</a>  </p>

          </td>
        </tr>

        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
          <td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 15px;" valign="top">
          <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; margin: 0; padding: 0;">
           We're really happy to have you onboard, and hope you will have a good
           experience. Just send us an email if you have any questions.
          </p>

           <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px;  line-height: 1.6;margin: 0; padding: 0; margin-top: 30px;">Kind regards, </p>

          </td>
        </tr>

				<tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; margin: 0; padding: 0;">
					<td class="content-block" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 15px; line-height: 1.6; vertical-align: top; margin: 0; padding: 0 0 15px;" valign="top">
							&mdash; Hungryhead Team
					</td>
				</tr>
				</table>
			</td>
		</tr>
</table>

