<div id="quickview" class="quickview-wrapper" data-pages="quickview">
  <ul class="nav nav-tabs bg-solid">
    <li>
      <a href="#quickview-notifications" data-toggle="tab">Notifications</a>
    </li>
  </ul>
  <a class="btn-link quickview-toggle" data-toggle-element="#quickview" data-toggle="quickview"><i class="pg-close"></i></a>
  <div class="tab-content">
    <div class="tab-pane fade no-padding" id="quickview-notifications">
      <div class="view-port clearfix" id="notifications">

        <div class="view bg-white">
          <div class="navbar navbar-default navbar-sm">
            <div class="navbar-inner">
              <a href="javascript:;" class="inline action p-l-10 link text-master" data-navigate="view" data-view-port="#conversations" data-view-animation="push-parrallax">
                <i class="pg-more"></i>
              </a>
              <div class="view-heading">
                Notications
              </div>
              <a href="#" class="inline action p-r-10 pull-right link text-master">
                <i class="pg-search"></i>
              </a>
            </div>
          </div>
          <div data-init-list-view="ioslist" class="list-view boreded no-top-border">
            <div class="list-view-group-container">
              <div class="list-view-group-header text-uppercase">
                Calendar
              </div>
              <ul>
                <li class="alert-list">
                   <a href="javascript:;" class="" data-navigate="view" data-view-port="#chat" data-view-animation="push-parrallax">
                     <p class="col-xs-height col-middle">
                       <span class="text-warning fs-10"><i class="fa fa-circle"></i></span>
                     </p>
                     <p class="p-l-10 col-xs-height col-middle col-xs-9 overflow-ellipsis fs-12">
                       <span class="text-master">David Nester Birthday</span>
                     </p>
                     <p class="p-r-10 col-xs-height col-middle fs-12 text-right">
                       <span class="text-warning">Today <br></span>
                       <span class="text-master">All Day</span>
                     </p>
                   </a>
                 </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>