<% if @user.badges.length > 0 %>
<div class="widget-16 panel no-margin box-shadow">
    <div class="panel-heading">
        <div class="panel-title b-b b-grey p-b-5">
          <i class="fa fa-shield text-danger"></i> Badges
        </div>
    </div>

    <div class="panel-body">
        <div class="user-badges">
            <%  @badges.take(8).each do |id, badge| %>
                <div class="m-t-10">
                    <% badge.each do |b| %>
                        <p class="m-b-10 inline">
                        <a href="#" class="badge text-white font-helvetica" data-toggle="tooltip" data-container="body" title="<%= b.description %>">
                            <span class="badge-type <%= id %>"></span><%= b.custom_fields[:name] %>
                        </a>
                        </p>
                    <% end %>
                </div>
            <% end %>
            <% if @user.badges.length > 8 %>
                <li>
                    <div class="thumbnail-wrapper d32 circular b-white">
                        <div class="bg-master text-center text-white">
                            <span>+34</span>
                        </div>
                    </div>
                </li>
            <% end %>
        </div>
    </div>
</div>
<% end %>