<% if @user.badges.length > 0 %>
<div class="widget-16 panel box-shadow">
    <div class="panel-heading">
        <div class="panel-title b-b b-grey p-b-5">
          <i class="fa fa-shield text-danger"></i> Latest badges
        </div>
    </div>

    <div class="panel-body">
        <div class="user-badges">
            <%  @badges.take(5).each do |id, badge| %>
                <div class="m-t-10">
                    <% badge.each do |b| %>
                        <p class="m-b-10 inline">
                        <%= link_to(badge_path(b.name), class: "badge text-white", data: { toggle: "tooltip", container: "body"}, title: "#{b.description}") do %>
                            <span class="badge-type <%= id %>"></span><%= b.custom_fields[:name] %>
                        <% end %>
                        </p>
                    <% end %>
                </div>
            <% end %>
            <% if @user.badges.length > 5 %>
                <li>
                    <div class="thumbnail-wrapper d32 circular b-white">
                        <div class="bg-master text-center text-white">
                            <span>+<%= @badges.length - 5 %></span>
                        </div>
                    </div>
                </li>
            <% end %>
        </div>
    </div>
</div>
<% end %>