<% if @user.followers_counter.value > 0 %>
<div class="widget-16 panel no-margin widget-loader-circle">
    <div class="panel-heading">
        <div class="panel-title b-b b-grey p-b-5">
          <i class="fa fa-users text-danger"></i> Followers
        </div>
    </div>
    <div class="panel-body">
        <ul class="list-unstyled">
            <% User.find(@user.followers).each do |follower| %>
                <li class="m-r-10">
                    <div class="thumbnail-wrapper d32 circular b-white m-r-5 m-b-5">
                        <%= link_to(profile_path(follower)) do %>
                            <% if follower.avatar.present? %>
                                <%= image_tag(follower.avatar.url(:avatar), :"data-src" => "#{follower.avatar.url(:avatar)}", :"data-src-retina" => "#{follower.avatar.url(:avatar)}", width: "35", height: "35",  data: { toggle: "tooltip", container: "body", title:"#{follower.first_name + " " + follower.last_name }"}) %>
                            <% else %>
                                <%= content_tag(:span, class: "placeholder bold text-white", data: { toggle: "tooltip", container: "body", title:"#{follower.first_name + " " + follower.last_name }"}) do %>
                                    <%= follower.first_name.first + follower.last_name.first %>
                                <% end %>
                            <% end %>
                        <% end %>
                    </div>
                </li>
            <% end %>

            <% if @user.followers_counter.value > 8 %>
                <li>
                    <div class="thumbnail-wrapper d32 circular b-white">
                        <div class="bg-master text-center text-white">
                            <span>+34</span>
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>
<% end %>
