<% ideas = Idea.for_user(@user) %>
<% if ideas.size > 0 %>
<div class="widget-16 text-white panel bg-green m-t-15 m-b-15">
    <div class="panel-heading">
        <div class="panel-title b-b b-white p-b-5">
            <i class="fa fa-lightbulb-o text-white"></i> Ideas
        </div>
    </div>
    <% ideas.each do |idea| %>
        <div class="widget-16-header p-t-10 p-l-20 p-r-20 p-b-20">
            <span class="icon-thumbnail placeholder pull-left text-white">
                <%= idea.name_badge.upcase %>
            </span>
            <div class="pull-left">
                <h5 class="all-caps bold small pull-left no-margin text-white p-b-5 relative">
                    <%= link_to(idea.name, idea_path(idea), class: "text-white") %>
                </h5>
                <p class="small no-margin overflow-ellipsis clearfix text-white">
                    <%= idea.elevator_pitch %>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    <% end %>
</div>
<% end %>