<div class="widget-16 no-border panel bg-white box-shadow">
    <div class="panel-heading bg-light-blue-lightest m-b-20">
        <div class="panel-title b-b b-great p-b-5">
            <i class="fa fa-lightbulb-o text-danger"></i> Ideas
        </div>
    </div>
        <% if @user.fetch_ideas.size > 0 %>
            <% @user.fetch_ideas.take(3).each do |idea| %>
                <div class="widget-16-header p-t-10 p-l-20 p-r-20 p-b-20">
                    <div class="pull-left">
                        <h5 class="all-caps bold small pull-left no-margin  p-b-5 relative">
                            <%= link_to(idea.name, idea_path(idea), class: "text-black") %>
                            <% if !idea.published? %>
                                <span class="fa fa-lock inline" data-toggle="tooltip" data-container="body" title="Private Idea"></span>
                            <% end %>
                        </h5>
                        <p class="small no-margin clearfix ">
                            <%= idea.elevator_pitch %>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        <% else %>
        <% if @user == current_user %>
            <div class="text-center fs-16 p-b-20 p-t-10">
                <%= link_to('Click', new_idea_path(:intro), class: ' b-b text-master b-grey p-b-5') %> to publish a new idea
            </div>
       <% else %>
           <div class="text-center font-opensans  fs-22 p-b-40 p-t-20 hint-text ">
            <i class="fa fa-list"></i>
            <span class="clearfix">0 Ideas Published</span>
           </div>
       <% end %>
    <% end %>

</div>
