<div class="box-shadow">
  <%= react_component('LatestUserActivities', {user_id: @user.id, channel_name: "private-user-#{@user.id}", activities: @user.latest_activities.revrange(0, 5)}.to_json) %>
</div>