<div class="profile-sidebar">
    <%= render partial: 'card', locals: {data: data} %>
    <% cache(["user_ideas", @user, @user.ideas_counter.value, @user == current_user ? "owner" : "guest"]) do %>
    <%= render partial: 'stats' %>
    <% end %>
</div>