<div class="profile-sidebar sticky auto-height">
    <%= render partial: 'card', locals: {data: data} %>
    <% if @user.latest_activities.values.length > 0 %>
      <%= render partial: 'latest_activities' %>
    <% end %>
</div>