<div class="wrapper-small people-bg-gradient">
  <div class="col-md-4 jumbrotron text-center auto-margin" data-pages="parallax" data-social="cover">
    <div class="hero-text inner">
      <i class="fa fa-users text-white fs-22"></i>
      <h2 class="text-white no-margin">Browse People</h2>
      <h5 class="text-white">Find friends and like-minded people</h5>
    </div>
  </div>
</div>

<%= render partial: 'users/users' %>