<div class="container">
    <% data = render(template: 'users/show.json.jbuilder') %>

    <div class="col-md-4 col-sm-4 no-padding box-shadow  col-lg-4 col-xlg-4">
        <%= render partial: 'sidebar', locals: {data: data} %>
    </div>

    <div class="col-md-8 col-sm-8">

        <div class="profile-nav box-shadow bg-white">
            <%= render partial: 'menu' %>
        </div>

      <div class="investments-feed auto-height m-t-20">
        <%= render partial: "post", locals: {post: @post} %>
      </div>
    </div>
</div>
