<div class="container-fluid col-md-8 auto-margin">
    <div class="m-t-50" id="rootwizard">
        <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
	    		<li>
	          <%= link_to(wizard_path(:hello)) do %>
	            <i class="fa fa-list-ul tab-icon"></i>
	            <span>Guidelines</span>
	         <% end %>
	        </li>
	        <li class="active">
	      		<%= link_to(wizard_path(:follow_friends)) do %>
	            <i class="fa fa-users tab-icon"></i>
	            <span>Follow Friends</span>
	        	<% end %>
	        </li>
        </ul>
        <div class="tab-content">
        		<div class="tab-pane slide-left active padding-20" id="tab2">
        		    <div class="row row-same-height">
   								<div class="col-md-10 auto-margin full-height">
   								    <h2 class="normal no-margin p-b-10 text-green">People your may know</h2>
   								    <div class="divider b-b text-green b-grey b-md b-small"></div>
   								  <div>
   								  	<ul class="no-style p-t-20 follow-scrollable">
													<li class="p-b-10 p-t-10 b-b b-grey clearfix">
														<div class="followable-info col-md-6 no-padding">
														<div class="thumbnail-wrapper d48 circular bordered b-danger inline m-r-10">
															<img alt="Avatar" width="55" height="55" data-src-retina="/assets/profiles/avatar2x.jpg" data-src="/assets/profiles/avatar2x.jpg" src="/assets/profiles/avatar2x.jpg">
														</div>
															<h4 class="no-margin"><a href="">Gaurav Tiwari</a></h4>
															<p>I am a student</p>
														</div>
														<a href="" class="btn fs-13 btn-green text-white pull-right m-t-20 btn-sm">Follow</a>
													</li>

													<li class="p-b-10 p-t-10 b-b b-grey clearfix">
														<div class="followable-info col-md-6 no-padding">
														<div class="thumbnail-wrapper d48 circular bordered b-complete inline m-r-10">
															<img alt="Avatar" width="55" height="55" data-src-retina="/assets/profiles/avatar2x.jpg" data-src="/assets/profiles/avatar2x.jpg" src="/assets/profiles/avatar2x.jpg">
														</div>
															<h4 class="no-margin"><a href="">Gaurav Tiwari</a></h4>
															<p>I am a student</p>
														</div>
														<a href="" class="btn fs-13 btn-green text-white pull-right m-t-20 btn-sm">Follow</a>
													</li>

													<li class="p-b-10 p-t-10 b-b b-grey clearfix">
														<div class="followable-info col-md-6 no-padding">
														<div class="thumbnail-wrapper d48 circular bordered b-success inline m-r-10">
															<img alt="Avatar" width="55" height="55" data-src-retina="/assets/profiles/avatar2x.jpg" data-src="/assets/profiles/avatar2x.jpg" src="/assets/profiles/avatar2x.jpg">
														</div>
															<h4 class="no-margin"><a href="">Gaurav Tiwari</a></h4>
															<p>I am a student</p>
														</div>
														<a href="" class="btn fs-13 btn-green text-white pull-right m-t-20 btn-sm">Follow</a>
													</li>

													<li class="p-b-10 p-t-10 b-b b-grey clearfix">
													<div class="followable-info col-md-6 no-padding">
													<div class="thumbnail-wrapper d48 circular bordered b-primary inline m-r-10">
														<img alt="Avatar" width="55" height="55" data-src-retina="/assets/profiles/avatar2x.jpg" data-src="/assets/profiles/avatar2x.jpg" src="/assets/profiles/avatar2x.jpg">
													</div>
														<h4 class="no-margin"><a href="">Gaurav Tiwari</a></h4>
														<p>I am a student</p>
													</div>
														<a href="" class="btn fs-13 btn-green text-white pull-right m-t-20 btn-sm">Follow</a>
													</li>
   								  	</ul>
   								  </div>
   								  <div class="pager wizard m-t-30 clearfix">
   								  	<%= link_to("<i class='fa fa-check'></i> Done".html_safe, next_wizard_path, class: 'text-white btn fs-13 btn-sm btn-green pull-right') %>
   								  </div>
   								</div>
   							</div>
        		</div>

        </div>
    </div>
</div>