<div class="container-fluid col-md-8 auto-margin p-b-60">
    <div class="m-t-50" id="rootwizard">
        <%= render partial: 'tab_nav' %>
        <div class="tab-content">
        		<div class="tab-pane slide-left active padding-20" id="tab2">
        		    <div class="row row-same-height">
   								<div class="col-md-10 auto-margin full-height">
   								    <h2 class="normal no-margin p-b-10 text-green">People your may know</h2>
   								    <div class="divider b-b text-green b-grey b-md b-small"></div>
                      <%= react_component('FollowFriends', {path: welcome_path(:follow_friends)}) %>
   								  <div class="pager wizard m-t-30 clearfix">
   								  	<%= link_to("<i class='fa fa-check'></i> Done".html_safe, next_wizard_path, class: 'text-white btn fs-13 btn-sm btn-green pull-right') %>
   								  </div>
   								</div>
   							</div>
        		</div>

        </div>
    </div>
</div>