<div class="container-fluid col-md-8 auto-margin p-b-60">
    <div class="m-t-50" id="rootwizard">
        <%= render partial: 'tab_nav' %>
        <div class="tab-content">
        		<div class="tab-pane padding-20 active slide-left" id="tab1">
        		      <div class="row row-same-height">
     								<div class="col-md-10 auto-margin">
     								    <h2 class="normal text-green">Hello <%= @user.first_name %>:</h2>
     								    <div class="divider b-b text-green b-grey b-md b-small"></div>
     								    <h5 class="p-t-10">Welcome to the community.</h5>
     								  <div>
	     								  <p class="fs-16 m-t-20">
                          Thank you for accepting our invite and signing up! We are very glad to have you on-board.
                        </p>
                        <p class="fs-16">
                          We have just started out that means some parts of our platform may be empty until a few people have joined. Please invite your friends to help us get more people. To help us achieve market-fit we have opened our product to only a few universities and colleges. We will be adding more universities and colleges soon.
                        </p>
                        <h5 class="bold">Here are some features that are currently available:</h5>
                        <ul class="fs-16">
                          <li class="m-b-10">Pitch and Share startup ideas with peers.</li>
                          <li class="m-b-10">Receive feedbacks and questions.</li>
                          <li class="m-b-10">Collaborate and Work with your team</li>
                          <li class="m-b-10">Validate your idea, practically</li>
                          <li class="m-b-10">Learn what it takes to be an entrepreneur.</li>
                          <li class="m-b-10">Connect with like-minded people from around the world.</li>
                          <span>... and lastly earn badges, points and learn.</span>
                        </ul>
                        <h5 class="bold">
                          Please, work with us to make hungryhead a useful product for you.
                        </h5>
     								  </div>
                      <div class="pager wizard m-t-30 clearfix">
                        <%= link_to("<i class='fa fa-check'></i> Next".html_safe, next_wizard_path, class: 'text-white btn fs-13 btn-sm btn-green pull-right') %>
                      </div>
     								</div>
        		      </div>
        		  </div>
        </div>
    </div>
</div>