<div class="panel box-shadow m-t-10">
  <div class="panel-heading">
    <div class="panel-title b-b b-great p-b-5">
      Attending
    </div>
  </div>
  <div class="panel-body">
    <%= react_component('ListingWidget', {listing: @event.get_attendees.take(7).map{|u| {name: u.name, name_badge: u.name_badge,  id: u.uid, avatar: u.get_avatar,  url: profile_path(u)}}, count: @event.attendees_counter.value, path: event_event_attendees_path(@event), type: "Attending" }.to_json, {prerender: :static}) %>
  </div>
</div>