<div class="modal fade fill-in no-border" id="modalSlideComments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    <i class="pg-close fs-14"></i>
  </button>
  <div class="modal-dialog modal-md">
      <div class="modal-content scrollable">
        <div class="modal-body no-padding">
          <% commentable = @event %>
          <% data = render(template: 'comments/comments.json.jbuilder', locals: {comments: [], record: commentable, paginate: false} )%>
          <%= react_component('CommentBox', {data: data, standalone: true, white: true, scrollable: true, comment_channel: "#{@event.class}-#{@event.uuid}-comments", count: @event.comments_counter.value, comments_path: comments_path(commentable_type: @event.class.to_s, id: @event.uuid)}) %>
        </div>
      </div>
  </div>
</div>
