<div class="row full-border-light-bottom m-b-10">
  <div class="col-xs-12 col-md-12 col-sm-12">
    <div class="event-meta">
        <a href="<%= event_path(event) %>" class="inline m-b-5">
          <h5 class="no-margin bold fs-14">
             <%= event.title %>
         </h5>
        </a>
        <p class="people-info no-margin fs-12">
          <span class="fa fa-map-marker text-green"></span>
          <%= event.address %>
        </p>
        <div class="user-stats-list no-border">
          <a href="" class="m-r-5 fs-13"><span class="fa fa-user-plus"></span> Join</a>
          <a href="" class="fs-13"><span class="fa fa-bookmark"></span> Save</a>
        </div>
    </div>
  </div>
</div>

