<div class="wrapper-small events-bg-gradient">
  <div class="col-md-4 jumbrotron auto-margin" data-pages="parallax">
    <div class="hero-text inner">
      <i class="fa fa-calendar text-white fs-50 pull-left"></i>
      <h2 class="text-white no-margin inline clearfix">Events</h2>
      <h5 class="text-white no-margin">Browse events at your school and others</h5>
    </div>
  </div>
</div>

<div class="container hidden-xs">
  <div class="listing-filters p-t-40 p-b-10">
    <ul class="list-inline text-right">
      <li class="hint-text">Sort by: </li>
      <li>
        <%= link_to('Week', events_path(type: 'week'), class: "#{active_class?(events_path(type: 'week'))} text-master p-r-5 p-l-5") %>
      </li>
      <li>
        <%= link_to('Month', events_path(type: 'month'), class: "#{active_class?(events_path(type: 'month'))} text-master p-r-5 p-l-5") %>
      </li>
      <li>
        <%= link_to('Year', events_path(type: 'year'), class: "#{active_class?(events_path(type: 'year'))} text-master p-r-5 p-l-5") %>
      </li>
    </ul>
  </div>
</div>

<%= render partial: 'events/events' %>