<div class="container p-b-60">
    <% data = render(template: 'events/show.json.jbuilder') %>
    <div class="row">
    <% cache(["event_cover", @event]) do %>
        <div class="col-md-8 col-sm-8 xs-no-padding">
            <div class="cover">
                <%= render partial: 'cover', locals: {data: data} %>
            </div>
        </div>
    <% end %>

    <% cache(["event_sidebar", @event]) do %>
        <div class="col-sm-4 no-padding sm-no-padding xs-no-padding visible-sm visible-xs sm-p-r-15 md-p-r-15">
            <%= render partial: 'sidebar', locals: {data: data} %>
        </div>
    <% end %>

    </div>

    <div>

        <div class="row box-shadow bg-white">
            <%= render partial: 'menu' %>
        </div>

        <div class="badges-box m-t-20 clearfix">

            <% cache(["user_sidebar", @event]) do %>
                <div class="col-sm-6 no-padding sm-no-padding xs-no-padding visible-sm visible-xs sm-p-r-15 md-p-r-15">
                    <%= render partial: 'sidebar', locals: {data: data} %>
                </div>
            <% end %>

        </div>
    </div>
</div>

