<% if @ideas.length >= 2 %>
	<div class="profile-wrapper panel panel-default">
		<div class="profile-wrapper-title">
			<h4><i class="fa fa-briefcase"></i> Featured idea ideas</h4>
			<a class="see-all" href="#">See all</a>
		</div>
		<ul class="stories-list">
			<% @ideas.limit(4).each do |idea| %>
				<li>
					<%= link_to(idea_path(idea), class: "image-link") do %>
						<%= image_tag(idea.logo.url(:avatar)) %>
					<% end %>
					<div class="hover-box">
					  <%= content_tag(:h3) do %>
					  	<%= link_to(idea.name, "javascript:void(0);", :"data-popover-href" => "#{card_idea_path(idea)}", class: 'load-card') %>
					  <% end %>
		          </div>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
