<!-- Content 
================================================== -->
<div id="content">
<div class="container">
	<div class="top-picks about-desc">
		<div class="top-pick-descrip">
			<h1>About Us</h1>
			<p>Vestibulum id est quam, sit amet rutrum arcu. Sed commodo leo nisi, eget luctus odio. Maecenas auctor purus a eros posuere.</p>
		</div>
		<div class="border-back"></div>
	</div>

	<div class="about-list-box">
		<ul class="about-list">
			<li><a class="active" href="about.html">About Us</a></li>
			<li><a href="faqs.html">FAQ's</a></li>
			<li><a href="contact.html">Contact Us</a></li>
		</ul>					
	</div>

	<div class="about-box">
		<div class="about-tab">
			<div class="about-section red">
				<div class="inner-section">
					<h1>The faces behind Fundded</h1>
					<p class="desc">Fundded is a platform to create new connections between people through friends.</p>
					<div class="face-fundd">
						<ul>
							<li>
								<img alt="" src="/assets/face-foundded2.png">
								<h1>CEO</h1>
								<p>Gaurav loves meditation, German beer, and using technology as a tool for connecting people.</p>
							</li>
							<li>
								<img alt="" src="/assets/face-foundded.png">
								<h1>Designer</h1>
								<p>Mario loves his family, soccer, and every single one of the 1,296,000 pixels on his Mac.</p>
							</li>
						</ul>
					</div>								
				</div>
			</div>

			<div class="about-section blue">
				<div class="inner-section">
					<h1>What is Fundded?</h1>
					<p class="desc">Fundded is a platform to create new connections between people through friends.</p>
					<p>New York's a strange and beautiful place. It's a city of opportunity, and it's a city of illusion. It's a place where people crash into each other constantly and feel lonely at the same time. It's a city of excitement and of possibility but disappointing when those expectations aren't met.</p>	
					<p>New York's a strange and beautiful place. It's a city of opportunity, and it's a city of illusion. It's a place where people crash into each other constantly and feel lonely at the same time. It's a city of excitement and of possibility but disappointing when those expectations aren't met.</p>								
				</div>
			</div>

			<div class="about-section yellow">
				<div class="inner-section">
					<h1>How Does Fundded Work?</h1>
					<p>All you need to start a Fundded is a friend. Invite at least one person to join you for something—a dinner party, a group art project, a concert, a seminar, a day at the beach, or anything you can imagine —and once one of your invitees has accepted, they get to bring the next person, and so on until all the slots for that Plus One have been filled.</p>							
				</div>
			</div>

			<div class="about-section green">
				<div class="inner-section">
					<h1>What inspired fundded?</h1>
					<p>New York's a strange and beautiful place. It's a city of opportunity, and it's a city of illusion. It's a place where people crash into each other constantly and feel lonely at the same time. It's a city of excitement and of possibility but disappointing when those expectations aren't met.</p>
					<img alt="" src="/assets/about-image.png">
					<p>In August of 2011, I pined for the excitement of meeting new and engaging people in this amazing place. It wasn't about finding someone to date but just new people to have great conversations with, learn from and get to know.</p>					
					<p>Events around shared interests felt too anonymous. Whenever I brought people together, I knew most of them. When my friends and I went out together, we stayed together. Big events were impersonal.</p>					
					<p>Part of what makes life rewarding for me is connecting with new people in meaningful ways. Plus One was borne out of wanting a better way to do that. </p>				
					<p>Plus One certainly isn't for everyone.</p>					
					<p>Plus One is for the seekers, the risk takers, the adventurers. It's for the people who believe that the best in life is found in engaging with people and are confident enough to put themselves out there.</p>					
					<p>In my perfect world, there wouldn't even be a need for something like Plus One. Until then, here we are. And as my 11th grade Latin teacher, Dr. Polsky, used to say, "Fortune favors the brave."</p>				
				</div>
			</div>

		</div>
	</div>

</div>

</div>
<!-- End content -->