<div class="join-wrapper bg-white">
  <%= cache(['beta', 'support_jombotron', 'v1']) do %>
    <div class="join">
      <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
          <div class="brand-photo">
          <div class="container vmiddle">
          <div class="row inner">
                <div class="col-md-8 auto-margin">
                    <div class="hero-section text-center">
                        <h1 class="text-white">About us</h1>
                        <p class="text-white fs-16">Who we are</p>
                    </div><!-- /End Intro-Section -->
                </div><!-- /End Col -->
            </div><!-- /End Row -->
        </div>
        </div>
      </div>
    </div>
  <% end %>

  <section class="join-as-mentor-content">
    <div class="join-as-mentor-form wrapper-small">
      <div class="container">
        <div class="row m-b-20">
          <div class="col-md-5 auto-margin">
            <div>
              <h3>Hungryhead is a new way to start entrepreneurship</h3>
              <p class="text-master">
                We want to fundamentally change the way entrepreneurship has been persued worldwide. Please join our revolution to help students with their startup ideas.
              </p>
            </div>
          </div>
      </div>
      </div>
    </div>
  </section>

  <%= render partial: 'globals/footer' %>
</div>

