<div class="learn-wrapper bg-white">
  <div class="learn" data-pages="social">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
        <div class="brand-photo inner">
        <div class="container vmiddle">
        <div class="row">
              <div class="col-md-8 auto-margin text-center">
                  <div class="hero-section z-index-10">
                      <h1 class="text-white">
                        Cookies and personal data
                      </h1>
                      <p class="text-white no-margin fs-16">
                        What private data we store and why
                      </p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <section class="story">
    <div class="wrapper-small">
      <div class="col-md-6 auto-margin">
         <div>
            <h3 class="m-t-30 semi-bold">Cookies</h3>
            <p class="fs-16 text-master">
             Cookies are small data files that are issued to your device when you visit a website and that store information about your use of a service. Pixel tags (which are also called clear GIFs, web beacons, or pixels) are little snippets of code or tiny images embedded on websites and in email that help us learn how you interact with our site and emails.
            </p>
        </div>

         <div>
            <h3 class="m-t-30 semi-bold">Usage</h3>
            <p class="fs-16 text-master">
              Hungryhead uses cookies and these other technologies to help recognize you as a repeat visitor, to improve the quality of our Services, and to make your browsing experience more meaningful.
            </p>
        </div>

         <div>
          <h3 class="m-t-30 semi-bold">Technical bits</h3>
          <p class="fs-16 text-master">
            When you visit Hungryhead, our web server sends a cookie to your device, which allows us to recognize your device (but not the specific person using it). By associating the identification numbers in the cookies with other account information when, for example, you log in to the Services, we know that the cookie information relates to your user account. Similarly, pixel tags on Hungryhead and in email communications help us identify how your device is being used to interact with Hungryhead materials. Some of the tags and cookies used by our Services are served by us, and some are served by trusted partners who are delivering services on our behalf.
          </p>

          <h5 class="m-t-20 bold">
            Some examples of the types of cookies and other technologies Hungryhead uses:
          </h5>
          <div class="divider b-b text-green b-grey b-md b-small"></div>
          <ul>
            <h3 class="m-t-20 semi-bold">Signup & Login</h3>
            <p class="fs-16 text-master">
              Hungryhead uses authentication cookies and similar technologies to tell us when you’re logged in to Hungryhead. This lets us show you personalized views related to your interests and connect you with projects you may already have backed.
            </p>

            <h3 class="m-t-20 semi-bold">Security</h3>
            <p class="fs-16 text-master">
              Cookies also help keep Hungryhead secure by enabling security features and allowing us to detect activity that might violate our rules and terms of service.
            </p>

            <p class="fs-16 text-master">
              These cookies help protect your account from being accessed by anyone other than you, alert you and us when your account is accessed, and provide capabilities that allow us to disable any active sessions you have (for example, when you log out or change your password).
            </p>

            <h3 class="m-t-20 semi-bold">Saving preferences</h3>
            <p class="fs-16 text-master">
              Hungryhead uses cookies that provide functionality and help us deliver our products and services — for instance, by storing your preferences or by pre-filling the username field when you log in.
            </p>

            <h3 class="m-t-20 semi-bold">Analytics and research</h3>
            <p class="fs-16 text-master">
              Cookies and other technologies also help us to understand, improve, and research features and content on the Hungryhead site. For example, we may use cookies to understand how you are discovering projects or to determine which types of browsers or devices are accessing Hungryhead.
            </p>

            <p class="fs-16 text-master">
              Most web browsers automatically accept cookies but, if you prefer, you can change your browser to prevent that or to notify you each time a cookie is set. You can also learn more about cookies by visiting www.allaboutcookies.org, which includes useful information on cookies and how to block cookies using different browsers. Blocking or deleting cookies may prevent you from taking full advantage of our Services. Since "Do Not Track" is not yet a precisely defined standard, we currently treat DNT:1 signals according to the same standards set out in our Privacy and Cookie Policies.
            </p>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <div class="clearfix"></div>
  <%= render partial: 'globals/footer' %>
</div>

