<%
  meta property: {
    robots: "nofollow",
    charset: "utf-8",
    google: "notranslate"
  }
%>

<%
  meta title: "Join now! A collaborative network",
    description: "Learn how to start using hungryhead today - a new way to start entrepreneurship for students studying in schools, colleges and universities",
    keywords: %w(student\ entrepreneurship school\ entrepreneurs student\ entrepreneurs idea\ collaboration universities\ entrepreneurship collaborative\ network\ students schools\ entrepreneurship entrepreneurship\ ideas idea\ validation student\ idea\ validation student\ idea\ collaboration global\ ideas\ platform)
%>

<%
  meta twitter: {
    card: "summary_large_image",
    site: "@hungryhead_co",
    title: "Join now!",
    image: "https:#{image_url('patterns/connecting-dots.png')}",
    description: "Learn how to start using hungryhead today - a new way to start entrepreneurship for students worldwide",
  }
%>

<%
  meta og: {
    image: "https:#{image_url('patterns/connecting-dots.png')}",
    title: "Join now!",
    url: "#{request.original_url}",
    description: "Learn how to start using hungryhead today - a new way to start entrepreneurship for students worldwide",
    site_name: "Hungryhead",
    locale: "en_GB",
    type: "article"
  }
%>

<% cache(['beta', 'get_started', 'v1', "desktop"]) do %>
<div class="get-started-wrapper">
  <div class="container full-height sm-p-t-100 sm-p-b-100 z-index-10 relative">
    <div class="container-sm-height full-height">
      <div class="row row-sm-height">
        <div class="col-sm-12 col-xs-12 col-md-12 col-sm-height col-middle">
          <%= render partial: 'pages/content/get_started' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade stick-up" id="addSchoolPopup" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="pg-close"></i>
            </button>
            <h5 class="text-left p-b-5 no-margin"><span class="semi-bold">Submit your</span> request</h5>
            <p class="text-left small">
              We are sorry :( that your school is not present in our database. Hungryhead is currently in beta, and we are inviting people in small groups. If too many people join at once, the Hungryhead servers will melt down. Please enter your details using the form below and we will get it added into our list as soon as we can.
            </p>
          </div>
          <div class="modal-body m-t-20">
              <div class="row">
                <div id="invite_form_student">
                  <%= render partial: 'invite_requests/new_school' %>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
<% end %>
