<%= cache(['beta', 'get_started_page', 'v1']) do %>
  <div class="join-wrapper bg-white">
  <div class="join" data-pages="social">
  <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
      <div class="join-photo">
      <div class="container vmiddle">
      <div class="row">
            <div class="col-md-8 auto-margin">
                <div class="hero-section inner">
                    <h1 class="text-white">Practically discover entrepreneurship with peers and mentors</h1>
                    <h5 class="text-white fs-16 semi-bold">Hungryhead is a new way of exploring entrepreneurship as a career path. Instead of cramming business books and old-age business mantras, it helps you learn by doing.</h5>
                    <div class="btn-box m-t-20">
                      <a href="/story" class="btn btn-danger">Our Story</a>
                      <a href="/learn" class="btn btn-ghost m-l-10">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>

  <div class="container horz-section  wrapper-small">

  <div class="panel panel-transparent">
    <ul class="nav nav-tabs nav-tabs-simple nav-tabs-left p-t-20" id="tab-3">
      <li class="active">
        <a data-toggle="tab" href="#forStudents">For Students</a>
      </li>
      <li>
        <a data-toggle="tab" href="#forMentors">For Mentors</a>
      </li>
      <li>
        <a data-toggle="tab" href="#forSchools">For Schools</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="forStudents">
          <div class="col-md-8 auto-margin">
            <h2 class="normal">For Students:</h2>
            <div class="divider b-b b-grey b-md b-small"></div>
          <div>

          <h4 class="m-t-20 bold">With ideas: </h4>
          <p>
           We’re a home for everything from films, games, and music to art, design, and technology. Kickstarter is full of projects, big and small, that are brought to life through the direct support of people like you. Since our launch in 2009, <b>8.4 million people </b> have pledged more than <b>$1.7 billion</b>, funding <b>82,000</b> creative projects. Thousands of creative projects are raising funds on Kickstarter right now.
          </p>

          <h4 class="bold">Without ideas: </h4>
          <p>
           We’re a home for everything from films, games, and music to art, design, and technology. Kickstarter is full of projects, big and small, that are brought to life through the direct support of people like you. Since our launch in 2009, <b>8.4 million people </b> have pledged more than <b>$1.7 billion</b>, funding <b>82,000</b> creative projects. Thousands of creative projects are raising funds on Kickstarter right now.
          </p>
          </div>
          <a href="/join" class="clearfix pull-right m-t-20 btn btn-lg fs-15 bold btn-green text-white">Join</a>
          </div>
      </div>
      <div class="tab-pane" id="forMentors">
        <div class="col-md-8 auto-margin">
          <h2 class="normal">For Mentors:</h2>
          <div class="divider b-b b-grey b-md b-small"></div>
        <div>
        <h3 class="m-t-30">1. Hungryhead is a new way to discover entrepreneurship</h3>
        <p>
        We’re a home for everything from films, games, and music to art, design, and technology. Kickstarter is full of projects, big and small, that are brought to life through the direct support of people like you. Since our launch in 2009, <b>8.4 million people </b> have pledged more than <b>$1.7 billion</b>, funding <b>82,000</b> creative projects. Thousands of creative projects are raising funds on Kickstarter right now.
        </p>
        </div>
        <a href="/join" class="clearfix pull-right m-t-20 btn btn-lg fs-15 bold btn-green text-white">Join</a>

        </div>
      </div>
      <div class="tab-pane" id="forSchools">
         <div class="col-md-8 auto-margin">
           <h2 class="normal">For Schools:</h2>
           <div class="divider b-b b-grey b-md b-small"></div>
         <div>
         <h3 class="m-t-30">1. Hungryhead is a new way to discover entrepreneurship</h3>
         <p>
         We’re a home for everything from films, games, and music to art, design, and technology. Kickstarter is full of projects, big and small, that are brought to life through the direct support of people like you. Since our launch in 2009, <b>8.4 million people </b> have pledged more than <b>$1.7 billion</b>, funding <b>82,000</b> creative projects. Thousands of creative projects are raising funds on Kickstarter right now.
         </p>
         </div>
         <a href="/contact-us" class="clearfix pull-right m-t-20 btn btn-green fs-15 bold btn-lg text-white">Join</a>
         </div>
      </div>
    </div>
  </div>
  </div>


  <section id="mission" class="mission">
      <div class="bg-overlay">
          <div class="container">
              <div class="wrapper-small">
                  <div class="row p-b-60">
                      <div class="col-md-8 col-md-offset-2 text-center">
                          <h3 class="global">
                            <%= image_tag("badges/scholar.png", width: "100px", height: "100px") %>
                          </h3>
                          <h1 class="text-white bold m-t-20">
                            Our mission is to make entrepreneurship a traditional career path, globally.
                          </h1>
                          <div class="social_icons m-t-30">
                            <i class="fa fa-twitter inline fs-40 text-white"></i>
                            <i class="fa fa-facebook inline fs-40 text-white  m-l-15"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  </div>
    <%= render partial: 'globals/footer' %>
  </div>
<% end %>
