<%
  meta property: {
    robots: "nofollow",
    charset: "utf-8",
    google: "notranslate"
  }
%>

<%
  meta title: "Join now!",
    description: "Learn how to start using hungryhead today - a new way to start entrepreneurship for students worldwide",
    keywords: %w(join students collaboration entrepreneurship universities schools colleges)
%>

<%
  meta twitter: {
    card: "summary_large_image",
    site: "@hungryhead_co",
    title: "Join now!",
    image: "https:#{image_url('patterns/connecting-dots.png')}",
    description: "Learn how to start using hungryhead today - a new way to start entrepreneurship for students worldwide",
  }
%>

<%
  meta og: {
    image: "https:#{image_url('patterns/connecting-dots.png')}",
    title: "Join now!",
    url: "#{request.original_url}",
    description: "Learn how to start using hungryhead today - a new way to start entrepreneurship for students worldwide",
    site_name: "Hungryhead",
    locale: "en_GB",
    type: "article"
  }
%>

<% cache(['beta', 'get_started', 'v1', "#{browser.mobile? ? 'mobile' : 'desktop'}"]) do %>
<div class="get-started-wrapper">
  <div class="container full-height sm-p-t-100 sm-p-b-100 z-index-10 relative">
    <div class="container-sm-height full-height">
      <div class="row row-sm-height">
        <div class="col-sm-12 col-xs-12 col-md-12 col-sm-height col-middle">
          <%= render partial: 'pages/content/get_started' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade stick-up" id="addSchoolPopup" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                <i class="pg-close"></i>
            </button>
            <h5 class="text-left p-b-5 no-margin"><span class="semi-bold">Submit your</span> request</h5>
            <p class="text-left small">
              We are sorry :( that we have not added your school into our database. Please enter your details using form below and we will get it added into our list as soon as possible.
            </p>
          </div>
          <div class="modal-body m-t-20">
              <div class="row">
                <div id="invite_form_student">
                  <%= render partial: 'invite_requests/new_school' %>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
<% end %>
