<div class="page-container p-t-70 p-b-60 bg-white">
<div class="container">
<div class="container-inner wrapper-small">
  <nav class="col-md-3" style="overflow:scroll">
    <div id="help_sidebar">
      <ul class="nav">
        <li>
        <h6>Introduction</h6>
        <ul class="nav">
          <li class="">
            <a href="#getting_started">Getting Started</a>
          </li>
          <li class="">
            <a href="#working_less">LESS</a>
          </li>
        </ul>
        </li>

        <li>
        <h6>About</h6>
        <ul class="nav">
          <li class="">
            <a href="#getting_started">Getting Started</a>
          </li>
          <li class="">
            <a href="#working_less">LESS</a>
          </li>
        </ul>
        </li>

        <li>
        <h6>Platform</h6>
        <ul class="nav">
          <li class="">
            <a href="#getting_started">Getting Started</a>
          </li>
          <li class="">
            <a href="#working_less">LESS</a>
          </li>
        </ul>
        </li>
      </ul>
    </div>
  </nav>


    <div class="col-md-9 col-sm-8">
      <div class="content">
        <section id="introduction" class="p-b-40">
        <h2 class="text-center">Pages Documentation</h2>
        <h5 class="text-center">Beautifully Hand Crafted, Light Weight, Hardware Accelerated UI Framework </h5>
        <hr>
        <h3>Introduction</h3>
        <p>Pages is carefully well thought UI frame work that is built on top of Bootstrap 3, Its hand crafted components look great on all devices and works super fast even on mobile</p>
        <p>This documentation guide for all Pages users who can even be a beginner to Web development
        </p>
        <br>
        <h3>Light Weight &amp; Ready to Go</h3>
        <p> The entire set of modules clocks in at 38KB* minified and gzipped. Crafted with mobile devices in mind, it was important to us to keep our file sizes small, and every line of CSS was carefully considered. If you decide to only use a subset of these modules, you'll save even more bytes.</p>
        <br>
        <p>Production level usage using minfied and gzipped files</p>
        </section>

        <section id="idea" class="p-b-40">
        <h2 class="text-center">Pages Documentation</h2>
        <h5 class="text-center">Beautifully Hand Crafted, Light Weight, Hardware Accelerated UI Framework </h5>
        <hr>
        <h3>Introduction</h3>
        <p>Pages is carefully well thought UI frame work that is built on top of Bootstrap 3, Its hand crafted components look great on all devices and works super fast even on mobile</p>
        <p>This documentation guide for all Pages users who can even be a beginner to Web development
        </p>
        <br>
        <h3>Light Weight &amp; Ready to Go</h3>
        <p> The entire set of modules clocks in at 38KB* minified and gzipped. Crafted with mobile devices in mind, it was important to us to keep our file sizes small, and every line of CSS was carefully considered. If you decide to only use a subset of these modules, you'll save even more bytes.</p>
        <br>
        <p>Production level usage using minfied and gzipped files</p>
        </section>

        <section id="privacy" class="p-b-40">
        <h2 class="text-center">Pages Documentation</h2>
        <h5 class="text-center">Beautifully Hand Crafted, Light Weight, Hardware Accelerated UI Framework </h5>
        <hr>
        <h3>Introduction</h3>
        <p>Pages is carefully well thought UI frame work that is built on top of Bootstrap 3, Its hand crafted components look great on all devices and works super fast even on mobile</p>
        <p>This documentation guide for all Pages users who can even be a beginner to Web development
        </p>
        <br>
        <h3>Light Weight &amp; Ready to Go</h3>
        <p> The entire set of modules clocks in at 38KB* minified and gzipped. Crafted with mobile devices in mind, it was important to us to keep our file sizes small, and every line of CSS was carefully considered. If you decide to only use a subset of these modules, you'll save even more bytes.</p>
        <br>
        <p>Production level usage using minfied and gzipped files</p>
        </section>

        <section id="security" class="p-b-40">
        <h2 class="text-center">Pages Documentation</h2>
        <h5 class="text-center">Beautifully Hand Crafted, Light Weight, Hardware Accelerated UI Framework </h5>
        <hr>
        <h3>Introduction</h3>
        <p>Pages is carefully well thought UI frame work that is built on top of Bootstrap 3, Its hand crafted components look great on all devices and works super fast even on mobile</p>
        <p>This documentation guide for all Pages users who can even be a beginner to Web development
        </p>
        <br>
        <h3>Light Weight &amp; Ready to Go</h3>
        <p> The entire set of modules clocks in at 38KB* minified and gzipped. Crafted with mobile devices in mind, it was important to us to keep our file sizes small, and every line of CSS was carefully considered. If you decide to only use a subset of these modules, you'll save even more bytes.</p>
        <br>
        <p>Production level usage using minfied and gzipped files</p>
        </section>

      </div>
    </div>
</div>
</div>
</div>