<%
  meta property: {
    robots: "nofollow",
    charset: "utf-8",
    google: "notranslate"
  }
%>

<%
  meta title: "Entrepreneurship Reimagined",
     description: "Welcome! Hungryhead is a new way to start entreprenuership for students studying in schools, colleges and universities.",
     keywords: %w(home students collaboration entrepreneurship universities schools colleges)
%>

<%
  meta twitter: {
    card: "summary_large_image",
    site: "@hungryhead_co",
    title: "Entrepreneurship Reimagined",
    image: "#{image_url('home_banner.jpg')}",
    description: "Welcome! Hungryhead is a new way to start entreprenuership for students studying in schools, colleges and universities.",
  }
%>

<%
  meta og: {
    image: "#{image_url('home_banner.jpg')}",
    title: "Entrepreneurship Reimagined",
    url: "#{request.original_url}",
    description: "Welcome! Hungryhead is a new way to start entreprenuership for students studying in schools, colleges and universities.",
    site_name: "Hungryhead",
    locale: "en_GB",
    type: "article"
  }
%>
<% cache(['beta', 'home_page', 'v1']) do %>
<div class="splash-wrapper">
    <%= render partial: 'pages/content/home' %>
    <div class="container relative">
      <div class="small_footer text-center relative z-index-10">
        <p class="text-white">© hungryhead® 2015</p>
      </div>
    </div>
</div>
<% end %>
