<%
  meta property: {
    robots: "nofollow",
    charset: "utf-8",
    google: "notranslate",
    alexaVerifyID: "xDHxdz_2gqDx5OsChw00vOyCk3k"
  }
%>

<%
  meta title: "Entrepreneurship Reimagined",
     description: "Hungryhead is a new way to start entrepreneurship for students studying in schools, colleges and universities around the world",
     keywords: %w(student\ entrepreneurship school\ entrepreneurs student\ entrepreneurs idea\ collaboration universities\ entrepreneurship collaborative\ network\ students schools\ entrepreneurship entrepreneurship\ ideas idea\ validation student\ idea\ validation student\ idea\ collaboration global\ ideas\ platform)
%>

<%
  meta twitter: {
    card: "summary_large_image",
    site: "@hungryhead_co",
    title: "Entrepreneurship Reimagined",
    image: "https:#{image_url('home_cover.png')}",
    description: "Welcome! Hungryhead is a new way to start entrepreneurship for students studying in schools, colleges and universities.",
  }
%>

<%
  meta og: {
    image: "https:#{image_url('home_cover.png')}",
    title: "Entrepreneurship Reimagined",
    url: "#{request.original_url}",
    description: "Welcome! Hungryhead is a new way to start entrepreneurship for students studying in schools, colleges and universities.",
    site_name: "Hungryhead",
    locale: "en_GB",
    type: "article"
  }
%>

<div class="splash-wrapper">
  <% cache(['beta', 'home_page_tablet', "tablet"]) do %>
    <%= render partial: 'pages/content/home_tablet' %>
  <% end %>
  <%= render partial: 'globals/small_footer' %>
</div>