<div class="splash-wrapper">
    <%= render partial: 'pages/content/home' %>
    <div class="container relative">
      <div class="small_footer text-center relative z-index-10">
        <p class="text-white">© hungryhead 2015. <br/>Starting entrepreneurship, together ®</p>
      </div>
    </div>
</div>
