<div class="splash-wrapper ">
    <section class="slider-caption">
      <div class="container">
        <div class="row">
          <div class="col-md-10 auto-margin hero-text text-center">
            <h1>
              Do you like creating new things or want to help others create things?
            </h1>
          </div>
        </div>
        <div class="row">
              <div class="col-md-6 auto-margin">
                <div class="slider-caption-text text-center">
                  <p class="intro text-white fs-16 p-t-20 semi-bold">
                    HungryHead is a practical simulation platform that let's one explore the pathless path of entrepreneurship with peers and mentors.
                  </p>
                  <div class="btn-box p-t-20">
                    <%= link_to('Learn More', learn_path, class: "btn btn-success") %>
                    <%= link_to(get_started_path, class: "btn btn-primary m-l-10") do %>
                      <i class="icon arrow_triangle-right_alt"></i>Get Started
                    <% end %>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </section>
  <%= render partial: 'globals/small_footer' %>
</div>