<div class="join-wrapper bg-white p-b-60">
<div class="join" data-pages="social">
<div class="jumbotron" data-pages="parallax" data-social="cover">
    <div class="join-photo">
    <div class="container vmiddle">
    <div class="row">
          <div class="col-md-8 auto-margin">
              <div class="hero-section text-center">
                  <h1 class="text-white">Join as a mentor</h1>
                  <p class="text-white fs-16">Help students explore entrepreneurship</p>
              </div><!-- /End Intro-Section -->
          </div><!-- /End Col -->
      </div><!-- /End Row -->
  </div>
  </div>
</div>
</div>

<div class="page-container">
  <div class="col-md-6 auto-margin">
    <h2 class="normal">Things to know about Hungryhead:</h2>
    <div class="divider b-b b-grey b-md b-small"></div>
  <div>

  <h3 class="m-t-30">1. Hungryhead is a new way to learn entrepreneurship. </h3>
  <p>
    We want to fundamentally change the way entrepreneurship has been persued.
  </p>
  </div>
  <div>
  <h3 class="m-t-30">2. Collaboration</h3>
  <p>
    Collaboration has great potential and it can solve many great problems however, it seems that we never fully utitlise this tool due to our particular approach to life. The world is most orderly collaboration, without this collaboration we would cease to exist.
  </p>
  </div>

  <div>
  <h3>3. It is a practical.</h3>
  <p>
    Without going into impractical
  </p>
  </div>


  </div>
</div>

</div>

<div class="page-wrapper horz-section relative">
  <section id="cta" class="cta">
        <div class="cta-overlay">
            <div class="container">
                <div class="wrapper-lg">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <h1 class="text-white bold">Does this align with you?</h1>
                            <p class="fs-16 text-white">Let's get started</p>
                        </div>
                    </div>
                    <div class="row">
                      <%= simple_form_for(InviteRequest.new, remote: true, class: 'm-t-40 m-b-5 clearfix') do %>
                      <div class="col-sm-4 auto-margin">
                        <div class="form-group form-group-default">
                          <label>Your Name</label>
                          <input type="email" class="form-control" placeholder="John Smith">
                        </div>
                      </div>

                      <div class="col-sm-4 auto-margin">
                        <div class="form-group form-group-default">
                          <label>Website url</label>
                          <input type="email" class="form-control" placeholder="http://www.website.com">
                        </div>
                      </div>

                      <div class="col-sm-4 auto-margin">
                        <div class="form-group form-group-default input-group input-group-attached col-xs-12">
                          <label>Email Address</label>
                          <input type="email" class="form-control" placeholder="email@abc.com">

                        </div>
                        <span class="input-group-btn">
                          <button class="btn btn-danger pull-right btn-cons" type="button">Sign Up</button>
                        </span>
                        <p class="fs-12 pull-right text-right m-t-20 text-white">
                          Be first to find out when we Launch our product.
                        </p>
                      </div>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<%= render partial: 'globals/footer' %>
