<%= cache(['beta', 'learn_more', 'v1']) do %>
<div class="learn-wrapper bg-white">
  <div class="learn">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
      <div class="learn-photo">
        <div class="container vmiddle">
        <div class="row p-t-40">
              <div class="col-md-8 auto-margin">
                  <div class="hero-section inner text-center">
                      <h1 class="text-white">Learn about the platform</h1>
                      <p class="text-white fs-16">
                        Things to know about hungryhead
                      </p>
                      <div class="btn-box m-t-20">
                        <%= link_to('Get Started', get_started_path, class: "btn btn-ghost") %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <div class="what-section bg-white">
    <div class="wrapper-small">
      <div class="col-md-6 auto-margin">
        <div>
          <h3 class="semi-bold">Hungryhead is a new way to start entrepreneurship. </h3>
            <p class="fs-16 text-master">
             We discovered that there can be a completely different approach towards entrepreneurship, approach where learning about the idea, validation and building happens together.
            </p>
            <p class="fs-16 text-master">
             Hungryhead a collaborative platform that simulates the real world of idea building into an online virtual environment.
            </p>
            <h5 class="bold no-margin">The simulation occurs at a number of levels :</h5>
            <div class="divider b-b b-green b-small m-t-10 m-b-20"></div>
            <ul class="fs-16">
              <li class="m-b-10 text-master">Ideas can receive feedbacks, votes and virtual investments</li>
              <li class="m-b-10 text-master">Team building by connecting with right people</li>
              <li class="m-b-10 text-master">Develop and validate your idea</li>
              <li class="m-b-10 text-master">Supported by Gamification</li>
            </ul>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">Exclusive student driven community</h3>
          <p class="fs-16 text-master">
            Hungryhead is for students studying in schools, colleges and universities to collaborate and work on a startup idea.
          </p>
          <p class="fs-16 text-master">If you are an alumni or someone interested in contributing your expertise, you can join hungryhead by requesting an invite, please, <%= link_to("click here", request_invite_path) %>.</p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">Baked collaboration.</h3>
          <p class="fs-16 text-master">
            Collaboration is an important aspect of entrepreneurship therefore, we have created a platform where collaboration takes the first seat so that everyone can clearly communicate their ideas.
          </p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">You own 100% of your idea.</h3>
          <p class="fs-16 text-master">
            We don't take any ownership in your idea.
          </p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">Idea privacy and sharing.</h3>
          <p class="fs-16 text-master">
            You can keep your idea private, public or share with people you know. It's totally upto you however, we recommend sharing as much as possible if you really care to make your idea useful.
          </p>
        </div>
        <div>
          <h3 class="m-t-30 semi-bold">Find people who can help you build your idea.</h3>
          <p class="fs-16 text-master">
            We have integrated tools and recommendation engine to find people who could help you take your idea to the next level.
          </p>
        </div>
      <div class="divider b-b b-green b-small m-t-20 m-b-20"></div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <%= render partial: 'globals/footer' %>
</div>

<% end %>
