<!-- Slider
	================================================== -->
<!-- End Slider -->
<!-- Content
	================================================== -->
<div id="content">
	<div class="horz-section solid-bg">
     <header class="clearfix">
        <%= render 'globals/splash_menu'%>
        </header>
		<section class="intro-features" id="about">
            <div class="container">
                <!-- Padding -->
                <div class="wrapper-lg">
                    <div class="row">
                        <!-- Section Header Title -->
                        <div class="col-xs-12">
                            <h2>Let's find something useful, together</h2>
                            <p class="large">Simulate and find out if your idea truly matters.</p>
                        </div>
                    </div>
                    <!-- Three Main Features with Icons -->
                    <div class="row">
                        <div class="col-sm-4 intro-content text-center">
                            <div class="icon-lg">
                                <img src="/assets/badges/idea-guy.png" alt="">
                            </div>
                            <h4>Idea simulation</h4>
                            <p>HungryHead simulates real world of business into a virtual environment.</p>
                        </div>
                        <div class="col-sm-4 intro-content text-center">
                            <div class="icon-lg">
                               <img src="/assets/badges/cup.png" alt="">
                            </div>
                            <h4>Gamification</h4>
                            <p>HungryHead core is built on the ideas of Gamification.</p>
                        </div>
                        <div class="col-sm-4 intro-content text-center">
                            <div class="icon-lg">
                                <img src="/assets/badges/welcome.png" alt="">
                            </div>
                            <h4>Exclusive Community</h4>
                            <p>A world-wide community of student entrepreneurs.</p>
                        </div>
                    </div><!-- /End Row -->
                </div><!-- /End Wrapper -->
            </div><!-- /End Container -->
        </section>
	</div>

    <div class="horz-section stories-section white-background">
        <section class="img-with-action">
            <div class="container wrapper-lg">
                <div class="row">
                    <div class="col-md-7">
                        <div class="tbd-box">
                            <h1><img src="/assets/hero03.jpg" alt=""></h1>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <!-- Text Col -->
                        <h3>Validate your Business Idea and Reach Product Market Fit</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere veritatis inventore eum, cupiditate esse debitis consectetur nisi harum. Tempore, assumenda ducimus vero totam labore. Ipsam, eos odit eaque, voluptatum minima, odio eveniet soluta saepe, culpa quo enim omnis iusto. Possimus, at numquam beatae non atque?</p>
                        <!-- Call To Action Buttons -->
                        <div class="btn-box">
                            <a href="#features" class="btn btn-grey scrollto">Learn More</a>
                            <a href="#canvas-bg" class="btn btn-color scrollto"><i class="icon arrow_carrot-2dwnn_alt"></i>Try it for Free</a>
                        </div>
                        <!-- Div Required for Correct Charts Animation -->
                    </div>

                </div><!-- /End Row-->
            </div><!-- /End Container-->
            <!-- Image Col -->
        </section>
    </div>

	<div class="horz-section tbd light-bg">
		<div class="container">

		<div class="wrapper-lg">
			<div class="col-xs-12">
                <h2>It's about making ideas happen</h2>
                <p class="large">Spend less time worrying about front-end and more focusing on your product.</p>
            </div>

			<div class="row">
				<div class="container">
					<div class="col-md-5">
						<p>Nunc a velit augue. Vestibulum a nisi vel purus iaculis vulputate vitae at risus. Curabitur quis sem in purus faucibus consequat quis id lectus. Etiam fermentum mattis augue id mattis. Phasellus vehicula nunc ac elit rutrum et tristique velit egestas. </p>

						<p>Nunc a velit augue. Vestibulum a nisi vel purus iaculis vulputate vitae at risus. Curabitur quis sem in purus faucibus consequat quis id lectus. Etiam fermentum mattis augue id mattis. Phasellus vehicula nunc ac elit rutrum et tristique velit egestas. </p>

						<div class="btn-box">
                        	<a href="#features" class="btn btn-grey scrollto">Learn More</a>
                        	<a href="#canvas-bg" class="btn btn-color scrollto"><i class="icon arrow_carrot-2dwnn_alt"></i>Try it for Free</a>
                    	</div>
					</div>
					<div class="col-md-7">
						<div class="tbd-box">
							<h1><img src="/assets/hero03.jpg" alt=""></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>

    <div class="horz-section">
    	<section id="cta" class="cta">
            <div class="overlay">
                <div class="container">
                    <div class="wrapper-lg">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <h2 class="text-white">Sign Up for Early Access</h2>
                                <p class="large text-white">Hey there, Early Bird! Join the waiting list with your email.</p>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Signup Form -->
                            <div class="col-md-12 text-center">
                                <a class="btn btn-color" data-toggle="modal" href="javascript:void(0)" onclick="openEarlyAccessModal();">Join me for Beta</a>
                            </div>

                        </div><!-- /End Row -->
                    </div><!-- /End Wrapper -->
                </div><!-- /End Container -->
            </div>
        </section>
    </div>
</div>
<% if !user_signed_in? %>
    <div class="page-footer">
      <%= render 'globals/small_footer' %>
    </div>
<% end %>
<!-- End content -->