<div class="learn-wrapper bg-white">
  <div class="learn" data-pages="social">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
        <div class="brand-photo inner">
        <div class="container vmiddle">
        <div class="row">
              <div class="col-md-8 auto-margin text-center">
                  <div class="hero-section z-index-10">
                      <h1 class="text-white">
                        Privacy Policy
                      </h1>
                      <p class="text-white no-margin fs-16">
                        How we protect and use your private data
                      </p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <section class="story p-b-100">
    <div class="wrapper-lg">
      <div class="col-md-6 auto-margin">
         <div>
            <h3 class="m-t-30 semi-bold">What We Collect</h3>
            <p class="fs-16 m-t-20">
             In order for you to create an account on Kickstarter and use our services, we need to collect and process some information. Depending on your use of the Services, that may include:
            </p>
            <ul>
              <li>
                information (such as your name, email and postal addresses, telephone number, and country of residence) that you provide by completing forms on Kickstarter, including if you register as a user of the Services, subscribe to our newsletters, upload or submit any material through Kickstarter, or request any information;
              </li>
              <li>
                your login and password details, in connection with the account sign-in process;
              </li>
              <li>
                details of any requests or transactions you make through the Services;
              </li>
              <li>
                information about your activity on and interaction with Kickstarter, such as your IP address and the type of device or browser you use;
              </li>
              <li>
                communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem); and
              </li>
               <li>
                information that you submit to Kickstarter in the form of comments, contributions to discussions, or messages to other users.
              </li>
            </ul>
        </div>


         <div>
            <h3 class="m-t-30 semi-bold">What’s Private</h3>
            <p class="fs-16 m-t-20">
              This data will not be publicly displayed or revealed to other users:

              any payment information you provide
              your password details
              your IP address
              your phone number
              communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem)
              We don’t give your personal information to any third-party services, except when it’s necessary to provide Kickstarter’s Services (like when we partner with payment processors). When we share data with third-party services that support our delivery of the Kickstarter Services, we require that they protect your personal information to the same standards we do.

              We do reserve the right to disclose personal information when we believe that doing so is reasonably necessary to comply with the law or law enforcement, to prevent fraud or abuse, or to protect Kickstarter’s legal rights.
            </p>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">Public</h3>
          <p>
            When you create an account, we create a basic profile page for you on Kickstarter, containing your account name, the date the account was created, and a list of projects you have backed or launched. Whenever your account name appears on Kickstarter (for instance, when you post comments, send messages, or back projects), people can click your account name to see your profile. The profile is not searchable on Kickstarter or via search engines like Google. Here are some of the things that will be publicly viewable on your profile, or elsewhere on Kickstarter:
          </p>
          <ul>
            <li>
              the account name, and the date it was created
            </li>
            <li>
              any information you choose to add to your profile (like a picture, bio, or your location)
            </li>
            <li>
              projects you've backed (but not pledge amounts or rewards chosen)
            </li>
            <li>
              projects you've launched
            </li>
            <li>
              any comments you’ve posted on Kickstarter
            </li>
            <li>
              if you have "Liked" a project update
            </li>
            <li>
              Please note that each project page lists the community of users who have backed the project. If you don’t want others to see your name in a project’s Backers tab, choose an account name that is not identifiable (e.g., CatLuvr02).
            </li>
          </ul>

          <p>
            Creators are also asked to verify their identities before launching a project. Once this has been done, the creator’s Verified Name will be publicly displayed on their account profile and on any projects they launch.
          </p>
        </div>

        <div>
          <h3>usage personal information: </h3>
          <p>We will use the personal information you provide to:</p>

          <li>identify you when you sign in to your account;</li>
          <li>enable us to provide you with the Services;</li>
          <li>send you marketing communications we think you may find useful, but only in accordance with your email preferences;</li>
          <li>present projects to you when you use the Services which we believe will be of interest based on your geographic location and previous use of the Services;</li>
          <li>administer your account with us;</li>
          <li>enable us to contact you regarding any question you make through the Services;</li>
          <li>analyze the use of the Services and the people visiting to improve our content and Services;</li> and
          <li>use for other purposes that we may disclose to you when we request your information.</li>
          <li>We take securing your data and preserving your privacy very seriously. We never post anything to your Facebook, Twitter, or other third-party accounts without your permission. Kickstarter Project Creators never receive backers’ credit card details or other payment information. We do not and will not sell your data.</li>
        </div>

        <div>
          <h3>Email</h3>
          <p>
            We want to communicate with you only if you want to hear from us. We try to keep emails to a minimum and give you the ability to opt out of any marketing communications we send.

            We will send you email relating to your personal transactions. You will also receive certain marketing email communications, in accordance with your preferences, and from which you may opt out at any time.

            We may send you service-related announcements on the rare occasions when it is necessary to do so.
          </p>
        </div>

        <div>
          <h3>Wrap up</h3>
          <p>
            To modify or delete the personal information you have provided to us, please log in and update your profile. We may retain certain information as required by law or for necessary business purposes.
          </p>
          <p>
            On request, we will give you a copy of all the personal information about you that we hold. This information is subject to a fee not exceeding the prescribed fee permitted by law.
          </p>
          <p>
            People under 18 (or the legal age in your jurisdiction) are not permitted to use Kickstarter on their own, and so this privacy policy makes no provision for their use of Kickstarter.
          </p>
          <p>
            Information that you submit through the Services may be transferred to countries other than where you reside (for example, to our servers in the United States). We will protect all information we receive in accordance with this privacy policy.
          </p>
        </div>

      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <%= render partial: 'globals/footer' %>
</div>

