<div class="learn-wrapper bg-white">
  <div class="learn">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
        <div class="brand-photo inner">
        <div class="container vmiddle">
        <div class="row">
              <div class="col-md-8 auto-margin text-center">
                  <div class="hero-section z-index-10">
                      <h1 class="text-white">
                        Privacy Policy
                      </h1>
                      <p class="text-white no-margin fs-16">
                        How we protect and use your private data
                      </p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <section class="story p-b-100">
    <div class="<%= browser.mobile? ? 'wrapper-small' : 'wrapper-lg'  %>">
      <div class="col-md-6 auto-margin">
        <%= render partial: 'pages/content/privacy' %>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <%= render partial: 'globals/footer' %>
</div>

