var $el = $('body');

//Append a div to the body for consistency
$el.append($('<div>', {class: 'pages_content_modal', id: 'pages_content_modal'}));
$container = $('#pages_content_modal');
$container.append("<%= j render partial: 'pages/content/popup' %>");

//Find modal
$popup = $container.find('#pagesContentModal');
$popup.find('.popup-title').html('<span class="bold">Privacy Policy</span>');
$popup.find('.col-md-12').html("<%= j render partial: 'pages/content/privacy' %>");
$('#pagesContentModal').modal('show');

//finally delete div from body on modal hide
$popup.on('hidden.bs.modal', function(){
  $container.remove();
});
