<%= cache(['beta', 'story', 'v1']) do %>
<div class="learn-wrapper bg-white">
  <div class="learn" data-pages="social">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
        <div class="rules-photo inner">
        <div class="container vmiddle">
        <div class="row">
              <div class="col-md-8 auto-margin text-center">
                  <div class="hero-section m-t-20 z-index-10">
                      <h1 class="text-white">
                        Our rules
                      </h1>
                      <p class="text-white no-margin fs-16">
                        Make the most out of hungryhead
                      </p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <section class="story">
    <div class="wrapper-small">
      <div class="col-md-6 auto-margin">
        <div>
          <h3 class="semi-bold m-t-30">
            <i class="fa fa-times text-danger"></i> Don't SPAM
          </h3>
          <p class="fs-16">
            Hungryhead is all about collaboration therefore, we have integrated tools to help you communicate your ideas easily and effectively. The comment, feedback and messaging system are there so, that everyone can easily communicate, ask questions and provide feedbacks. Please don't use it for SPAMMING others. This includes link-bombing, colluding on a idea, promoting third-party services, and posting irrelevant content.
          </p>
        </div>
        <div>
            <h3 class="semi-bold m-t-30">
              <i class="fa fa-check text-green"></i> Trust and Respect
            </h3>
            <p class="fs-16">
              Respect is one of the fundamental building block to have a trustworty relationship. We built hungryhead on these core values so that everyone can have honest and open conversations. Conversations are really important for our community and therefore, its integral to have have respect for each others ideas. If you disagree or don't like something that doesn't mean
            </p>
        </div>
        <div>
            <h3 class="semi-bold m-t-30">
              <i class="fa fa-check text-green"></i> Share
            </h3>
            <p class="fs-16">
              Sharing makes things bigger, adds value to it.
            </p>
        </div>
      </div>
    </div>
  </section>
  <div class="clearfix"></div>
  <%= render partial: 'globals/footer' %>
</div>

<% end %>

