<!-- Slider 
	================================================== -->
<section id="slider" class="slider">
   <header class="clearfix">
      <%= render 'globals/splash_menu'%>
    </header>
    <section class="slider-caption">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-10 auto-margin hero-text text-center">
		   			<h1>Are you building something that people actually want? <span>Let's find out</span></h1>
	    		</div>
	    	</div>

	    	<div class="row">
	            <div class="col-md-6 auto-margin">
                <div class="slider-caption-text text-center">
	               <p class="intro text-white">
                        HungryHead is a practical idea simulation and learning platform for anyone, anywhere to validate startup ideas, together.
                    </p>
                    <div class="btn-box">
                        <a href="#about" class="btn btn-ghost">Learn More</a>
                        <!-- Video Lightbox on Click -->
                        <a href="/join" class="btn btn-white venobox vbox-item"><i class="icon arrow_triangle-right_alt"></i>Join Us</a>
                    </div>
                </div>
	            </div><!-- /End Col -->
        	</div>
	    </div>
    </section>
    <% if !user_signed_in? %>
      <%= render 'globals/small_footer' %>
    <% end %>
</section>
<!-- End Slider -->