<div class="splash-wrapper ">
    <section class="slider-caption">
      <div class="container">
        <div class="row">
          <div class="col-md-10 auto-margin hero-text text-center">
            <h1>Are you building something that people actually want? <span class="bold">Let's find out</span></h1>
          </div>
        </div>

        <div class="row">
              <div class="col-md-6 auto-margin">
                <div class="slider-caption-text text-center">
                 <p class="intro text-white fs-16 p-t-20 semi-bold">
                        HungryHead is a practical idea simulation and learning platform for anyone, anywhere to validate startup ideas, together.
                    </p>
                    <div class="btn-box p-t-20">
                        <a href="#about" class="btn btn-color btn-ghost">Learn More</a>
                        <!-- Video Lightbox on Click -->
                        <a href="/join" class="btn btn-white venobox vbox-item"><i class="icon arrow_triangle-right_alt"></i>Join Us</a>
                    </div>
                </div>
              </div><!-- /End Col -->
          </div>
      </div>
    </section>
  <%= render partial: 'globals/small_footer' %>
</div>