<%= cache(['beta', 'story', 'v1']) do %>
<div class="learn-wrapper bg-white p-b-60">
  <div class="learn" data-pages="social">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
        <div class="story-photo inner">
        <div class="container vmiddle">
        <div class="row">
              <div class="col-md-8 auto-margin text-center">
                  <div class="hero-section m-t-20 z-index-10">
                      <h1 class="text-white">
                        Discovering our way
                      </h1>
                      <p class="text-white no-margin fs-16">Every beginning has a story</p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <section class="story">
    <div class="wrapper-small">
      <div class="col-md-6 auto-margin">
        <h2 class="normal">Hungryhead is culmination of our own journey:</h2>
        <div class="divider b-b b-grey b-md b-small"></div>
        <div>
          <p class="m-t-40 fs-16 text-master">
            Every entrepreneur starts with an idea - that needs validation and collaboration with the right people to bring it alive.  We can all recall ideas that haven't taken off or consumed time, money and resources because we weren’t able to validate and collaborate early on. On the flip side there are many of us who have a passion and urge to be more entrepreneurial - but don't have the idea, yet have loads to offer.
          </p>
          <p class="m-t-20 fs-16 text-master">
            In early 2011, while studying at university something similar happened with me. I was in first year of my computer science course, practically had no startup experience. In fact, I didn't even knew the word <strong>"Entrepreneur"</strong>. I thought my first startup idea and just jumped into building it. I overdrew 1.8K from my bank, optimistically thinking that I will get some funding from my university and spent next 4 months building this idea. Later, I was refused funding from the university. I was financially broke and I decided to drop the idea.
          </p>
          <p class="m-t-20 fs-16 text-master">
            Few months later, after reflecting on what went wrong, I thought the problem was lack of funding so, I started building a crowdfunding platform (Fundded) to solve the funding problem for students but this time I collaborated from the start and shared our idea with as many people as possible and got loads of feedbacks. In the process I discovered it was not the funding that was the problem but the lack of collaboration and validation - the initial but most important step to get started.
          </p>
          <p class="bold m-t-20 fs-16">And, hungryhead was born!</p>

          <h5 class="m-t-20 bold">
            We built hunrgyhead to bridge the gap - something we did not had access to when we were starting out as student entrepreneurs.
          </h5>
        </div>
      </div>
    </div>
  </section>

  <section id="mission" class="mission">
      <div class="bg-overlay">
          <div class="container">
              <div class="wrapper-small">
                  <div class="row p-b-60">
                      <div class="col-md-8 col-md-offset-2 text-center">
                          <h3 class="global">
                            <%= image_tag("badges/scholar.png", width: "100px", height: "100px") %>
                          </h3>
                          <h1 class="text-white bold m-t-20">
                            Our mission is to make entrepreneurship a traditional career path, globally.
                          </h1>
                          <div class="social_icons m-t-30">
                            <i class="fa fa-twitter inline fs-40 text-white"></i>
                            <i class="fa fa-facebook inline fs-40 text-white  m-l-15"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

</div>

<div class="clearfix"></div>
<%= render partial: 'globals/footer' %>

<% end %>

