<%= cache(['beta', 'story', 'v1']) do %>
<div class="learn-wrapper bg-white p-b-60">
  <div class="learn" data-pages="social">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
        <div class="story-photo inner">
        <div class="container vmiddle">
        <div class="row">
              <div class="col-md-8 auto-margin text-center">
                  <div class="hero-section m-t-20 z-index-10">
                      <h1 class="text-white">
                        Discovering our way
                      </h1>
                      <p class="text-white no-margin fs-16">Every beginning has a story</p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <section class="story">
    <div class="wrapper-small">
      <div class="col-md-6 auto-margin">
        <h2 class="normal">Hungryhead is culmination of our own journey:</h2>
        <div class="divider b-b b-grey b-md b-small"></div>
        <div>
          <p class="m-t-40 fs-16 text-master">
            It all began when we were students at university, like everyone we were discovering problems, the only difference was we wanted to do something about it.
          </p>
          <p class="m-t-20 fs-16 text-master">
            But, we were first year self-funded nascent students meaning we neither had startup experience nor money to build our ideas. One thing, that is really important when working on a idea is to have focus on one idea because its easy get swayed away with tons of ideas flying around.
          </p>
          <p class="m-t-20 fs-16 text-master">
            That’s when hungryhead was born. We initially sketched to build a Crowdfunding platform to solve the funding and support problem for students but later realized that the problem is much deeper, it's the initial starting out process that needs to be made efficient. There were already many funding and offline programs out there.
          </p>
          <p class="m-t-20 fs-16 text-master">
            We built hungryhead to give students a platform where they can validate their idea, build a team and connect with like-minded people from around the world securely without have to worry about location or schedule.
          </p>
          <h4>Why now? </h4>
          <p>
            A lot has been happening lately in startup world and it's gaining momentum in many countries with growing number of accelerator, incubator and online funding platform however, there still a lot to be done about the problems we faced during starting out.
          </p>
          <h5 class="m-t-20 bold">We built something that we didn’t had access to when we were starting out as student entrepreneurs.</h5>
        </div>
      </div>
    </div>
  </section>

  <section id="mission" class="mission">
      <div class="bg-overlay">
          <div class="container">
              <div class="wrapper-small">
                  <div class="row p-b-60">
                      <div class="col-md-8 col-md-offset-2 text-center">
                          <h3 class="global">
                            <%= image_tag("badges/scholar.png", width: "100px", height: "100px") %>
                          </h3>
                          <h1 class="text-white bold m-t-20">
                            Our mission is to make entrepreneurship a traditional career path, globally.
                          </h1>
                          <div class="social_icons m-t-30">
                            <i class="fa fa-twitter inline fs-40 text-white"></i>
                            <i class="fa fa-facebook inline fs-40 text-white  m-l-15"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

</div>

<div class="clearfix"></div>
<%= render partial: 'globals/footer' %>

<% end %>

