<div class="learn-wrapper bg-white p-b-60">

  <div class="learn" data-pages="social">
    <div class="jumbotron" data-pages="parallax" data-social="cover">
        <div class="story-photo inner">
        <div class="container vmiddle">
        <div class="row">
              <div class="col-md-8 auto-margin text-center">
                  <div class="hero-section m-t-20 ">
                      <h1 class="text-white">
                        Our Story
                      </h1>
                      <p class="text-white no-margin fs-16">Every beginning has a story</p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <section class="story">
    <div class="wrapper-small">
      <div class="col-md-6 auto-margin">
        <h2 class="normal p-b-20">Hungryhead is culmination of our own journey:</h2>
        <div class="divider b-b b-grey b-md b-small"></div>
        <div>
          <h3 class="m-t-30">1. Hungryhead is a new way to discover entrepreneurship</h3>
          <p>
            We’re a home for everything from films, games, and music to art, design, and technology. Kickstarter is full of projects, big and small, that are brought to life through the direct support of people like you. Since our launch in 2009, <b>8.4 million people </b> have pledged more than <b>$1.7 billion</b>, funding <b>82,000</b> creative projects. Thousands of creative projects are raising funds on Kickstarter right now.
          </p>
        </div>
        <div>
          <h3 class="m-t-30">2. Each project is independently created.</h3>
          <p>
            The filmmakers, musicians, artists, and designers you see on Kickstarter have complete control over and responsibility for their projects. Kickstarter is a platform and a resource; we’re not involved in the development of the projects themselves. Anyone can launch a project on Kickstarter as long as it follows our rules.
          </p>
        </div>
        <div>
          <p class="bold">3. Together, creators and backers make projects happen.</p>
          <p>
            Project creators set a funding goal and deadline. If people like a project, they can pledge money to make it happen. Funding on Kickstarter is all-or-nothing — projects must reach their funding goals to receive any money. All-or-nothing funding might seem scary, but it’s amazingly effective in creating momentum and rallying people around an idea. To date, an impressive 44% of projects have reached their funding goals.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="mission" class="mission">
      <div class="bg-overlay">
          <div class="container">
              <div class="wrapper-small">
                  <div class="row p-b-60">
                      <div class="col-md-8 col-md-offset-2 text-center">
                          <h3 class="global">
                            <%= image_tag("badges/scholar.png", width: "100px", height: "100px") %>
                          </h3>
                          <h1 class="text-white bold m-t-20">
                            Our mission is to make entrepreneurship a traditional career path, globally.
                          </h1>
                          <div class="social_icons m-t-30">
                            <i class="fa fa-twitter inline fs-40 text-white"></i>
                            <i class="fa fa-facebook inline fs-40 text-white  m-l-15"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

</div>

<div class="clearfix"></div>
<%= render partial: 'globals/footer' %>



