<%
  meta property: {
    robots: "nofollow",
    charset: "utf-8",
    google: "notranslate",
    alexaVerifyID: "xDHxdz_2gqDx5OsChw00vOyCk3k"
  }
%>
<%
  meta title: "Terms of use",
     description: "Read our terms of use for hungryhead - a platform for students to start entrepreneurship",
     keywords: %w(terms entrepreneurship universities schools colleges)
%>

<% cache(['beta', 'terms_of_user', 'v1']) do %>
<div class="learn-wrapper bg-white">
  <div class="learn">
    <div class="jumbotron no-margin" data-pages="parallax">
        <div class="brand-photo inner">
        <div class="container vmiddle">
        <div class="row">
              <div class="col-md-8 col-sm-10 auto-margin text-center">
                  <div class="hero-section z-index-10">
                      <h1 class="text-white">
                        User Agreement
                      </h1>
                      <p class="text-white no-margin fs-16">
                        Legal terms to keep hungryhead safe for everyone
                      </p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>


  <%= render partial: 'pages/content/terms' %>


</div>
<% end %>
<%= render partial: 'globals/footer' %>

