<% cache(['beta', 'upgrade_browser', 'v1']) do %>
  <div class="container-xs-height full-height">
    <div class="row-xs-height">
      <div class="col-xs-height col-middle">
        <div class="error-container text-center">
          <h2 class="semi-bold">
            <i class="fa fa-frown-o"></i>
            Sorry you are using an outdated browser. We Support all modern browsers and IE9+
          </h2>
          <p>For best experience, please download and install latest version of IE, Chrome, Firefox or Safari </p>
          <div class="error-container-innner text-center">
            <ul class="no-style no-padding">
              <li class="inline p-r-10 bold">For more info Visit, <%= link_to('Browser happy', 'http://browsehappy.com/', class: 'b-b b-grey p-b-5') %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

