<% cache(['beta', 'upgrade_browser', 'v1']) do %>
  <div class="container-xs-height full-height">
    <div class="row-xs-height">
      <div class="col-xs-height col-middle">
        <div class="error-container text-center">
          <%= image_tag('badges/fish') %>
          <h2 class="semi-bold">
            Sorry you are using an outdated browser.
          </h2>
          <p> We Support all modern browsers and Internet explorer version above 9.</p>
          <p>
            You are currently using <%= browser.name + ' ' + browser.version %>. For best experience, please download and install or use latest version of IE, Chrome, Firefox or Safari
          </p>
          <div class="error-container-innner text-center">
            <ul class="no-style no-padding">
              <li class="inline p-r-10 bold">For more info Visit, <%= link_to('Browser happy', 'http://browsehappy.com/', class: 'b-b b-grey p-b-5', target: '_blank') %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

