<% cache(['beta', 'upgrade_browser', 'v1']) do %>
  <div class="container-xs-height full-height">
    <div class="row-xs-height">
      <div class="col-xs-height col-middle">
        <div class="error-container text-center">
          <h1 class="error-number">404</h1>
          <h2 class="semi-bold"><i class="fa fa-frown-o"></i> Sorry you are using an outdated browser</h2>
          <p>Please upgrade</p>
          <div class="error-container-innner text-center">
            <ul class="no-style no-padding">
              <li class="inline p-r-10 bold">Go back to <%= link_to('Homepage', root_path, class: 'b-b b-grey p-b-5') %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

