<%= cache(['beta', 'learn_more', 'v1']) do %>
<div class="learn-wrapper bg-white">
  <div class="learn" data-pages="social">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
      <div class="learn-photo">
        <div class="container vmiddle">
        <div class="row p-t-40">
              <div class="col-md-8 auto-margin">
                  <div class="hero-section inner text-center">
                      <h1 class="text-white">Learn the reason</h1>
                      <p class="text-white fs-16">
                        Why we are doing, what we are doing?
                      </p>
                      <div class="btn-box m-t-20">
                        <%= link_to('Get Started', get_started_path, class: "btn btn-ghost") %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <div class="what-section bg-white">
    <div class="wrapper-small">
      <div class="col-md-7 auto-margin">
        <div class="p-b-30">
          <h2 class="normal">Why Hungryhead? </h2>
          <div class="divider b-b b-grey b-md b-small"></div>
        </div>

        <div>
          <h3 class="m-t-30 semi-bold">1. Hungryhead is a new way to start entrepreneurship. </h3>
            <p class="fs-16">
             We realised that there can be a completely different approach towards entrepreneurship, approach where both learning and building happens together.
            </p>
            <p class="fs-16">
             The solution we have created is an engaging platform that simulates the real world of idea building into an online virtual environment. We bring together like-minded people for collaboration and validation. The simulation occurs at a number of levels,
            </p>
            <ul class="fs-16">
              <li class="m-b-10"> Ideas can receive feedbacks and votes</li>
              <li class="m-b-10"> Ideas can raise virtual investments</li>
              <li class="m-b-10"> Team building</li>
              <li class="m-b-10">Validate and build your idea</li>
            </ul>
        </div>

      </div>
    </div>
  </div>
</div>

<section id="mission" class="mission">
    <div class="bg-overlay">
        <div class="container">
            <div class="wrapper-small">
                <div class="row p-b-60">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h3 class="global">
                          <%= image_tag("badges/scholar.png", width: "100px", height: "100px") %>
                        </h3>
                        <h1 class="text-white bold">
                          Our mission is to make entrepreneurship accessible and practical, globally.
                        </h1>
                        <div class="social_icons m-t-30">
                          <i class="fa fa-twitter inline fs-40 text-white"></i>
                          <i class="fa fa-facebook inline fs-40 text-white  m-l-15"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>
<%= render partial: 'globals/footer' %>
<% end %>
