<%= cache(['beta', 'learn_more', 'v1']) do %>
<div class="learn-wrapper bg-white">
  <div class="learn" data-pages="social">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
      <div class="learn-photo">
        <div class="container vmiddle">
        <div class="row p-t-40">
              <div class="col-md-8 auto-margin">
                  <div class="hero-section inner text-center">
                      <h1 class="text-white">The reason</h1>
                      <p class="text-white fs-16">
                        Why we are doing, what we are doing?
                      </p>
                      <div class="btn-box m-t-20">
                        <%= link_to('Get Started', get_started_path, class: "btn btn-ghost") %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <div class="what-section bg-white">
    <div class="wrapper-small">
      <div class="col-md-6 auto-margin">
        <h3 class="m-t-30 semi-bold">Culmination of our quest to start a company</h3>
        <div class="divider b-b b-success b-md b-small"></div>

        <div class="m-t-20">
          <p class="fs-16">
            Most of the entrepreneurs when they start out don't pay much attention to the problem they are solving, even when they do, it's partial. That's why most of them end up building unnecessary products - wasting resources and time.
          </p>

          <p class="fs-16">
            The solutions currently available to this problem are either impractical or only available to a few "elites". We believe we must have a completely different approach towards entrepreneurship, approach where there is collaboration, not bounded by time or location or your school. Approach where everyone work together to dissect the idea and solve real problems.
          </p>

          <p class="fs-16">
            We started out to solve this problem from "Ground Up". That's when we figured out hungryhead. We realised entrepreneurship is a process and processes are best understood when they take place. They can't be taught because they are bounded by conditions therefore, aren't fixed. We built something that we believe could transform mindsets of people on a global scale.
          </p>

          <p class="fs-16">
            Hungryhead is available for students studying in schools, colleges and universities because from there people of tomorrow come out.
          </p>

        </div>

      </div>
    </div>
  </div>

</div>

<section id="mission" class="mission">
    <div class="bg-overlay">
        <div class="container">
            <div class="wrapper-small">
                <div class="row p-b-60">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h3 class="global">
                          <%= image_tag("badges/scholar.png", width: "100px", height: "100px") %>
                        </h3>
                        <h1 class="text-white bold">
                          Our mission is to make entrepreneurship accessible and practical, globally.
                        </h1>
                        <div class="social_icons m-t-30">
                          <i class="fa fa-twitter inline fs-40 text-white"></i>
                          <i class="fa fa-facebook inline fs-40 text-white  m-l-15"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="clearfix"></div>
<%= render partial: 'globals/footer' %>
<% end %>
