<div class="learn-wrapper bg-white">
  <div class="learn">
    <div class="jumbotron no-margin" data-pages="parallax" data-social="cover">
      <div class="why-photo">
        <div class="container vmiddle">
        <div class="row p-t-40">
              <div class="col-md-8 auto-margin">
                  <div class="hero-section inner text-center">
                      <h1 class="text-white">Learn the reason</h1>
                      <p class="text-white fs-16">
                        Why we are doing, what we are doing?
                      </p>
                      <div class="btn-box m-t-20">
                        <%= link_to('Get Started', get_started_path, class: "btn btn-ghost") %>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>

  <div class="what-section bg-white">
    <div class="wrapper-small">
      <div class="col-md-6 auto-margin">
        <h3 class="semi-bold">Culmination of our quest to start a company</h3>
        <div class="m-t-20">
          <p class="fs-16 text-master">
            Most of the entrepreneurs when they start out don't pay much attention to the problem they are solving, even when they do, it's partial. That's why most of them end up building unnecessary products - wasting resources, energy and time. The fundamental problem we discovered was -
            <strong>lack of initial collaboration with right people and idea validation.</strong>
          </p>

          <p class="fs-16 text-master m-t-20">
            We found the solutions currently available in the market are - either <em>impractical</em> or only available to a few <em>"elites"</em>. We set out to solve this problem from <strong>"Ground Up"</strong> and that's when we found hungryhead. We believe to solve this problem we must have a completely different approach towards entrepreneurship, approach where there is collaboration, not bounded by time or location or qualifications. Approach where everyone work together to dissect the idea, solve real problems and achieve shared gloals.
          </p>

          <p class="fs-16 text-master m-t-20">
            Hungryhead brings together serious entrepreneurial students from schools, colleges and universities worldwide to share, collaborate and validate startup ideas by creating a culture cross-pollination.
          </p>
          <h5 class="bold m-t-20">
            We have built something that we believe could help change the way entrepreneurship has been pursued worldwide.
          </h5>
          <div class="divider b-b b-green b-md b-small m-t-20"></div>

        </div>

      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <%= render partial: 'globals/footer' %>
</div>
