<div class="wrapper-small people-bg-gradient">
  <div class="col-md-6 jumbrotron auto-margin" data-pages="parallax">
    <div class="hero-text inner clearfix">
      <h2 class="text-white"><%= pluralize(@users.size, 'Person') %>
        <span class="text-white">tagged with</span>
        <strong class="b-b b-white p-b-5"><%= params[:tag].capitalize.strip.gsub('-', ' ') %></strong>
      </h2>
    </div>
  </div>
</div>

<%= render partial: 'users/users', resource: @users %>