//find form
var $el = $('#invite_form_<%= @invite_request.user_type %>');
//Append message
$el.html("<div class='no-content'>Thank you! Your request was successfully submitted. We will be in touch shortly.</div>");