<% if @feedbacks.length > 0 %>
  <% @feedbacks.each do |feedback| %>
    <%= render partial: 'feedbacks/_sub_pages/feedback', locals: {feedback: feedback} %>
  <% end %>
  <% else %>
  <div class="widget-box">
    <div class="no-content">
      No feedbacks received.
    </div>
  </div>
<% end %>

<%= will_paginate(@feedbacks, :class => 'pagination-box') %>
