<div class="login-bg">
  <div class="login-wrapper full-height sm-p-t-100">
    <div class="login-container relative col-sm-6 col-md-4">
      <div class="container-sm-height full-height">
        <div class="row row-sm-height">
        <div class="col-sm-8 col-xs-12 col-md-12 col-sm-height col-middle">
          <div class="col-sm-12 col-xs-12 col-md-12">
            <h2 class="bold text-white b-b b-grey p-b-5 pull-left">Welcome back!</h2>
            <h5 class="clearfix text-white">Enter your login details</h5>
            <%= react_component('Login') %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>