<div class="login-wrapper ">
  <div class="bg-pic">
    <img src="assets/Hungryhead_header.jpg" data-src="assets/Hungryhead_header.jpg" data-src-retina="assets/Hungryhead_header.jpg" alt="" class="lazy">
    <div class="bg-caption pull-bottom sm-pull-bottom text-white p-l-20 m-b-20">
      
      <img src="assets/hungryhead_logo_150.png" alt="hungryhead" data-src="assets/hungryhead_logo_150.png" data-src-retina="assets/hungryhead_logo_150.png" alt="" width="80" height="80" class="lazy">
      <h2 class="semi-bold text-white">
			 Enabling students to practically explore entrepreneurship.
      </h2>
      <p class="small">
        images Displayed are solely for representation purposes only, All work copyright of respective owner, otherwise © 2013-2014 REVOX.
      </p>
    </div>
  </div>
  <div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
      <h1 class="bold">Login to hungryhead</h1>
      <%= react_component('Login') %>
      <div class="pull-bottom sm-pull-bottom">
        <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-10 sm-p-b-20 clearfix">
            <ul class="login-footer-links fs-12 no-margin no-padding no-style">
              <li class="inline p-r-10"><a href="" title=""><span class="text-master">@ Copyright hungryhead 2015 </span></a></li>
              <li class="p-l-5 p-r-5 inline no-padding"><a href="" title="">About</a></li>
              <li class="p-l-5 p-r-5 inline"><a href="" title="">Learn</a></li>
              <li class="p-l-5 inline"><a href="" title="">Help</a></li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</div>