<% cache(["beta", "devise_registerations", "new"]) do %>
  <div class="login-wrapper">
    <div class="bg-pic bg-master-dark">
      <img src="assets/Hungryhead_header.jpg" data-src="assets/Hungryhead_header.jpg" data-src-retina="assets/Hungryhead_header.jpg" alt="" class="lazy">
      <div class="bg-caption login-image-caption absolute text-white p-l-20 m-b-20">
        <div class="text-center">
          <img src="assets/hungryhead_logo_150.png" alt="hungryhead" data-src="assets/hungryhead_logo_150.png" data-src-retina="assets/hungryhead_logo_150.png" alt="" width="80" height="80" class="lazy auto-margin">
        <h2 class="semi-bold text-white">
  			 Hey, login to <span class="p-b-5 b-b b-white bold">explore</span> entrepreneurship with peers and mentors worldwide.
        </h2>
        </div>
      </div>
    </div>
    <div class="login-container bg-white">
      <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
        <h2 class="bold text-master b-b b-grey p-b-5 pull-left">Login</h2>
        <%= react_component('Login') %>
        <div class="pull-bottom sm-pull-bottom">
          <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-10 sm-p-b-20 clearfix">
              <ul class="login-footer-links fs-12 no-margin no-padding no-style">
                <li class="p-r-10 inline no-padding b-r b-grey b-dashed"><a href="" title="">Story</a></li>
                <li class="p-l-10 p-r-10 inline b-r b-grey b-dashed"><a href="" title="">Learn More</a></li>
                <li class="p-l-10 inline"><a href="" title="">How it works?</a></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>