<footer>
	<div class="container">

	<div class="row top-footer clearfix">
		<div class="col-md-3">
			<article class="section-list">
				<h2>HungryHead</h2>
				<ul>
					<li><a href="#">Commodo</a></li>
					<li><a href="#">Mauris Omare</a></li>
					<li><a href="#">Ultrices Non</a></li>
				</ul>
			</article>
		</div>

		<div class="col-md-3">
			<article class="section-list">
				<h2>Help</h2>
				<ul>
					<li><a href="#">Feugiat Sodales</a></li>
					<li><a href="#">Vel Lobortis</a></li>
					<li><a href="#">Iaculis At Odio</a></li>
				</ul>
			</article>
		</div>

		<div class="col-md-3">
			<article class="section-list">
				<h2>Join</h2>
				<ul>
					<li><a href="#">Commodo</a></li>
					<li><a href="#">Mauris Omare</a></li>
					<li><a href="#">Ultrices Non</a></li>
				</ul>
			</article>
		</div>

		<div class="col-md-3">
			<article class="section-list">
				<h2>Say hello!</h2>
				<ul>
					<li><a href="#">Feugiat Sodales</a></li>
					<li><a href="#">Vel Lobortis</a></li>
					<li><a href="#">Ultrices Non</a></li>
				</ul>
			</article>
		</div>
	</div>

	<div class="end-footer">
		<div class="footer-logo">
			<a href="index.html">
				<img alt="" src="/assets/hungryhead_header.png">
			</a>
		</div>
		<ul class="social-list">
			<li>
				<a href="#"><img alt="" src="/assets/fb.png"></a>
			</li>
			<li>
				<a href="#"><img alt="" src="/assets/twi.png"></a>
			</li>
		</ul>

	</div>
	<p>© 2015 by hungryhead.org. All Rights Reserved.</p>

	</div>
</footer>