<!-- START FOOTER -->
<div class="container footer">
  <div class="copyright sm-text-center padding-15 no-border">
    <p class="small no-margin pull-left sm-pull-reset">
      <span class="hint-text">Copyright © 2015</span>
      <span class="font-montserrat">HUNGRYHEAD</span>.
      <span class="hint-text">All rights reserved.</span>
      <span class="sm-block">
        <a href="#" class="m-l-10 m-r-10">Terms of use</a> |
        <a href="#" class="m-l-10">Privacy Policy</a> |
        <a href="#" class="m-l-10">Rules</a>
      </span>
    </p>
    <p class="small no-margin pull-right sm-pull-reset">
      <span class="hint-text">A practical platform for exploring entrepreneurship ®</span>
    </p>
    <div class="clearfix"></div>
  </div>
</div>
<!-- END FOOTER -->