<!-- START FOOTER -->
<div class="footer clearfix bg-white bg-shadow">
  <div class="copyright container sm-text-center text-center no-border">
    <p class="small no-margin pull-left sm-pull-reset">
      <span class="hint-text">Copyright © 2015</span>
      <span class="font-montserrat">HUNGRYHEAD</span>.
      <span class="hint-text">All rights reserved.</span>
    </p>
    <span class="sm-block pull-right sm-pull-reset">
      <a href="#" class="m-l-10 m-r-10">Terms of use</a> |
      <a href="#" class="m-l-10">Privacy Policy</a> |
      <a href="#" class="m-l-10">Rules</a>
    </span>
  </div>
</div>
<!-- END FOOTER -->