<div class="container">
  <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     <p>
      Sorry you are using an outdated browser. We Support all modern browsers and Internet explorer version above 9.
    </p>
    <p>
      You are currently using <%= browser.name + ' ' + browser.version %>. For best experience, please download and install or use latest version of IE, Chrome, Firefox or Safari. For more info Visit, <%= link_to('Browser happy', 'http://browsehappy.com/', class: 'b-b b-grey p-b-5', target: '_blank') %>
    </p>
  </div>
</div>