<div class="small-footer pull-bottom">
  <div class="container">
    <div class="top-footer clearfix">
      <article class="section-list">
        <ul>
          <li><a href="#">Our rules</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Trust and Safety</a></li>
          <li><a href="#">Terms of service</a></li>
          <li><a href="#">Cookie Policy</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </article>
    <p class="copyright-text text-white">© 2015 hungryhead, Org.</p>
  </div>
</div>