<div class="small-footer">
	<div class="container">
		<div class="top-footer clearfix">
			<article class="section-list">
				<ul>
					<li><a href="#">Learn more</a></li>
					<li><a href="#">Story</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="#">Rules</a></li>
					<li><a href="#">Terms</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
			</article>
		<p class="copyright text-white">© 2015 by hungryhead.org. All Rights Reserved.</p>
	</div>
</div>
