<!-- Static navbar -->
<div class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/"><img alt="" src="/assets/hungryhead_white.png"></a>
		</div>
		<div class="navbar-collapse collapse">

		<ul class="nav navbar-nav not-signed-in">
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Support</a></li>
		</ul>


		<ul class="social-nav not-signed-in">
			<li><a href="<%= social_registration_path %>">Join</a>
			</li>
			<li><a href="<%= new_user_session_path %>" > Login</a></li>
		</ul>
	 </div>
	</div>
</div>
