<% if @feedbacks.size > 0 %>
  <% @feedbacks.each do |feedback| %>
   <% cache(feedback) do %>
     <%= render partial: 'feedbacks/feedback', locals: {feedback: feedback} %>
   <% end %>
  <% end %>
  <%= will_paginate(@feedbacks, :class => 'pagination-box') %>
<% else %>
  <% if @idea.user != current_user %>
  <div class="panel panel-default p-t-40 p-b-40 box-shadow">
    <div class="text-center light font-opensans fs-22">
      <span class="fa fa-bullhorn fs-22"></span>
      <span class="clearfix">
        No Feedbacks
      </span>
      <div class="m-t-20 clearfix">
        <span class="clearfix p-b-20">
          Click to write your feedback
        </span>
        <% if !policy(@idea).collaborator? %>
          <%= react_component('OpenFeedbackButton', { :feedbacked => @idea.feedbacked?(current_user), form: {idea_slug: @idea.slug, idea_name: @idea.name} }.to_json) %>
        <% end %>
      </div>
    </div>
  </div>
  <% else %>
    <div class="panel panel-default p-t-40 p-b-40 box-shadow">
      <div class="text-center light font-opensans fs-22">
        <span class="fa fa-bullhorn fs-22"></span>
        <span class="clearfix">
          No Feedbacks
        </span>
      </div>
    </div>
  <% end %>
<% end %>