<% if @feedbacks.length > 0 %>
  <% @feedbacks.each do |feedback| %>
   <% cache(feedback) do %>
     <%= render partial: 'feedback', locals: {feedback: feedback} %>
   <% end %>
  <% end %>
  <% else %>
  <div class="widget-box">
    <div class="no-content">
      No feedbacks received.
    </div>
  </div>
 <%= will_paginate(@feedbacks, :class => 'pagination-box') %>
<% end %>