<% cache([@idea, @feedbacks]) do %>
  <div class="modal fade fill-in no-border" id="modalSlideFeedbacks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body no-border no-padding bg-white">
           <% if @feedbacks.length > 0 %>
             <% @feedbacks.each do |feedback| %>
               <%= render partial: 'feedback', locals: {feedback: feedback} %>
             <% end %>
             <% else %>
             <div class="widget-box">
               <div class="no-content">
                 No feedbacks received.
               </div>
             </div>
            <%= will_paginate(@feedbacks, :class => 'pagination-box') %>
           <% end %>
        </div>
      </div>
  <!-- /.modal-dialog -->
  </div>
<% end %>
