<div class="modal fade fill-in" id="modalSlideFeedbacks" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    <i class="pg-close"></i>
</button>
<div class="modal-dialog ">
    <div class="modal-content">
        <div class="modal-body">
            <div class="row">
                <%= render partial: 'feedbacks/feedbacks' %>
            </div>
        </div>
    </div>
</div>
</div>