<% data = render(template: 'ideas/show.json.jbuilder') %>
<div class="container p-b-60">
  <div class="col-sm-12 m-b-10">
    <%= render partial: 'ideas/menu' %>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4  no-padding p-l-15">
    <%= render partial: 'ideas/sidebar', locals: {data: data} %>
  </div>

  <div class="col-md-8 col-lg-8 col-sm-8">
    <div class="feedbacks">
      <div class="idea-content">
        <% cache([@idea, @feedbacks]) do %>
         <%= render partial: "feedbacks" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? && policy(@idea).collaborator? %>
  <div class="idea-collaboration-floating-panel">
    <%= render 'ideas/collaboration' %>
  </div>
<% end %>




