<div class="panel box-shadow m-t-10">
  <div class="panel-heading">
    <div class="panel-title text-master fs-11">
      <span class="fa fa-lightbulb-o text-danger"></span> Ideas
    </div>
    <div class="panel-controls">
      <% if @school.get_published_ideas.length > 5 %>
        <%= link_to("See all", profile_ideas_path(@school), class: "bold text-brand p-l-10") %>
      <% end %>
    </div>
  </div>
  <div class="panel-body">
    <ul class="no-padding no-margin no-style" style="max-height: 250px;">
      <% @school.get_published_ideas.take(5).each do |idea| %>
        <% cache([cache_key_for_idea(idea), "idea_small"]) do %>
          <li id="idea">
            <p class="no-margin">
              <%= link_to(idea.name, idea_path(idea), class: "bold fs-13 no-margin text-black" ) %>
            </p>
            <span class="small no-margin overflow-hidden">
              <%= idea.high_concept_pitch %>
            </span>
            <div class="clearfix"></div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>