<div class="row">
  <table class="table no-margin">
    <tbody>
      <% if @ideas.length > 0 %>
        <% @ideas.each do |idea| %>
          <%= render partial: 'ideas/idea', locals: {idea: idea} %>
        <% end %>
      <% else %>
        <div class="no-content">No Ideas</div>
      <% end %>
    </tbody>
  </table>
</div>
<% if @ideas.length > 10 %>
  <div class="text-center m-t-20">
    <%= link_to("Browse all from #{@school.name}", profile_ideas_path(@school), class: "btn btn-danger fs-13 btn-sm") %>
  </div>
<% end %>