<div class="m-b-10 m-t-10">
  <div class="widget-11-2 panel no-border no-margin box-shadow widget-loader-circle">
      <div class="panel-heading">
       <div class="panel-title">
        Faculties
        </div>
      </div>
      <div class="auto-overflow">
        <ul class="trending-list p-t-20 no-style">
          <li class="m-b-10">
            <div class="widget-16-header p-b-10 p-l-15">
            <span class="icon-thumbnail placeholder bg-master-light pull-left text-white">Cl</span>
            <div class="pull-left">
                <p class="all-caps bold  small no-margin overflow-ellipsis ">Clowdy</p>
                <p class="small no-margin overflow-ellipsis ">Webarch Sales Analysis</p>
            </div>
            <div class="clearfix"></div>
            </div>
          </li>
          <li class="m-b-10">
            <div class="widget-16-header p-b-10 p-l-15">
                <span class="icon-thumbnail placeholder bg-master-light pull-left text-white">Cl</span>
                <div class="pull-left">
                    <p class="all-caps bold  small no-margin overflow-ellipsis ">Clowdy</p>
                    <p class="small no-margin overflow-ellipsis ">Webarch Sales Analysis</p>
                </div>
                <div class="clearfix"></div>
            </div>
          </li>
          <li class="m-b-10">
           <div class="widget-16-header p-b-10 p-l-15">
                <span class="icon-thumbnail placeholder bg-master-light pull-left text-white">Cl</span>
                <div class="pull-left">
                    <p class="all-caps bold  small no-margin overflow-ellipsis ">Clowdy</p>
                    <p class="small no-margin overflow-ellipsis ">Webarch Sales Analysis</p>
                </div>
                <div class="clearfix"></div>
            </div>
          </li>
          <li class="m-b-10">
            <div class="widget-16-header p-b-10 p-l-15">
                <span class="icon-thumbnail placeholder bg-master-light pull-left text-white">Cl</span>
                <div class="pull-left">
                    <p class="all-caps bold  small no-margin overflow-ellipsis ">Clowdy</p>
                    <p class="small no-margin overflow-ellipsis ">Webarch Sales Analysis</p>
                </div>
                <div class="clearfix"></div>
            </div>
          </li>

          <li class="m-b-10">
            <div class="widget-16-header p-b-10 p-l-15">
                <div class="pull-right m-t-10 m-r-20">
                    <p class="all-caps bold  text-brand small no-margin overflow-ellipsis ">See all</p>
                </div>
                <div class="clearfix"></div>
            </div>
          </li>
        </ul>
      </div>
  </div>
</div>