<div class="m-b-10 m-t-10">
  <div class="widget-11-2 panel no-border no-margin box-shadow widget-loader-circle">
      <div class="panel-heading">
       <div class="panel-title">
        Faculties
        </div>
      </div>
      <div class="auto-overflow">
        <ul class="trending-list p-t-20 full-border-light no-style">
        <% @school.latest_faculties.each do |user| %>
         <li class="m-b-10">
           <div class="widget-16-header p-b-10 p-l-15">
           <% if user.avatar.present? %>
             <span class="icon-thumbnail pull-left">
               <%= image_tag(user.avatar.url(:avatar), data: {src:  user.avatar.url(:avatar), src: {retina: user.avatar.url(:avatar) } }, width: "40", height: "40") %>
             </span>
           <% else %>
             <span class="icon-thumbnail placeholder bg-master-light pull-left text-white">
               <%= user.user_name_badge %>
             </span>
           <% end %>
           <div class="pull-left">
               <p class="all-caps bold  small no-margin overflow-ellipsis "><%= user.name %></p>
               <p class="small no-margin overflow-ellipsis "><%= user.mini_bio %></p>
           </div>
           <div class="clearfix"></div>
           </div>
         </li>
        <% end %>
        </ul>
      </div>
  </div>
</div>