<div class="row column-seperation">
  <table class="table no-margin">
    <tbody>
      <% if is_beta %>
        <tr>
          <td colspan="4"class="no-border">
            <div class="no-content">
                <span class="fa fa-smile-o fs-50"></span>
                <h1>
                  Thank you for signing up to our beta. Once we have a few people onboard you will be able to browse and connect them here.
                </h1>
            </div>
            <p class="text-center">In meantime, if you have a startup idea,
              <%= link_to("Click", new_idea_path(:intro), class: 'p-b-5 b-b b-grey text-green') %> to pitch
            </p>
          </td>
        </tr>
      <% else %>
        <% @students.first(5).each do |user| %>
          <%= render partial: 'users/user', locals: {user: user} %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% if @students.size > 10 %>
  <div class="text-center m-t-20">
    <%= link_to("Browse all from #{@school.name}", profile_people_path(@school), class: "btn btn-danger fs-13 btn-sm") %>
  </div>
<% end %>