<div class="row column-seperation">
  <table class="table no-margin">
    <tbody>
      <% if @students.length > 0 %>
        <% @students.each do |user| %>
          <%= render partial: 'users/user', locals: {user: user} %>
        <% end %>
      <% else %>
        <div class="no-content">No Students</div>
      <% end %>
    </tbody>
  </table>
</div>
<% if @students.length > 10 %>
  <div class="text-center m-t-20">
    <%= link_to("Browse all from #{@school.name}", profile_people_path(@school), class: "btn btn-danger fs-13 btn-sm") %>
  </div>
<% end %>