<div class="col-lg-8 auto-margin">
  <div class="panel panel-default no-margin">
    <%= render 'form' %>
    <%= link_to 'Back', schools_path, class: 'text-master b-b b-grey p-b-5 m-t-10 clearfix displayblock pull-left' %>
  </div>
</div>