<div class="wrapper-small school-bg-gradient">
  <div class="col-md-4 jumbrotron auto-margin" data-pages="parallax">
    <div class="hero-text inner">
      <i class="fa fa-university text-white fs-50 pull-left"></i>
      <h2 class="text-white no-margin inline">Universities and Colleges</h2>
      <h5 class="text-white inline no-margin">Find peers from colleges and universities</h5>
    </div>
  </div>
</div>

<%= render partial: 'schools' %>



