<div class="wrapper-small school-bg-gradient">
  <div class="col-md-6 jumbrotron text-center auto-margin" data-pages="parallax" data-social="cover">
    <div class="hero-text inner">
      <h2 class="text-white">Browse Universities and Colleges</h2>
      <h5 class="text-white">Find peers from colleges and universities</h5>
    </div>
  </div>
</div>

<%= render partial: 'schools' %>



