<div class="social-wrapper">
<div class="social" data-pages="social">
    <div class="jumbotron" data-pages="parallax" data-social="cover">
    	<div class="school-data text-center text-white col-md-5">
			<%= image_tag(@school.logo.url(:avatar)) %>
			<h1><%= @school.name %></h1>
			<h2 class="text-white"><i class="ion-location"></i> <%= @school.location %></h2>
		</div>

        <div class="cover-photo" style="background-image: url(/assets/photo1.jpg);">
        </div>
    </div>
</div>
</div>