<section class="slider-caption">
  <div class="container">
    <div class="row">
      <div class="col-md-8 auto-margin hero-text text-center">
        <%= image_tag('badges/idea-guy.png') %>
       <h1 class="p-t-10 clearfix displayblock">
          Entrepreneurship Reimagined
       </h1>
      </div>
      <div class="col-md-6 auto-margin text-center">
        <p class="fs-16 text-white m-t-20">
          <strong class="b-b b-white p-b-5">Hungryhead</strong> is a collaborative online platform for students to share, validate and develop startup ideas with
          <span class="bold">peers and mentors</span>.
        </p>
      </div>
    </div>
    <div class="row">
          <div class="col-md-6 auto-margin">
            <div class="slider-caption-text text-center">
              <div class="btn-box p-t-20">
                <%= link_to(learn_path, class: "btn btn-ghost text-white bold") do %>
                  <i class="icon arrow_triangle-right_alt"></i>Learn more
                <% end %>
                <%= link_to('Request invite', request_invite_path, class: "m-l-10 btn btn-ghost bold text-white") %>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
