<section class="slider-caption xs-p-t-40">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 auto-margin hero-text text-center">
       <%= image_tag('badges/idea-guy.png', class: 'w100') %>
       <h1 class="p-t-10 clearfix displayblock">
          Entrepreneurship Reimagined
       </h1>
      </div>
      <div class="col-md-6 col-sm-10 auto-margin text-center">
        <p class="fs-16 text-white m-t-20">
          <strong class="b-b b-white p-b-5">Hungryhead</strong> is a collaborative online platform for students to share, validate and develop startup ideas with
          <span class="bold">peers and mentors</span>.
        </p>
      </div>
    </div>
    <div class="row">
          <div class="col-md-6 auto-margin">
            <div class="slider-caption-text text-center">
              <div class="btn-box p-t-20">
                <%= link_to(learn_path, class: "btn btn-ghost text-white bold m-r-10") do %>
                  Learn more
                <% end %>
                <%= link_to(product_path, class: "btn btn-ghost text-white bold") do %>
                  Our Product
                <% end %>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>
