<div class="modal fade fill-in bg-white" id="pagesContentModal" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="true">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header text-left">
            <h1 class="p-b-5 inline m-r-10 popup-title">
            </h1>
            <span class="hint-text inline fs-12">Click anywhere to close</span>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
              </div>
            </div>
          </div>
      </div>
  </div>
</div>