<h2 class="normal">Premium solution for institutions</h2>
<h4 class="text-green bold">Completely Free 90-Days, No Obligation Trial</h4>
<p class="fs-16">
  Our completely free, no obligation 90-days trial makes it easy for you to try hungryhead institutional features and experience the many benefits first-hand. We will give you full access to your institution profile and dashboard to start engaging with entrepreneurial students rightaway.
</p>

<div class="divider b-b b-green b-md b-small m-t-20 m-b-20"></div>
<div class="values m-t-40 clearfix">
  <h2 class="normal">Features for institutions</h2>
  <h5>
    We built tools for institutions to bridge the startup disconnect idea engagement and support process.
  </h5>
  <div>
    <div class="col-md-6 col-sm-6 no-padding <%= browser.device.mobile? ? '' : 'p-r-15'  %>">
      <h4 class="bold">Engage and collaborate</h4>
      <p class="fs-16">
        Engage with students by creating events or organising workshops.
      </p>
    </div>
    <div class="col-md-6 col-sm-6 no-padding <%= browser.device.mobile? ? '' : 'p-l-15'  %>">
      <h4 class="bold">Connect and communicate</h4>
      <p class="fs-16">
        Find and connect with students who are interested in entrepreneurship.
      </p>
    </div>
    <div class="col-md-6 col-sm-6 no-padding <%= browser.device.mobile? ? '' : 'p-r-15'  %>">
      <h4 class="bold">Student idea support</h4>
      <p class="fs-16">
        Assess and provide direct and practical support to student ideas.
      </p>
    </div>
    <div class="col-md-6 col-sm-6 no-padding <%= browser.device.mobile? ? '' : 'p-l-15'  %>">
      <h4 class="bold">Measure and iterate</h4>
      <p class="fs-16">
        Measure your contributions and supports through our dashboard.
      </p>
    </div>
  </div>
</div>
<div class="divider b-b b-green b-md b-small m-t-20"></div>
