<h2 class="normal">Stumble and fall</h2>
<div>
  <p class="m-t-20 fs-16 text-master">
    Every entrepreneur starts with an idea - that needs validation and collaboration with the right people to bring it alive.  We can all recall ideas that haven't taken off or consumed time, money and resources because we weren’t able to validate and collaborate early on. On the flip side there are many of us who have a passion and urge to be more entrepreneurial - but don't have the idea, yet have loads to offer.
  </p>
  <p class="m-t-20 fs-16 text-master">
    <strong>In early 2011,</strong> while studying at university something similar happened with us. We were in first year of our computer science course, practically had no startup experience. We learned our first startup idea and just jumped into building it - overdrew 1.8K from the bank, optimistically thinking that we will get some funding from the university and spent next 4 months building this idea. Later, we were refused funding and consequently, financially broke, so we decided to drop the idea and move on.
  </p>
  <p class="m-t-20 fs-16 text-master">
    Couple of months later, after reflecting on what went wrong, we thought the problem was funding so, we started building a crowdfunding platform (Fundded) to solve the funding problem for students but, this time we collaborated from the start and shared the idea with as many people as possible and got many feedbacks. <strong>In the process,</strong> we discovered it was not the funding that was the problem but the lack of collaboration and validation - the initial but, the most important step before getting started.
  </p>
  <p class="bold m-t-20 fs-16">And, hungryhead was born!</p>

  <h5 class="m-t-20 bold">
    We built hunrgyhead to bridge the gap - something we did not had access to when we were starting out as student entrepreneurs.
  </h5>
</div>
<div class="divider b-b b-green b-md b-small m-t-20"></div>