<section class="wrapper-small">
<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-10 col-xs-12 auto-margin">
      <em>
        These updated terms went into effect on July 25, 2015, at 12 a.m. GMT, and apply to everyone who beta register on our platform.
      </em>
      <em class="clearfix semi-bold">
        This page is currently a work in progress and we will be updating our terms as we open features on our platform to be used by our users.
      </em>
    </div>
  </div>
</div>
</section>

<section class="intro bg-white">
<div class="wrapper-small">
<div class="container">
<div class="col-md-12 col-sm-12 auto-margin">
<div class="row">
  <div class="text-master">
      <h1 class="semi-bold">Introduction</h1>
      <div class="divider b-b b-green b-md b-small m-t-20 m-b-20"></div>
      <h3>Welcome to hungryhead</h3>
      <div class="col-md-4 no-padding p-r-30 sm-no-padding full-height">
        <div class="m-t-40">
          <h5 class="no-margin semi-bold">
            When you use our Services, you are entering into a legal agreement and you agree to all of these terms.
          </h5>
        </div>
      </div>
      <div class="col-md-7 no-padding">
        <p class="fs-16">
         By using this website (the "Site") and services (together with the Site, the "Services") offered by Hungryhead limited (together with its consultants, employees, officers, and directors — collectively, "Hungryhead," "we," or "us"), you’re agreeing to these legally binding agreement(the "Terms", even if you are using our Services on behalf of a institution). You’re also agreeing to our <%= link_to('Privacy Policy', privacy_path) %> and agreeing to follow any other rules on the Site, like our <%= link_to('Community Guidelines', rules_path) %>. If you do not agree to this Agreement, do NOT click "Join" (or similar) and do not access or otherwise use any of our Services.
        </p>

        <p class="fs-16">
          Registered users of our Services are "Members" and unregistered users are "Visitors". This Agreement applies to both.
        </p>
      </div>
  </div>
</div>
</div>
</div>
</div>
</section>

<section class="intro bg-master-lightest p-b-100">
  <div class="wrapper-small">
  <div class="container">
  <div class="col-md-12 col-sm-12 auto-margin">
  <div class="row">
    <h1 class="semi-bold">Obligations</h1>
    <div class="divider b-b b-green b-md b-small m-t-20 m-b-20"></div>
    <div class="col-md-4 no-padding p-r-30 sm-no-padding full-height">
      <div class="m-t-40">
        <h5 class="no-margin semi-bold">
          You're eligible to enter into this Agreement and you are at least our "Minimum Age".
        </h5>
      </div>
    </div>
    <div class="col-md-7 no-padding">
      <h5 class="bold">Service Eligibility</h5>
      <p class="fs-16">
       To use the Services, you agree that:
       <ul class="fs-16 m-b-20">
         <li>you must be the "Minimum Age" (defined below) or older;</li>
         <li>if you are a student or faculty of an institution you must provide your school email address;</li>
         <li>you will only have one Hungryhead account, which must be in your real name; and</li>
         <li>you are not already restricted by Hungryhead from using the Services.</li>
       </ul>
      </p>

      <p class="fs-16">
        "Minimum Age" means you need to be at least 15 years old, or old enough to form a binding contract where you live. If necessary, we may ask you for proof of age.
      </p>
    </div>
  </div>

  <div class="row full-border-light p-t-20 m-t-20">
    <div class="col-md-4 p-r-30 sm-no-padding full-height">
      <div class="m-t-40">
        <h5 class="no-margin semi-bold">
          You'll keep your password safe.
        </h5>
        <h5 class="no-margin semi-bold">
          You will not share an account with anyone else and will follow our rules and the law.
        </h5>
      </div>
    </div>
    <div class="col-md-7">
      <h5 class="bold">Your Membership</h5>
      <p class="fs-16">
        As between you and others, your account belongs to you. You agree to:
        <ul class="fs-16 m-b-20">
          <li>try to choose a strong and secure password;</li>
          <li>keep your password secure and confidential;</li>
        </ul>
      </p>
    </div>
  </div>
  </div>
  </div>
  </div>
</section>