<h3 class="semi-bold">The culmination of our quest to start a company</h3>
<div class="m-t-20">
  <p class="fs-16 text-master">
    Most of the entrepreneurs when they start out don't pay much attention to the user's real pain point and end up building unwanted products.

  <p class="fs-16 text-master bold">The fundamental problem we discovered were - </p>
    <ul class="fs-16 text-master">
        <li class="m-b-10"> Lack of initial collaboration with right people</li>
        <li class="m-b-10"> Problem validation and,</li>
        <li>Idea Validation</li>
    </ul>
  </p>

  <p class="fs-16 text-master m-t-20">
    We found that the solutions currently available in the market are - either <em>impractical</em> or <em> limited</em>. We set out to solve this problem from the <strong>"Ground Up"</strong> and that's when we found Hungryhead.
  </p>

  <p class="fs-16 text-master m-t-20">
    We believe in solving this problem we must have a completely different approach towards entrepreneurship, an approach where there is collaboration, not bounded by location or qualifications. An approach where everyone works together to dissect the idea, solve real problems and achieve shared goals.
  </p>

  <p class="fs-16 text-master m-t-20">
    Hungryhead is a practical platform that brings together serious entrepreneurial students from around the world to share, collaborate and validate startup ideas with peers and mentors.
  </p>

  <h5 class="bold m-t-20">
    We have built something that we believe could change the way entrepreneurship has been pursued worldwide.
  </h5>

  <div class="divider b-b b-green b-md b-small m-t-20"></div>
</div>