<h2 class="normal text-green">Pitch your idea</h2>
<div class="divider b-b b-green b-md b-small"></div>
<%= react_component('NewIdeaForm', {meta: {name: @user.name, location: @user.location_list.first, token: params[:token]}})%>
