<h2 class="normal">Create your idea profile</h2>
<div class="divider b-b b-grey b-md b-small"></div>
<%= react_component('NewIdeaForm', {meta: {name: current_user.name, location: current_user.location_list.first}})%>