<div class="row row-same-height">
  <div class="col-sm-10 auto-margin">
  <h3 class="normal text-green">Things to know before pitching your idea:</h3>
  <div class="divider b-b b-green b-small"></div>
  <p class="fs-16 semi-bold m-t-20">
    <strong>Hungryhead is an online community</strong> to validate and build new student startup ideas. We founded hungryhead on a few core values –– <strong>trust, respect and openness</strong>. It’s all up to us to ensure hungryhead is a safe and open platform to share and validate new student startup ideas.
  </p>
  <div>
    <h3 class="m-t-30 semi-bold">Ideas must be created to share with others.</h3>
    <p>
      We’re a home for everything from films, games, and music to art, design, and technology. Kickstarter is full of projects, big and small, that are brought to life through the direct support of people like you. Since our launch in 2009, <b>8.4 million people </b> have pledged more than <b>$1.7 billion</b>, funding <b>82,000</b> creative projects. Thousands of creative projects are raising funds on Kickstarter right now.
    </p>
  </div>
  <div>
    <h3 class="m-t-30 semi-bold">Ideas must be useful</h3>
    <p>
      The filmmakers, musicians, artists, and designers you see on Kickstarter have complete control over and responsibility for their projects. Kickstarter is a platform and a resource; we’re not involved in the development of the projects themselves. Anyone can launch a project on Kickstarter as long as it follows our rules.
    </p>
  </div>
  <div>
    <h3 class="m-t-30 semi-bold">Be honest</h3>
    <p>
      Project creators set a funding goal and deadline. If people like a project, they can pledge money to make it happen. Funding on Kickstarter is all-or-nothing — projects must reach their funding goals to receive any money. All-or-nothing funding might seem scary, but it’s amazingly effective in creating momentum and rallying people around an idea. To date, an impressive 44% of projects have reached their funding goals.
    </p>
  </div>
  <div class="pager wizard m-t-20 clearfix">
    <% path = params[:token].present? ? next_wizard_path(token: params[:token]) : next_wizard_path %>
    <%= link_to("<i class='fa fa-arrow-right'></i> Pitch idea".html_safe, path, class: 'text-white btn btn-cons btn-brand pull-right') %>
  </div>
  </div>
</div>