/* Activities CSS */
.main-post-content a {
	font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
}
.main-post-content .read-more-link {
	display: block;
	font-size: 12px;
	margin-top: 10px;
}
.activity-filter {
	background: #f2f2f2;
	display: block;
	overflow: hidden;
	margin-bottom: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	box-shadow: 0 1px 5px #e5e5e5;
}

.activity-filter .filters {
	width: 100%;
}

.activity-filter ul li {
	float: left;
	list-style: none;
	border-right: 1px solid #e7e9eb;
	text-align: center;
	padding: 10px 12px;
}
.activity-filter ul li.active {
	background: #4285f4;
}
.activity-filter ul li.active a {
	color: #fff;
}

.fixed-activity-filter {
	position: fixed;
	top: 50px;
	z-index: 10;
	left: 483px;
	right: 152px;
}
.no-activities {
	background: rgba(0, 0, 0, 0.3);
	margin-top: 10px;
	padding: 10px;
	color: #fff;
}
.close.set-absolute {
	position: absolute;
	right: 10px;
	top: 30px;
	color: #fff;
	display: block;
	opacity: 1;
	font-size: 20px;
}
.infinite-list {
	height: 200px;
	overflow: scroll;
}

a.recipient-link {
	position: relative;
	display: block;
}
