/* After Signup */


#categories-choose .categorie {
	margin: 0;
	overflow: hidden;
	position: relative;
}

.border-left {
	border-left:1px solid #e1e1e1;
}
.border-bottom {
	border-bottom:1px solid #e1e1e1;
}

#categories-choose .categorie {
	list-style: none;
	float: left;
}

#categories-choose .categorie a {
	display: inline-block;
	color: #9b9c9c;
	font-size: 43px;
	font-family: 'din-lightitalic', Helvetica, Arial, sans-serif;	
  padding: 30px 30px;
  text-decoration: none;
	transition: color 0.2s ease-in-out ;
    -moz-transition: color 0.2s ease-in-out ;
    -webkit-transition: color 0.2s ease-in-out ;
    -o-transition: color 0.2s ease-in-out;
}

#categories-choose .categorie a p {
	font-size: 30px;
	font-family: 'din-lightitalic', Helvetica, Arial, sans-serif;
	text-align: left;
}

#categories-choose .categorie a:hover {
	color: #4285f4;
}

#categories-choose .categorie a p {
	text-transform: uppercase;
}

#categories-choose .categorie a span {
	display: block;
	font-size: 12px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
  font-style: italic;
  margin-bottom: 10px;
  text-align: left;
}


.left-form-fill {
	width: 265px;
	float: left;
}

.left-form-fill:first-child {
	margin-right: 68px;
}

.mentor-form label {
	clear: both;
}

#acreditation,
#investment,
.student-form,
.mentor-form {
	max-width: 100%;
	margin: auto;
	background: #fff;
	padding: 20px;
	overflow: hidden;
}

input[type="radio"] {
	float: left;
	margin-right: 10px;
}

ul.check-skills li {
	float: left;
	overflow: visible;
	min-width: 265px;
}

