/*-------------------------------------------------*/
/* =  Canvas
/*-------------------------------------------------*/

.canvas-head {
	background: #53d0a5;
	margin-top: 50px;
}

.canvas-head h1 {
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin: 20px 0 10px;
	font-size: 31.5px;
}

.canvas-head p {
	color: #fff;
	font-weight: bold;
	margin-bottom: 20px;
}

#canvas {
	background: #f8f8f8;
}

.canvas-header h1 {
	color: #3a4048;
	font-size: 26px;
	font-weight: bold;
	line-height: 30px;
	margin-bottom: 6px;
	margin-top: 30px;
}

.canvas-header p {
	color: #bababa;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.canvas-header a {
	display: inline-block;
	width: 19px;
	height: 26px;
	margin-top: 12px;
	background: url('/assets/canvas/add-icon.png') center center no-repeat;
	transition: opacity 0.17s ease-in-out;
	-moz-transition: opacity 0.17s ease-in-out;
	-webkit-transition: opacity 0.17s ease-in-out;
	-o-transition: opacity 0.17s ease-in-out;
}

.canvas-header a:hover {
	opacity: 0.7;
}

.canvas-page {
	position: relative;
	padding-bottom: 60px;
	min-height: 680px;
}

.canvas-page .top-picks {
	margin-bottom: 0;
	margin-top: 20px;
}

.canvas-header {
	overflow: hidden;
	margin-bottom: 10px;
	float: left;
}

.progress {
	width: 330px;
	float: right;
	margin-top: 30px;
	margin-right: 14px;
	background: #6cadf9;
	border-radius: 0px;
	border: 1px solid #e5e5e5;
	box-shadow: none;
}

.progress .bar {
	background: #61e3cf;
}

.canvas-menu {
	z-index: 999;
	margin: 0;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	float: left;

}

.canvas-menu li {
	list-style: none;
	display: block;
	height: auto;
	border-right: 1px solid #e7e9eb;
	text-align: center;
	float: left;
	padding: 0 15px;
}

.canvas-menu li a {
	display: inline-block;
	font-size: 13px;
	letter-spacing: 0px;
	padding: 15px 0 15px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.canvas-menu li:first-child {
	padding-left: 0px;
}

.canvas-menu li [class^="link-"] {
    font-size: 13px;
    color: #6a7480;
    font-style: normal;
}

.canvas-menu li.active a i {
	color: #61e8ba!important;
	font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
}


.canvas-menu li a:hover {
	opacity: 1;
}

.canvas-menu.active li a span {
	opacity: 1;
}

.canvas-menu li a.canvas-extend {
	background: url('/assets/canvas/icon1.png') center center no-repeat;
}

.canvas-menu li a.canvas-icon {
	background: url('/assets/canvas/icon2.png') center center no-repeat;
}

.canvas-menu li a.invite-icon {
	background: url('/assets/canvas/icon3.png') center center no-repeat;
}

.canvas-menu li a.chat-icon {
	background: url('/assets/canvas/icon4.png') center center no-repeat;
}

.canvas-menu li a.project-icon {
	background: url('/assets/canvas/icon5.png') center center no-repeat;
}

.canvas-menu li a.option1-icon {
	background: url('/assets/canvas/icon6.png') center center no-repeat;
}

.canvas-menu li a.option2-icon {
	background: url('/assets/canvas/icon7.png') center center no-repeat;
}

.canvas-menu li a.settings-icon {
	background: url('/assets/canvas/icon8.png') center center no-repeat;
}

.help-button {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 9999;
	width: 56px;
	height: 54px;
	background: #3a4048 url('/assets/canvas/unknown.png') center center no-repeat;
	border-top: 1px solid #31363d;
}

.canvas-second-section h3 {
	float: left;
	color: #242424;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	line-height: 20px;
	margin-top: 20px;
}

.canvas-second-section a.add-notes {
	display: inline-block;
	width: 30px;
	height: 38px;
	float: right;
	background: url('/assets/add-note.png') center center no-repeat;
}

.canvas-page-tabs {
	clear: both;
}

.canvas-box {
	overflow: hidden;
	clear: both;
}

/*.canvas-box::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.canvas-box::-webkit-scrollbar-track {
    background: #d2d2d2;
}

.canvas-box::-webkit-scrollbar-thumb {
    background: #4285f4;
}*/

.canvas-tabs {
	display: none;
}

.canvas-tabs:first-child {
	display: block;
}

.box-area {
	float: left;
	width: 19%;
	margin-right: 1%;
	height: 694px;
	position: relative;
}

.canvas-placeholder {
	position: relative;
	background: #ffffff;
	margin-bottom: 15px;
}

.canvas-placeholder.key-partners {
	background: #fff url('/assets/canvas/can1.png') center center no-repeat;
}

.canvas-placeholder.sales-marketing {
	background: #fff url('/assets/canvas/can2.png') center center no-repeat;
}

.canvas-placeholder.delivery {
	background: #fff url('/assets/canvas/can3.png') center center no-repeat;
}

.canvas-placeholder.competitors {
	background: #fff url('/assets/canvas/can4.png') center center no-repeat;
}

.canvas-placeholder.cust-segment {
	background: #fff url('/assets/canvas/can5.png') center center no-repeat;
}

.canvas-placeholder.makro-econom {
	background: #fff url('/assets/canvas/can6.png') center center no-repeat;
}

.canvas-placeholder.surplus {
	background: #fff url('/assets/canvas/can7.png') center center no-repeat;
}

.canvas-placeholder.revenue-structure {
	background: #fff url('/assets/canvas/can8.png') center center no-repeat;
}

.canvas-elem-content {
	padding: 10px;
}

.box-area h3 {
	margin: 0 0px 27px 0;
	padding: 5px;
	color: #fff;
	font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	font-family: 'dinengschrift-alternate';
	line-height: inherit;
}

.canvas-placeholder a.canvas-comments {
	position: absolute;
	display: inline-block;
	bottom: 10px;
	right: 10px;
	height: 22px;
	width: 25px;
	background: url('/assets/canvas/comment.png') center center no-repeat;
}

.canvas-placeholder a.canvas-comments:hover {
	background: url('/assets/canvas/comment-active.png') center center no-repeat;
}

.canvas-placeholder a.canvas-attachment {
	position: absolute;
	display: inline-block;
	bottom: 10px;
	right: 40px;
	height: 22px;
	width: 22px;
	background: url('/assets/canvas/attachment.png') 0 0 no-repeat;
}

.canvas-placeholder a.canvas-attachment:hover {
	background: url('/assets/canvas/attachment2.png') 0 0 no-repeat;
}

.box-area a.canvas-comments span {
	position: absolute;
	display: inline-block;
	top: -5px;
	right: -5px;
	margin-left: 15px;
	color: #fff;
	background: #4285f4;
	font-size: 10px;
	font-weight: bold;
	padding: 2px 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	line-height: 12px;
}

.canvas-note {
	margin: 0;
}

.canvas-note li {
	position: relative;
	list-style: none;
	margin-bottom: 10px;
	margin-left: 0;
	padding: 8px 28px 8px 10px;
	background: #4285f4;
}

.canvas-note li.element-disabled {
	background: #555f6b;
}

.canvas-note li a {
	position: absolute;
	top: 14px;
	right: 10px;
	width: 15px;
	height: 12px;
	display: inline-block;
	background: url('/assets/canvas/tik.png') center center no-repeat;
}

.canvas-note li.element-disabled a {
	background: url('/assets/canvas/cross.png') center center no-repeat;
}

.canvas-note li p {
	margin: 0;
	line-height: inherit;
	color: #fff;
	font-size: 13px;
}

.box-area .canvas-elem-content > p {
	position: absolute;
	text-align: center;
	color: #99a7ba;
	bottom: 35px;
	left: 20px;
	right: 20px;
	font-size: 12px;
	line-height: 20px;
	margin: 0;
}

.box-area.two-options {
	padding: 0;
	height: 350px;
}

.box-child {
	height: 339px;
	position: relative;
}

.bottom-area-box {
	clear: both;
}

.bottom-area-box .box-area {
	width: 49%;
	height: 339px;
	margin-right: 1%;
}

/*.canvas-hover-box {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	top: 80px;
	left: 23px;
	right: 23px;
}

.canvas-placeholder:hover .canvas-hover-box {
	visibility: visible;
	opacity: 1;
}

.canvas-hover-box p {
	color: #fff;
	font-size: 12px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	margin: 0;
	margin-bottom: 7px;
}

.canvas-hover-box a.add-inbox-notes {
	display: block;
	position: relative;
	margin-top: 20px;
	margin-left: -3px;
	width: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border: 3px dashed #4a7cb6;
	height: 120px;
	background: url('/assets/canvas/drag.png') center 20px no-repeat;
	text-align: center;
	text-decoration: none;
}

.canvas-hover-box a.add-inbox-notes span {
	display: block;
	position: relative;
	padding-top: 80px;
	color: #4a7cb6;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
}*/

.member-section-page {
	margin-top: 10px;
	position: fixed;
	top: 300px;
	right: 30px;
	width: 80px;
	height: 300px;
}

.member-section-page ul {
	margin: 0;
}

.member-section-page h2 {
	margin: 0;
	margin-bottom: 20px;
	font-size: 14px;
	color: #99a7ba;
}

.member-section-page ul li {
	list-style: none;
	position: relative;
	margin-bottom: 6px;
}

.member-section-page ul li img {
	position: relative;
	z-index: 2;
}

.member-section-page ul li span {
	display: block;
	position: absolute;
	top: -18px;
	left: -4px;
	background: rgba(91,152, 224, 0.9);
	/*background: rgb(91,152, 224);*/
	color: #efefee;
	font-size: 13px;
	padding: 6px 15px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	opacity: 0;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.member-section-page ul li:hover span {
	opacity: 1;
	z-index: 10;
}

.member-section-page ul li span:after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border: 8px solid rgba(91,152, 224, 0.9);
	/*border: 8px solid rgb(91,152, 224);*/
	border-left-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	bottom: -16px;
	left: 50%;
	margin-left: -8px;
}

.chat-section {
	position: fixed;
	width: 272px;
	right: 47px;
	bottom: 0px;
	z-index: 99;
}

.chat-section a {
	display: block;
	text-decoration: none;
	background: #3b4149;
	width: 240px;
	height: 20px;
	padding: 10px 15px;
	border: 1px solid transparent;
	border-radius: 1px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-o-border-radius: 1px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.chat-section form {
	display: none;
	margin: 0;
	background: #3a4048;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	overflow: hidden;
	position: relative;
}

.chat-section form h3 {
	color: #d6d6d6;
	font-size: 13px;
	text-transform: uppercase;
	padding: 0px 9px 0px;
	background: #282d32;
	margin: 0;
	line-height: 40px;
}

.chat-section form a.close-chat {
	position: absolute;
	display: inline-block;
	width: auto;
	top: 0px;
	right: 0px;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	background: none;
}

.comment-tree {
	padding: 0;
	max-height: calc(100% - 220px);
	height: calc(100% - 210px);
	height: -webkit-calc(100% - 220px);
}

.comment-tree-list {
	margin: 0;
	margin: 0;
	height: 100%;
  	overflow-y: scroll;
  	padding: 0;
}
.message-form {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 10000;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  background: #f2f2f2;
  border-top: 1px solid #f2f2f2;
}
.comment-tree-list li {
	list-style: none;
	overflow: hidden;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 0;
	padding: 10px 12px;
}
.comment-tree-list li:last-child {
	border-bottom: none;
}
.comment-tree-list li img {
	max-width: 44px;
	border: 1px solid #e7e7e7;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
  	box-shadow: 0 1px 5px #e7e7e7;
	float: left;
}

.comment-tree-list li.friend-text img {
	float: right;
}

.comment-tree-list li .tree-content {
	margin-left: 38px;
}

.comment-tree-list li.friend-text .tree-content {
	margin-right: 54px;
	margin-left: 0;
}

.comment-tree-list li .tree-content p {
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 9px;
	position: relative;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	float: left;
}

.comment-tree-list li.friend-text .tree-content p {
	background: #4285f4;
	float: right;
}
.tree-content div.message {
  font-size: 13px;
  line-height: 16px;
  margin-bottom: 0;
}
.comment-tree-list li .tree-content span {
	line-height: inherit;
	color: #717f91;
	font-size: 10px;
}
.chat-section textarea {
	margin: 6px;
	width: 95%;
	padding: 4px 10px;
	height: 30px;
	line-height: 20px;
	background: #555f6b;
	color: #fff;
	border: none;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
}

#myModal-comm,
#myModal-notes {
	position: fixed;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	padding: 0;
	top: 50% !important;
	left: 50% !important;
	width: 556px;
	max-width: 556px;
	margin-left: -278px;
	max-height: 520px;
	margin-top: -260px !important;
}

#myModal-comm {
	background: #fff;
}

#myModal-comm .comment-tree-list li .tree-content p {
	background: #f6f6f6;
	color: #666666
}

#myModal-comm h3 {
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding: 5px 10px 5px;
	background: #5188c9 url('/assets/canvas/comment.png') 520px center no-repeat;
	margin: 0;
}

#myModal-comm form {
	margin-bottom: 0;
}

#myModal-comm textarea {
	margin: 6px;
	width: 524px;
	padding: 10px;
	line-height: 20px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	background: #fff;
	border: 1px solid #e1e1e1;
	border-top: 2px solid #e1e1e1;
	border-left: 2px solid #e1e1e1;
}

#myModal-notes {
	background: #fff;
	max-height: 530px;
}

#myModal-notes form {
	margin-bottom: 0;
}

.notes-form-area {
	padding: 18px;
}

.notes-form-area label,
.notes-form-area h4 {
	display: block;
	color: #4285f4;
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	line-height: 16px;
}

.notes-form-area label span,
.notes-form-area label p {
	font-style: italic;
	font-style: 13px;
	font-weight: normal;
}

.notes-form-area label p {
	display: inline-block;
	float: right;
	margin-bottom: 5px;
}

.notes-form-area input[type="text"],
.notes-form-area textarea {
	color: #6d6e71;
	padding: 10px;
	font-size: 13px;
	display: block;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	width: 500px;
	margin-bottom: 18px;
	border: 1px solid #dadada;
	border-top: 2px solid #dadada;
	border-left: 2px solid #dadada;

}

.notes-form-area textarea {
	height: 100px;
}

.notes-form-area .select-box {
	z-index: 99999;
	position: relative;
}

.notes-form-area .sbHolder {
	width: 520px;
}

.notes-form-area .sbSelector {
	color: #6d6e71;
	width: 507px;
	background: #fff;
	border: 1px solid #dadada;
}

.notes-form-area .sbOptions {
	width: 520px;
}

.notes-form-area h4 {
	margin-top: 0;
}

.left-choices {
	width: 68%;
	float: left;
}

.left-choices ul {
	margin: 0;
	margin-bottom: 12px;
}

.left-choices ul li {
	display: inline-block;
	float: left;
	position: relative;
	width: 110px;
}

.left-choices ul li input[type="radio"]{
	display: inline-block;
	float: left;
	position: relative;
}

.left-choices ul li input[type="radio"] {
	float: left;
	margin-bottom: 10px;
	margin-right: 12px;
	opacity: 0;
	z-index: 3;
	position: relative;
}

.left-choices ul li input[type="radio"] + span {
	position: absolute;
	top: 0;
	left: -2px;
	width: 17px;
	height: 18px;
	line-height: 25px;
	padding: 3px;
	color: #FFF;
	text-align: center;
	background: url('/assets/canvas/radio.png') center no-repeat;
}

.left-choices ul li input[type="radio"]:checked + span {
	background: url('/assets/canvas/radio-checked.png') center no-repeat;
}

.left-choices ul li p,
.include-in-plan p {
	margin-bottom: 0;
	color: #666666;
	font-weight: bold;
	font-size: 13px;
	margin-top: 2px;
}

.include-in-plan {
	position: relative;
	margin-bottom: 15px;
}

.include-in-plan input[type="checkbox"] {
	float: left;
	margin-bottom: 10px;
	margin-right: 12px;
	opacity: 0;
	z-index: 3;
	position: relative;
}

.include-in-plan input[type="checkbox"] + span {
	position: absolute;
	top: 0;
	left: -2px;
	width: 17px;
	height: 17px;
	line-height: 25px;
	padding: 3px;
	color: #FFF;
	text-align: center;
	background: url('/assets/canvas/checkbox.png') center no-repeat;
}

.include-in-plan input[type="checkbox"]:checked + span {
	background: url('/assets/canvas/checkbox-checked.png') center no-repeat;
}

.right-choices {
	width: 32%;
	float: left;
}

.right-choices ul.skin-color {
	margin: 0;
}

.right-choices ul.skin-color li {
	display: inline-block;
	float: left;
	margin-left: 5px;
}

.right-choices ul.skin-color li:first-child {
	margin-left: 0px;
}

.right-choices ul.skin-color li a {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 2px solid transparent;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
}

.right-choices ul.skin-color li a.blue {
	background: blue;
}

.right-choices ul.skin-color li a.orange {
	background: orange;
}

.right-choices ul.skin-color li a.pink {
	background: pink;
}

.right-choices ul.skin-color li a.green {
	background: green;
}

.right-choices ul.skin-color li a.red {
	background: red;
}

.right-choices ul.skin-color li a.yellow {
	background: yellow;
}

.right-choices ul.skin-color li a.active {
	border: 2px solid #666666;
}

#myModal-notes .submit-area,
#invite-popup .submit-area,
#export-popup .submit-area,
#attachment-popup .submit-area {
	clear: both;
	padding: 8px 20px;
	background: #5188c9;
}

#myModal-notes input[type="submit"],
#myModal-notes .submit-area a,
.save-list input[type="submit"],
.save-list a.cancel-list,
.detail-form-work > a,
#invite-popup input[type="submit"],
#export-popup .submit-area a,
#attachment-popup input[type="submit"] {
	display: inline-block;
	background: #ffffff;
	color: #5188c9;
	font-size: 14px;
	margin-right: 12px;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	padding: 10px 20px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	transition: background 0.2s ease-in-out;
	-moz-transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
}

#myModal-notes .submit-area a,
.save-list a.cancel-list,
#export-popup .submit-area a {
	margin-top: 1px;
	text-decoration: none;
}

#myModal-notes input[type="submit"]:hover,
#myModal-notes .submit-area a:hover,
.save-list input[type="submit"]:hover,
.save-list a.cancel-list:hover,
.detail-form-work > a:hover,
#invite-popup input[type="submit"]:hover,
#export-popup .submit-area a:hover,
#attachment-popup input[type="submit"]:hover {
	background: #2c4f79;
	color: #5188c9;
}

#myModal-notes input[type="submit"] {
	margin-top: -2px;
}

#canvas-settings {
	clear: both;
}

#canvas-settings h1 {
	background: #4285f4;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	padding: 5px 20px;
	margin: 0;
}

.settings-content {
	padding: 20px;
	background: #fff;
	box-shadow: 0 0 8px #e0e0e0;
	-webkit-box-shadow: 0 0 8px #e0e0e0;
	-moz-box-shadow: 0 0 8px #e0e0e0;
	-o-box-shadow: 0 0 8px #e0e0e0;
}

.settings-content h4 {
	color: #99a7ba;
	font-size: 16px;
	padding-bottom: 20px;
	margin-bottom: 26px;
	border-bottom: 1px solid #ebedf1;
	max-width: 420px;
}

.settings-content form {
	margin: 0;
}

.settings-content input[type="text"] {
	width: 420px;
	max-width: 100%;
	padding: 10px 0;
	text-indent: 10px;
}

.settings-content .select-box {
	width: 423px;
	max-width: 100%;
	float: left;
	position: relative;
}

.settings-content .sbHolder {
	width: 423px;
	max-width: 100%;
}

.settings-content .sbSelector {
	width: 300px;
	max-width: 100%;
	background: #fff;
	border: 1px solid #d9d9d9;
}

.settings-content .sbOptions {
	width: 423px;
	max-width: 100%;
}

.sample-checkbox {
	position: relative;
	overflow: hidden;
}

.sample-checkbox p,
.settings-toogle p {
	color: #99a7ba;
	font-size: 13px;
	font-weight: bold;
}

.settings-toogle .toogle-item p {
	float: left;
}

.settings-toogle .toogle-item {
	overflow: hidden;
	margin-bottom: 20px;
	width: 423px;
	max-width: 100%;
}

.settings-toogle .toogle-item .make-switch {
	float: right;
}

.edit-line-settings {
	width: 423px;
	max-width: 100%;
}

.settings-toogle p a {
	display: inline-block;
	float: right;
	font-weight: normal;
	font-style: italic;
	color: #4285f4;
	text-decoration: underline;
	padding-left: 26px;
	background: url('/assets/canvas/edit-settings.png') 0 center no-repeat;
}

#todo-list {
	clear: both;
	overflow: hidden;
}

#todo-list form {
	margin: 0;
}

.list-block {
	width: 32.3333333333333%;
	margin-right: 1%;
	float: left;
	box-shadow: 0 0 8px #e0e0e0;
	-webkit-box-shadow: 0 0 8px #e0e0e0;
	-moz-box-shadow: 0 0 8px #e0e0e0;
	-o-box-shadow: 0 0 8px #e0e0e0;
}

.head-list-block {
	padding: 5px 20px;
	background: #4285f4;
}

.head-list-block h1 {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	margin: 0;
}

.content-list-block {
	background: #fff;
	padding: 30px 20px;
	min-height: 700px;
	position: relative;
}

.content-list-block form {
	margin-bottom: 20px !important;
}

.content-list-block form p {
	color: #bababa;
	font-size: 12px;
	margin-bottom: 5px;
}

.content-list-block form p span {
	color: #3a4048;
	font-weight: bold;
}

.content-list-block form p span.number {
	display: inline-block;
	margin-right: 10px;
	color: #4285f4;
	font-weight: normal;
	font-size: 18px;
}

.content-list-block form input[type="text"],
.content-list-block form textarea {
	margin-bottom: 15px;
	width: 100%;
	padding: 6px 0;
	text-indent: 10px;
	margin-left: -1px;
}

.save-list {
	padding: 10px 0;
	background: #5188c9;
	margin-bottom: 10px;
	display: none;
}

.save-list input[type="submit"] {
	margin-left: 10px;
	margin-top: -3px;
}

.save-list input[type="submit"], .save-list a.cancel-list {
	font-size: 13px;
	margin-right: 6px;
	padding: 4px 8px;
}

.save-list a.aditional-detail {
	float: right;
	margin-right: 6px;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
}

.add-work-list .list-rows,
.list-rows-details {
	display: none;
}

.add-work-list {
	position: relative;
	border-bottom: 1px solid #e5e5e5;
}

.work-list-added {
	margin: 0;
}

.work-list-added > li {
	list-style: none;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 0;
}

.left-work-list {
	padding-right: 0px;
}

.left-work-list h1 a {
	display: inline-block;
	width: 14px;
	height: 8px;
	margin-right: 10px;
	background: url('/assets/canvas/expand.png') left center no-repeat;
}

.left-work-list h1 a.active {
	background: url('/assets/canvas/expand1.png') left center no-repeat;
}

.left-work-list h1 img {
	margin-right: 8px;
	margin-top: -2px;
}

.left-work-list h1 {
	color: #99a7ba;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
	font-weight: normal;
}

.left-work-list h1 span {
	font-weight: bold;
}

.list-form-added {
	margin: 0;
	padding-right: 60px;
}

.list-form-added li {
	list-style: none;
	margin-bottom: 7px;
	padding-left: 32px;
	position: relative;
}

.list-form-added li a {
	color: #4285f4;
	font-size: 12px;
	display: inline-block;
	text-decoration: underline;
}

.list-form-added li.experiments-icon {
	background: url('/assets/canvas/list1.png') 2px center no-repeat;
}

.list-form-added li.metric-icon {
	background: url('/assets/canvas/list2.png') left center no-repeat;
}

.list-form-added li.tasks-icon {
	background: url('/assets/canvas/list3.png') 2px center no-repeat;
}

.list-form-added li ul.display-hover-content {
	position: absolute;
	top: 25px;
	left: 0;
	background: #4285f4;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	width: 200px;
	margin: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
	z-index: 10;
	padding-top: 6px;
}

.list-form-added li ul.display-hover-content li {
	list-style: none;
}

.list-form-added li ul.display-hover-content:after {
	position: absolute;
	content: '';
	top: -20px;
	left: 40px;
	border: 10px solid #4285f4;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
}

.list-form-added li:hover ul.display-hover-content {
	opacity: 1;
	visibility: visible;
}

.start-work-list {
	position: absolute;
	font-size: 12px;
	padding: 5px 15px;
	top: 50px;
	right: 0;
}

.text-rows-list p {
	color: #afafaf;
	font-size: 12px;
	background: #e9e9e9;
	line-height: 20px;
	padding: 6px;
	border: 3px dashed #c7c7c7;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
}

.text-rows-list .row-depth {
	padding-left: 40px;
	background: url('/assets/canvas/canvas-arrow.png') 7px center no-repeat;
}

.detail-form-work {
	display: none;
}

.detail-form-work ul {
	margin: 0;
}

.detail-form-work > ul > li {
	list-style: none;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;
}

.detail-form-work > ul > li label {
	color: #99a7ba;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin-bottom: 0;
}

ol.ex-list li {
	color: #99a7ba;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px;
}

.detail-form-work > ul > li input[type="file"] {
	margin-bottom: 10px;
	display: block;
}

.detail-form-work .select-box {
	width: 200px;
	max-width: 100%;
	position: relative;
	margin-top: 5px;
}

.detail-form-work .sbHolder {
	width: 200px;
	max-width: 100%;
}

.detail-form-work .sbSelector {
	width: 187px;
	max-width: 100%;
	background: #fff;
	border: 1px solid #d9d9d9;
}

.detail-form-work .sbOptions {
	width: 200px;
	max-width: 100%;
}

.detail-form-work > a {
	text-decoration: none!important;
	background: #4285f4;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	font-weight: normal;
	margin-right: 0px;
}

.detail-form-work > a:hover {
	background: #99a7ba;
	color: #fff;
}

.link-choices {
}

.link-choices a {
	padding: 5px 5px;
	width: 60px;
	margin-bottom: 2px;
	text-decoration: none;
	text-align: center;
}

p.validated {
	padding-left: 20px;
	background: url('/assets/canvas/tik-list.png') left center no-repeat;
	color: #4285f4;
	font-weight: bold;
	font-size: 12px;
}

p.invalidated {
	color: #CA1818 !important;
}

p.invalidated span {
	color: #CA1818 !important;
}