.comment-box {
  clear: both;
  background-color: #f5f9fc;
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
}
.comment-box .comments {
  padding: 10px;
}

.add-comment-form {
  padding: 10px 12px;
}

.timeline-bottom {
  display: block;
  overflow: hidden;
}
.innerAll.reply-form {
  margin-top: 10px;
  display: block;
  width: 100%;
  clear: both;
}
.add-comment {
  overflow: hidden;
}
.comment {
  border-top: 1px solid #f2f2f2;
  background-color: #fff;
}
.comment-body {
  overflow: hidden;
}
.card .placeholder {
  width: 32px;
  height: 32px;
  text-align: center;
}
.card .comment-box img {
  width: 40px;
}
.card .comment-box .comment .placeholder {
  padding-top: 5px;
}
.comment:last-child {
  border-bottom: none;
}
ul > li, ol > li {
  padding-left: 0px;
}
.post-actions {
  display: none;
}