.events-bg-gradient {

  background: -webkit-linear-gradient(90deg, #FFA17F 10%, #00223E 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #FFA17F 10%, #00223E 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #FFA17F 10%, #00223E 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #FFA17F 10%, #00223E 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #FFA17F 10%, #00223E 90%); /* W3C */

}
.event-wrapper .jumbotron {
  height: 60vh!important;
}
.event-details {
  min-height: 423px;
  max-height: 423px;
}
.full-border-light-left {
  border: 1px solid #e9eaed;
  border-top: 0;
  border-right: 0;
}
.event-start {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  font-size: 25px;
  color: #fff;
  padding: 10px;
  width: 100%;
}
.event-start:before {
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
.full-border-light-right {
  border: 1px solid #e9eaed;
  border-top: 0;
  border-left: 0;
}

body.events.index {
  background: #fff;
}

body.events.index .container {
  max-width: 980px;
}