
.feedbacks-post .comment-list li {
  margin-left: 0;
}
.item-tags.post-meta {
  padding: 0;
}
.feedback-text {
  padding: 0 12px;
}
.redactor_editor {
  padding: 10px 12px!important;
}

.feedback_message-form-textarea h1 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
}

