#help_sidebar {
  position: fixed;
  z-index: 1;
  height: calc(100% - 6px);
}


#help_sidebar .nav .nav>li>a, .sidebar .nav>li a {
  line-height: 1.4;
  padding: 7px 0;
  font-size: 12px;
}

#help_sidebar .nav>li h6,
#help_articles h6 {
  display: block;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 0 0px 0;
  margin-bottom: 10px;
  line-height: 1.6;
  text-decoration: none;
  font-family: 'Montserrat';
  text-transform: uppercase;
}