.review-badge img {
  width: 30px;
}

.activity-badges-list a {
  cursor: pointer;
  opacity: 1;
}
.activity-badges-list a:hover img {
  opacity: 0.8;
}

.latest-activities li:hover {
  background-color: #f6f7f8 !important;
}
.trending-list li:hover {
  background-color: #f6f7f8 !important;
}
.latest-activities li{
  border-bottom-color: #e9eaed !important;
  border-bottom: 1px solid;
  padding: 20px;
  line-height: 1.6;
}
.trending-list li  {
  padding: 5px 20px;
}
.latest-activities > div > div li:first-child {
  border: 0!important;
  border-top: 0;
}
.full-border-light {
  border-top-color: #e9eaed !important;
  border-top: 1px solid;
}

.full-border-light-bottom {
  border-bottom-color: #e9eaed !important;
  border-bottom: 1px solid;
}

.latest-activities .user-pic {
  overflow: hidden;
  float: left;
}

.notification-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.notification-enter.notification-enter-active {
  opacity: 1;
}
.notification-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.notification-leave.notification-leave-active {
  opacity: 0.01;
}
