.idea-meta {
  overflow: hidden;
}

.invest-form {
	width: 30%;
}
.featured-feedback {
	overflow: hidden;
}
.profile-nav {
  display: block;
}

.b-light-grey {
  border-color: #f2f2f2;
}

.idea-latest-activities li a:hover {
  border-bottom: 1px solid #999;
}