.join-wrapper .join .jumbotron {
  height: 60vh;
}
.product-wrapper .product .jumbotron {
  height: 50vh;
}
.how-wrapper .how .jumbotron {
  height: 50vh;
}
.learn-wrapper .learn .jumbotron {
  height: 60vh;
}
.join-photo {
 background-image: image-url('patterns/giftly.png');
}
.join-photo:before,
.learn-photo:before,
.story-photo:before,
.product-photo:before,
.join-mentor-photo:before {
  background: rgba(51, 51, 51, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  z-index: 1;
}
.learn-photo:before {
  background: rgba(51, 51, 51, 0.2);
}
.join-photo:before {
  background: rgba(51, 51, 51, 0.2);
}
.join-mentor-photo:before {
  background: rgba(51, 51, 51, 0.4);
}
.is-scrolling {
  background: #323a45;
  background: rgba(50,58,69,0.95);
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.join-photo,
.learn-photo,
.join-mentor-photo,
.how-photo,
.story-photo,
.product-photo {
  width: 100%;
  height: inherit;
  z-index: 2;
  overflow: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background-color: #10cfbd;
}

.learn-wrapper .learn .story-photo,
.learn-wrapper .learn .how-photo,
.learn-wrapper .learn .product-photo  {
  position: relative;
  margin: 0 auto;
  overflow-x: hidden;
}

.learn-photo {
  background: image-url("patterns/congruent_pentagon.png")
}
.story-photo {
  background: image-url("patterns/uLrWbwC.jpg");
}
.product-photo:before {
  background: rgba(51, 51, 51, 0.2);
}
.how-photo:before {
  background: rgba(51, 51, 51, 0.2);
}
.how-photo {
  background: -webkit-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #134E5E 10%, #71B280 90%); /* W3C */
}
.product-photo {
 background: -webkit-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* Chrome 10+, Saf5.1+ */
 background:    -moz-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* FF3.6+ */
 background:     -ms-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* IE10 */
 background:      -o-linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* Opera 11.10+ */
 background:         linear-gradient(90deg, #F1F2B5 10%, #135058 90%); /* W3C */
}
.join-mentor-photo {
  background: image-url("patterns/syudJMa.png");
}
.join-wrapper .join .cover-photo .pull-bottom {
  z-index: 2;
}

.vmiddle {
  position: relative;
  top: 50%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cta {


  background: -webkit-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #649173 10%, #DBD5A4 90%); /* W3C */


}

.mission {
  background: image-url("building-ecosystem.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
:root .overlay {
  filter: none\0/IE9;
}
.cta-overlay {
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#80000000', endColorstr='#80000000');
  background: transparent;
}
.cta-overlay {
  background: rgba(51, 51, 51, 0.4);
}
.bg-overlay {
  background: rgba(51, 51, 51, 0.2);
}
.b-small {
  width: 10%;
  border: 2px solid;
}
