/* Overrides files */

body.menu-behind .header .brand {
  width: 100px;
}
.select2-chosen, .select2-choice > span:first-child, 
.select2-container .select2-choices .select2-search-field input {
 padding: 0 0 0 8px;
}

span#invalid-email,
span#invalid-username {
  margin-top: 10px;
  display: block;
  background: #F9E9E9;
  padding: 5px;
  display: none;
  font-size: 11px;
  font-weight: bold;
}
input.error:-webkit-autofill {
	background:transparent;
	-webkit-box-shadow: none;
}

.circle {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  border-radius: 50%;
  border: 2px solid #f0f0f0;
  width: 9px;
  height: 9px;
  background: #626c75;
  z-index: 1;
}