/* Overrides files */
body.menu-behind .header .brand {
  width: 55px;
  padding-left: 25px;
}
body, p {
  line-height: 1.6;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.01em;
  line-height: 25px;
  font-style: normal;
  white-space: normal;
}

p {
  margin: 0px 0px 10px 0px;
}

.content-23.v-center, .content-23 .v-center {
  display: table;
  width: 100%;
}
.fs-50 {
  font-size: 50px;
}
.fs-40 {
  font-size: 40px;
}
.fs-30 {
  font-size: 30px;
}
.registrations {
  background: #fafafa;
}
.select2-container .select2-choice {
  box-shadow: none;
}
.select2-container .select2-choice > .select2-chosen {
  padding-left: 0;
}
.content-23.custom-bg {
  background-image: image-url('building-ecosystem.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-master-lightest {
  background: #fafafa;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
/* Z indexes */
.z-index-1 {
  z-index: 0;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.z-index-10 {
  z-index: 10;
}
.idea-content img {
  width: 100%;
}
.idea-content p {
  color: #242d30 !important;
}
.share-box p {
  font-size: 14px;
}
.idea-content  ul > li, .idea-content  ol > li {
  padding-left: 0px;
  line-height: 18px;
  margin-bottom: 1em;
}
.profile-action-buttons {
  float: right;
}
.profile-action-buttons div{
  float: left;
}
.textarea {
  line-height: 1.4;
}
.light {
  opacity: 0.8;
}
.w110 {
  width: 20%;
}
.soulmate-type-suggestions {
  overflow: scroll;
  max-height: 300px;
}
.panel {
  margin-bottom: 10px;
}
.overflow-hidden {
  overflow: hidden;
}
.cup-bg {
  background: #fff image-url('can4.png') center center no-repeat;
}
.badge {
  padding: .4em .8em .4em .2em;
  margin: 0 3px 3px 0;
  text-decoration: none;
  white-space: nowrap;
  font-size: 12px;
  background-color: #333;
  border: 1px solid #333;
  display: inline-block;
  border-radius: 4px;
}
.badge .badge-type {
  display: inline-block;
  overflow: hidden;
  line-height: inherit;
  margin-right: 5px;
  margin-left: 5px;
  width: 7px;
  line-height: 7px;
  border-radius: 100%;
  height: 7px;
}
.badge .badge-type.bronze {
  background: #cd7f32;
}
.badge .badge-type.silver {
  background: #C0C0C0;
}

.badge .badge-type.gold {
  background: #FFD700;
}

.displayblock {
  display: block;
}
.input-group-addon {
  border:1px solid #e5e8e9 !important;
}
.no-content {
  padding: 0;
  margin: 0;
  text-align: center;
  opacity: 0.5;
  font-size: 25px;
  padding: 20px;
}
.no-content span {
  font-size: 12px;
  clear: both;
  display: block;
}

.chat-view .chat-inner {
  padding: 15px;
  overflow-x: hidden;
  height: -moz-calc(100% - 103px);
  height: -webkit-calc(100% - 103px);
  height: calc(100% - 103px);
}
.alert-list {
  border-bottom-color: #e9eaed !important;
  border-bottom: 1px solid;
}
.quickview-wrapper .nav-tabs {
  background-color: #5b98e0;
}
.quickview-wrapper .nav-tabs > li > a {
  color: #fff;
}
.quickview-wrapper .nav-tabs > li > a:hover {
  color: #fff;
  opacity: 1;
}
.quickview-wrapper .nav-tabs > li.active > a {
  color: #fff;
  opacity: 1;
}
.thumbnail-wrapper.d100 {
  line-height: 110px;
}
.textarea:focus {
  background: #fff;
}
.select2-chosen, .select2-choice > span:first-child,
.select2-container .select2-choices .select2-search-field input {
 padding: 0 0 0 8px;
}
.container .page-content-wrapper .content {
  overflow: hidden;
}
span#invalid-email,
span#invalid-username {
  margin-top: 10px;
  display: block;
  background: #F9E9E9;
  padding: 5px;
  display: none;
  font-size: 11px;
  font-weight: bold;
}
input.error:-webkit-autofill {
	background:transparent;
	-webkit-box-shadow: none;
}
.currency_icon {
  width: 20px;
   display: block;
  margin: 0 auto;
  height: 20px;
  color: #fff;
  fill: #ffffff;
}
.container .page-content-wrapper .content {
  z-index: 10;
  padding-top: 60px;
  padding-bottom: 72px;
  min-height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fs-22 {
	font-size: 22px;
}
.text-green {
	color: #00b27f!important;
}
.main-button.invested {
  background: #ff9933;
  border: 1px solid #ff9933;
  background: -webkit-linear-gradient(#ff9933, #ff9933);
  background: linear-gradient(#ff9933, #ff9933);
  color: #fff;
}
.main-button.feedbacked {
  background: #4285f4;
  color: #fff;
  border-color: #4285f4;
}
.main-button.followed,
.main-button.published,
.main-button.privacy-public {
  background: #33cc66;
  border: 1px solid #33cc66;
  color: #fff;
  padding: 4px 8px;
  text-align: center;
}
.bg-green {
  background-color: #00b27f!important;
}
.btn-green {
  background-color: #00b27f!important;
  border: 1px solid #00b27f;
}
.bg-light-blue {
  background: #f5f9fc;
}
.bg-solid-dark {
  background: #4d86c9!important;
}
.b-solid {
  border-color: #4d86c9!important;
}
.no-float {
  float: none!important;
}
.card{
  width: 100%;
  border: 0;
  border-radius: 0;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.card a {
  cursor: pointer;
}
.comment-body p a {
  font-weight: bold;
}
.box-shadow {
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.card.share .card-header,
.card.status .card-header {
  padding: 15px 15px 12px;
  border: 0;
  border-bottom: 1px solid #e1f0fd;
  background: #f5f9fc;
}
.note-air-editor {
  outline: 0;
  background: #fafafa;
  padding: 15px;
}
.panel .panel-heading {
  min-height: 0;
}

.bg-light-blue-lightest {
  background: #f5f9fc;
}
.panel.panel-default {
  border: 1px solid rgba(0, 0, 0, 0.07);
}
.container .jumbotron,
.cover {
  padding-right: 60px;
  padding-left: 60px;
  height: 300px;
  padding: 0;
  background-color: #ddd;
  border-radius: 0;
  margin: 0;
}
.profile-avatar {
  height: 110px;
  width: 110px;
  background-color: #ddd;
}
.absolute {
  position: absolute;
  top:10px;
}
.idea-badge {
  display: block;
}
.absolute.idea-badge {
  position: absolute;
  top: -6px;
  right: -30px;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  padding-top: 8px;
}
.jumbotron .cover-photo {
  background-color: #5b98e0;
}
.bg-solid {
  background: none;
  background-color: #5b98e0;
  overflow: hidden;
}
.text-brand {
  color: #5b98e0!important;
}
.header .bubble {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background-color: rgba(255, 81, 70, 0.8);
  color: #ffffff;
  position: relative;
  top: -6px;
  float: right;
  right: 5px;
  font-size: 11px;
  text-align: center;
  padding: 0;
  padding-top: 2px;
}
.white-bg {
	background: #fff;
	overflow: hidden;
}
.card.share .card-footer:hover {
	background: transparent;
}
.right-zero {
	right: 0;
	left: auto;
}
.circle {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  border-radius: 50%;
  border: 2px solid #f0f0f0;
  width: 9px;
  height: 9px;
  background: #626c75;
  z-index: 1;
}
.placeholder {
  background: #f8d053;
  display: block;
}
.card.share .card-footer .reactions {
  opacity: 1;
}
ul.reactions > div {
  float: left;
}
.pointer {
  cursor: pointer;
}
.w32 {
  width: 32px;
  height: 32px;
}
.table thead tr th {
  padding-left: 20px;
}
.light-bg {
  background: #fafafa;
}
.wrapper-small {
  padding: 60px 0;
}
.wrapper-lg {
  padding: 120px 0;
}
.btn-ghost:hover,
.btn-ghost:focus {
  color: #51646b!important;
}
.idea-badge {
  padding-top: 2px;
}
.bg-white {
  background: #fff!important;
}
.thumbnail-wrapper.d24 {
  width: 24px;
  height: 24px;
}
.thumbnail-wrapper.d24.idea-badge:hover {
  width: 140px;
  border-radius: 5px;
}
.user-pic .placeholder {
	padding:5px;
}
.card.share .card-header .user-pic,
.card .comment-box .user-pic {
  float: left;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.card.share .card-description p {
  margin-bottom: 10px;
}
.card.share .card-header h6 {
  font-size: 12px;
  margin: 0;
  font-family: arial;
  opacity: .45;
  margin-top: 5px;
}
/* Popover */

.popover {
  padding: 0;
  z-index: 1040;
}
.popover-content {
  padding: 0;
  border: 0;
}
.popover-card {
  overflow: hidden;
  width: auto;
  margin-bottom: 25px;
}
.popover-header {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
  margin-top: 20px;
  min-width: 275px;
  padding-right: 15px;
  padding-left: 15px;
}
.popover-card-logo img {
  border-radius: 50%;
}
.popover-card-logo h2,
.popover-card-logo h2 a {
  margin: 0;
  color: #525252;
  font-size: 24px;
  font-weight: normal;
}
.popover-card-logo span {
  color: #999;
  font-size: 12px;
}
.popover-card-stats {
  position: absolute;
  overflow: hidden;
  margin-top: 20px;
  display: block;
  background: #f2f2f2;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 1px solid #e7e7e7;
}

.listing-card {
  overflow: hidden;
  width: auto;
  margin-bottom: 25px;
}
.listing-header {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 60px;
  margin-top: 20px;
  min-width: 275px;
  padding-right: 15px;
  padding-left: 15px;
}
.listing-card-logo img {
  border-radius: 50%;
}
.listing-card-logo h2,
.listing-card-logo h2 a {
  margin: 0;
  color: #525252;
  font-size: 24px;
  font-weight: normal;
}
.listing-card-logo span {
  color: #999;
  font-size: 12px;
}
.listing-card-stats {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  display: block;
  background: #DAEFFD;
  width: 100%;
  border-top: 1px solid #e7e7e7;
}
.card-follow-button {
  margin-top: 10px;
}
.card-follow-button .btn {
  float: none!important;
}
.card-follow-button .btn span {
  color: #fff;
}
.stastics-list {
  display: flex;
  padding: 10px;
  margin: 0;
}
.stastics-list li {
  float: left;
  list-style: none;
  text-align: center;
  -webkit-flex: 1;
  flex: 1;
  font-size: 14px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999;
}
.search-follow-idea {
  float: right;
  display: block;
  overflow: hidden;
  padding: 10px 12px;
}
.stastics-list li span {
  color: #4e5052;
  font-size: 12px;
  display: block;
  font-weight: bold;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Override CSS */

.chose-image-list {
  margin-right: 10px;
  border-radius: 3px;
}
.chosen-container-multi .chosen-choices {
  box-shadow: none;
  background: transparent;
  padding: 5px 8px;
  width: auto;
  border-radius: 0px;
  border: 1px solid #dadada;
}
.chose-image {
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 3px;
}
.chosen-container-active .chosen-choices {
  box-shadow: none;
  background: transparent;
  padding: 5px 8px;
  width: auto;
  border-radius: 0px;
  border: 1px solid #dadada;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  padding: 5px 8px;
}
.chosen-results li {
  border-bottom: 1px solid #e7e7e7;
}