/* Overrides files */

body.menu-behind .header .brand {
  width: 50px;
}
.select2-chosen, .select2-choice > span:first-child, 
.select2-container .select2-choices .select2-search-field input {
 padding: 0 0 0 8px;
}

span#invalid-email,
span#invalid-username {
  margin-top: 10px;
  display: block;
  background: #F9E9E9;
  padding: 5px;
  display: none;
  font-size: 11px;
  font-weight: bold;
}
input.error:-webkit-autofill {
	background:transparent;
	-webkit-box-shadow: none;
}
.currency_icon {
  width: 20px;
   display: block;
  margin: 0 auto;
  height: 20px;
  color: #fff;
  fill: #ffffff;
}
.container .page-content-wrapper .content {
  z-index: 10;
  padding-top: 60px;
  padding-bottom: 72px;
  min-height: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fs-22 {
	font-size: 22px;
}
.text-green {
	color: #66ffcc!important;
}
.card{
  width: 100%;
  border: 0;
  border-radius: 0;
  margin-bottom: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.box-shadow {
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.card.share .card-header,
.card.status .card-header {
  padding: 15px 15px 12px;
  border-bottom: 1px solid #e1f0fd;
  border: 0;
  background: #e1f0fd;
}
.panel .panel-heading {
  min-height: 0;
}
.container .jumbotron {
  padding-right: 60px;
  padding-left: 60px;
  height: 300px;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  margin: 0;
}
.jumbotron .cover-photo {
  background-color: transparent;
}
.bg-solid {
  background: none;
  background-color: #5b98e0;
  overflow: hidden;
}
.text-brand {
  color: #5b98e0!important;
}
.header .bubble {
  border-radius: 100%;
  height: 20px;
  width: 20px;
  background-color: rgba(255, 81, 70, 0.8);
  color: #ffffff;
  position: relative;
  top: -6px;
  float: right;
  right: 5px;
  font-size: 11px;
  text-align: center;
  padding: 0;
}
.white-bg {
	background: #fff;
	overflow: hidden;
}
.card.share .card-footer:hover {
	background: transparent;
}
.right-zero {
	right: 0;
	left: auto;
}
.circle {
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  border-radius: 50%;
  border: 2px solid #f0f0f0;
  width: 9px;
  height: 9px;
  background: #626c75;
  z-index: 1;
}
.placeholder {
  background: #f8d053;
  display: block;
}
.user-pic .placeholder {
	padding:5px;
}
