/* Profile styles */

.cover-edit-menu {
  position: absolute;
  top: 20px;
  z-index: 20;
  right: 20px;
  cursor: pointer;
}
.cover-edit-menu button {
  opacity: 0.8;
}
.edit-profile {
  display: none;
}
.jumbotron:hover .cover-edit-menu button {
  opacity: 1;
}
.role-badge {
  left: 45%;
  top: 0;
}
.drag-handle {
  position: absolute;
  z-index: 100;
  display: none;
  margin-top: 130px;
  left: 40%;
  cursor: pointer;
  text-align: center;
}
.jumbotron .cover-photo {
  width: auto;
}
.jumbotron.drag .drag-handle {
  display: block;
}
.jumbotron.drag #coverpic {
  z-index: 15;
}
.user-profile {
  width: 110px;
}
.clearfix {
  clear: both;
}
.profile-nav {
  clear: both;
}
#profilepic {
  display: block;
  position: relative;
}
.trigger-file-upload {
  position: absolute;
  bottom: -35px;
  z-index: 2;
  color: #fff;
  font-size: 18px;
  left: 45px;
}
#trigger-file-upload {
  opacity: 0.4;
}
#profilepic:hover a#trigger-file-upload {
  opacity: 1;
}
.main-button,
.main-button2,
.btn.main-button,
.btn.main-button2 {
  display: inline-block;
  color: #4285f4;
  font-size: 13px;
  background: #e7e7e7;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border: 1px solid #e7e7e7;;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  background: linear-gradient(#FCFCFD, #F3F4F5);
  background-origin: border-box;
  border: 1px solid #dadada;
  text-shadow: none;
  text-transform: inherit;
  letter-spacing: 0.02em;
  font-weight: normal;
  line-height: 21px;
  padding-left: 17px;
  padding-right: 17px;
  padding: 6px 12px;
}
.confirm-signup {
  position: relative;
  padding: 25px 5px 22px 40px;
}
.main-button.cancel-cover {
  margin-right: 10px;
}
.main-button2 {
  padding: 5px 20px;
  background: #4285f4;
  border: 1px solid #4e88cd;
}
.main-button:hover,
.main-button2:hover {
  opacity: 0.8;
}

.profile-card-sidebar .about-list a:hover {
  border-bottom: 1px solid #fff;
  opacity: 1;
}

/* Background for different users */

.bg-student {
  background: #5b98e0 !important;
}

.bg-user {
  background: #5b98e0 !important;
}

.bg-alumni {
  background: #4d6286 !important;
}

.bg-faculty {
  background: #48b0f7 !important;
}