/* Profile specific CSS */

.tokenfield.focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
  padding-bottom: 5px;
}
input:focus {
  border-color: none;
  outline: 0;
  box-shadow: none;
}
textarea.form-control:focus {
  height: auto;
  border: none;
  box-shadow: none;
}
.form-control-wrapper {
   margin-bottom: 10px;
}
textarea.form-control {
  height: auto;
  padding: 0;
  font-size: 14px;
  border: none;
  box-shadow: none;
}
.form-control {
  padding-bottom: 5px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.form-control:focus {
  padding-bottom: 5px;
}

i.icon-clock3 {
  font-size: 10px;
}
.form-control-wrapper .form-control {
  padding-bottom: 10px;
  font-size: 13px;
}
.form-control-wrapper .form-control:focus {
  padding-bottom: 10px;
}
.tokenfield {
  margin-bottom: 25px;
}
.tokenfield.form-control {
  margin-top: 5px;
  border: none;
  padding: 0;
}
.tokenfield .token-input {
  background: none;
  width: auto!important;
  border: 0;
  height: 20px;
  padding: 0;
  margin-bottom: 6px;
  color: #6d6e71;
  font-size: 13px;
  padding: 13px 0px;
  border-radius: 0px;
  border: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.tokenfield .token {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  background-color: #ededed;
  white-space: nowrap;
  margin: 0px 5px 5px 0;
  height: 22px;
  vertical-align: top;
  cursor: default;
}
.edit-profile-mode .form-control {
  width: 75%;
  margin-bottom: 8px;
  margin-top: 8px;
}

.tokenfield.form-control {
  margin-top: 5px;
}

.ideas-box {
  overflow: hidden;
  position: relative;
  background: #fff;
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  box-shadow: 0 1px 5px #e5e5e5;
  -webkit-box-shadow: 0 1px 5px #e5e5e5;
  -moz-box-shadow: 0 1px 5px #e5e5e5;
  -o-box-shadow: 0 1px 5px #e5e5e5;
  overflow: hidden;
}
/* Publish new story */

.no-story {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
  font-size: 20px;
  color: #ccc;
}
.no-story h2 {
  font-size: 24px;
}
.block .profile-placeholder-text {
  margin-top: 5px;
  color: #fff;
  font-size: 18px;
  text-align: center;
  opacity: 0.7;
  margin-top: 10%;
}
.user-data .profile-placeholder-text {
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 10px;
}

.badges-box {
  overflow: visible;
  background: #fff;
}
.idea-badges {
  position: relative;
  overflow: hidden;
}

.col-md-8 .big-box {
  margin-bottom: 10px;
}

.menu .dropdown-menu {
  right: auto;
  top: 108px;
  min-width: 110px;
  padding: 0;
  margin: 0;
}

.menu .dropdown-menu::after {
  right: 50%;
}

.menu .dropdown-menu::before {
  right: 50%;
}

/* Progress Bar */

progress, progress[role] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-size: auto;
  height: 50px;
  width: 100%;
}

.achievement-list {
  list-style: none;
  margin: 0;
  padding: 1em;
}

.achievement {
  margin-bottom: 1em;
  position: relative;
}
.achievement:last-child {
  margin-bottom: 0;
}
.achievement h3 {
  color: #fff;
  left: 1em;
  line-height: 1;
  position: absolute;
  top: 0.5em;
  margin-top:0;
}
.achievement ::-webkit-progress-value {
  -webkit-animation: bar-fill 2s;
  width: 0px;
}

.investments::-webkit-progress-value {
  background: #ff9e2c;
}

.investments::-moz-progress-bar {
  background: #ff9e2c;
}

.badges::-webkit-progress-value {
  background: #4ecdc4;
}

.badges::-moz-progress-bar {
  background: #4ecdc4;
}

.followers::-webkit-progress-value {
  background: #ff6b6b;
}

.followers::-moz-progress-bar {
  background: #ff6b6b;
}
