<div class="modal fade fill-in" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
  <i class="pg-close fs-14"></i>
</button>
  <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body v-align-middle">
          <%= render_activity(@activity) %>
        </div>
      </div>
  </div>
</div>