<div class="modal fade slide-right no-border" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i></button>
  <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body no-border no-padding bg-white">
            <% cache(["beta", current_user, @activity]) do %>
             <%= render_activity(@activity) %>
            <% end %>
      </div>
    </div>
<!-- /.modal-dialog -->
</div>
</div>

