<div class="sidebar auto-height box-shadow">
    <% cache(["beta", "home_sidebar_card", current_user]) do %>
        <%= render partial: 'sidebar_card' %>
    <% end %>
    <%= cache(["beta", "home_latest_ideas", Idea.latest_20.present? && Idea.latest_20.first[:updated_at]]) do %>
      <%= react_component('LatestIdeas', {ideas: Oj.dump({
          list: Idea.latest_20,
          type: 'Latest Ideas'
        }, mode: :compat)} ) %>
    <% end %>
    <% cache(["beta", "people_you_may_know_sidebar", current_user.followings_ids.members.length]) do %>
      <% if current_user.people_you_may_know.length > 3 %>
          <%= render partial: 'people_you_may_know' %>
      <% end %>
    <% end %>
</div>
