<div class="col-md-7">
	<ul class="follow-list">
		<li>
	  	<i class="ion-person-stalker"></i> Followers
	    <span><%= @organization.followings.size %></span>
	  </li>
		<li>
	  	<i class="ion-person-stalker"></i> Students
	    <span><%= @organization.users_count %></span>
	  </li>
		<li>
			<i class="ion-person-stalker"></i> Ideas
			<span><%= @organization.ideas_count %></span>
		</li>
	</ul>
</div>
